<h1> Altre funzionalità</h1>
<p>
    Oltre all’uso degli stili, il codice sorgente può essere reso più leggibile  attraverso il <strong>code folding</strong>, cioè la capacità dell’editor di nascondere
    temporaneamente il contenuto di una struttura (ad esempio, una  funzione).<br>
    Un’altra funzionalità utilissima è la corrispondenza delle parentesi  (brace matching), che permette di vedere dove termina una struttura  delimitata appunto da parentesi, come nell’esempio.<br>
    Una terza funzionalità è l’autocompletamento: quando il  programmatore comincia a scrivere una parola, l’editor le/gli propone il termine del linguaggio più vicino, utilizzando non solo il suo  vocabolario del linguaggio (che di solito è piuttosto piccolo), ma  anche le parole inserite in precedenza nel testo, ad esempio i nomi di  variabili, e in generale sfruttando la conoscenza della sintassi del   
    linguaggio.
</p>
