<h1> Debugger </h1>
<p>
Gli IDE hanno anche la capacità di controllarne la correttezza di un codice sorgente dal punto di vista lessicale, sintattico e semantico. <br>
Il primo controllo si limita a verificare che non ci siano termini estranei al linguaggio e non definiti.<br>
Il secondo controllo verifica che le istruzioni scritte non violino la grammatica del linguaggio usato: chiusura delle parentesi, mancanza di valori per parametri obbligatori, scrittura corretta di termini del linguaggio.<br>
Il terzo è più sofisticato: viene verificato che, ad esempio, una variabile o una funzione non vengano utilizzate  prima di essere state definite, nel codice stesso oppure in  qualcuno degli altri file collegati a questo.<br>
Ma è difficile che un codice sorgente venga eseguito la prima volta senza errori, anche se ha superato i controlli dell'IDE ed è corretto formalmente. E' per questo che sono nati i debugger.<br>
Un debbugger (letteralmente: uno scopritore di bug. Se non sapete cos'è un bug, andate a leggere il pannello dedicato a Grace <codeshow>Hopper</codeshow>) è un programma, o una modalità di funzionamento di un IDE, che esegue un codice sorgente passo passo, un'istruzione per volta, e mostra il valore delle variabili in quell'istante.<br>
E' insomma una specie di moviola calcistica avanzatissima, in cui si possa chiedere la posizione, la velocità, l'accelerazione della palla e di ogni giocatore coinvolto nell'azione. Si può accelerare, rallentare, andare in profondità seguendo l'esecuzione di ogni funzione richiamata oppure restare in superficie.<br>
In questo modo si riesce di solito a capire perché un codice si comporta diversamente da come l'autore l'aveva immaginato - ovvero, si ricostruiscono le ragioni degli <codeshow>errori</codeshow>.
    
</p>
