<h1> Emacs </h1>
<p>Emacs nasce negli stessi anni di <codeshow>vi</codeshow> nel laboratorio di Intelligenza  Artificiale del MIT a Boston ad opera di Guy Steele e Richard <codeshow>Stallman</codeshow>, come collezione di macro (cioè di sequenze di comandi  associate alla pressione di un tasto) per l’editor <a href="https://it.wikipedia.org/wiki/TECO">TECO</a> per il sistema
    operativo ITS.<br>
    La versione GNU Emacs, riscritta nel 1984 da Stallman in C e Lisp, è  la più diffusa.<br>
    Una caratteristica di GNU Emacs è che le operazioni di modifica,  formattazione etc, sono in effetti comandi eseguiti dall’interprete Lisp.<br>
    Questo, oltre a rendere Emacs molto potente, permette di aggiungere  o modificare funzionalità direttamente durante l’uso di Emacs, senza  dover ricompilare il programma.
    </p>
