<h1 i="Evidenziazione">Evidenziazione</h1>
<p>
Una delle funzionalità ormai irrinunciabili in qualsiasi editor di codice sorgente - e che non ha corrispondenze altrove, se non nei correttori ortografici dei word processor moderni - è l’uso dei colori e degli stili per evidenziare la sintassi di un codice sorgente. Ad esempio, viene usato un colore per le costanti, uno per le variabili, uno per le funzioni e un altro per tutte le parole riservate del linguaggio.<br>

Esistono schemi di colori specifici per i diversi linguaggi, che  possono essere applicati automaticamente dagli editor quando  sono in grado di riconoscere il linguaggio di un codice sorgente dall’estensione del file, da caratteristiche strutture sintattiche o grazie all’intervento manuale dell’utente.<br>
Questi schemi sono, in sostanza, delle grammatiche che  associano ad elementi lessicali o parti del discorso a un certo stile, come farebbe un foglio <a href="https://it.wikipedia.org/wiki/CSS" target="_blank">CSS</a> per un documento HTML<br>
I primi editor in grado di evidenziare la sintassi con il colore e gli  stili nascono a metà degli anni ‘80.
</p>
<p>
Oltre all’uso dei colori, il codice sorgente può essere reso più leggibile  attraverso il <strong>code folding</strong>, cioè la capacità dell’editor di nascondere  temporaneamente il contenuto di una struttura (ad esempio, una  funzione).<br>
<img src="fold.png" alt="Code Folding" title="Originale">
<img src="fold1.png" alt="Code Folding" title="Originale">
Un’altra funzionalità utilissima per rende più leggibile la struttura di un codice è la corrispondenza delle parentesi  (<i>brace matching</i>), che permette di vedere dove termina un blocco (almeno, nei linguaggi in cui i blocchi sono racchiusi tra parentesi).<br>
<img src="brace_matching.png" alt="Brace Matching" title="Brace Matching">
</p>
