<h1 id ="IDE"  data-q="Eclipse è un tipo di..." data-a="IDE" >IDE</h1>
<p>Come la scrittura di un romanzo non richiede solo una macchina da scrivere, ma ricerche bibliografiche, confronti, selezione e riuso di porzioni di altri testi, così la scrittura di codici sorgenti è  un’attività più complessa della semplice pressione di tasti davanti ad un monitor.<br>
E’ da questa constatazione che nascono gli <a href="https://it.wikipedia.org/wiki/Integrated_development_environment" target="_blank">IDE</a>(Integrated  Development Environment). Sono ambienti di sviluppo – non più solo  di scrittura – che mettono insieme tutte le funzionalità utili per la progettazione e scrittura di un codice sorgente. <br>
Qui l’oggetto  principale non è più il pezzetto di codice, ma il progetto, che può  essere composto da centinaia o migliaia di file diversi, anche scritti in linguaggi diversi. Un progetto che può essere condiviso tra diversi  sviluppatori e quindi deve poter essere gestito tramite un Concurrent  Versioning System come Subversion o Git.<br>
Gli IDE sono programmi grossi, complessi, il cui apprendimento  richiede tempo. Quando un programmatore ha scelto un IDE di solito tende ad usarla per tutto il suo lavoro, perché l’investimento  di tempo che è stato necessario per apprenderne l’uso è  importante. La disposizione delle finestre sullo schermo, i nomi dei  menù e degli elementi dei menù, la logica generale possono essere molto diverse da un IDE all’altro, e raramente si ha voglia  di ricominciare sempre da capo.<br>
Come si può facilmente immaginare, gli IDE hanno un ruolo   centrale cultura dei programmatori. Scegliere o un IDE è una   questione non solo tecnica, ma culturale. Chi usa Eclipse non usa  Netbeans, chi usa Visual Studio non usa IntellijIDEA: un po’ come  per i linguaggi, ci sono partiti pro e contro.<br>
<br>
<img src="Visual_Studio.jpg" alt="Visual Studio" title="Originale">
A monte, scegliere di usare un editor di codice sorgente oppure un  IDE definisce il programmatore in un certo modo, lo colloca in una categoria precisa. <br>
C’è chi ritiene che più lo strumento è potente,  meno libertà viene lasciata all’utente, e c’è chi ritiene che oggi la     programmazione sia un’attività troppo complessa per essere  affrontata con strumenti basilari come un editor.
</p>
