<h1 id="Interfacce">Scrittura e strumenti</h1>
<p>I primi passi della scrittura avvengono, pare,  tra il Tigri e l’Eufrate, circa cinquemila anni fa. Ma pratiche equivalenti di fissazione di simboli erano probabilmente avviate anche in Egitto e in Cina nello stesso periodo. <br>
Dopo le tavolette di argilla, in cui il segno è tracciato in tre dimensioni, scolpendo la superficie, arriva l’idea inversa:  utilizzare un liquido – l’inchiostro - che asciugandosi lasci dei depositi sul supporto. <br>
Si passa così al papiro al posto dell’argilla, e al calamo al posto dello stilo (un semplice bastoncino). Il calamo (cioè una canna vuota) oppure la penna di uccello: insomma qualcosa di appuntito e cavo che faciliti lo scorrere dell’inchiostro. <br>
Questo meccanismo è rimasto invariato per i successivi quattromila anni, ed è all’origine di metafore potenti, come quella del flusso del pensiero che nasce nella mente, passa attraverso la mano e alla fine viene depositato sulla carta. Quando si decantano i meriti della scrittura manuale su quella digitale probabilmente si ha in mente proprio questo modello mentale. <br>
Dal calamo passano i secoli, e anzi i millenni, prima di arrivare all’idea di rendere fisici i modelli dei segni alfabetici e usare i caratteri fissi della stampa per riprodurre copie infinite della matrice, attraverso l’opera di un artigiano specializzato;  ancora altri secoli per arrivare ad una macchina  in grado di comporre questi caratteri in tempo reale. <br>
Una macchina che può essere usata da tutti, con un po’ di formazione tecnica. Ma che all’inizio fu appannaggio quasi esclusivo di una categorie professionale di donne, le dattilografe. Questo punto lo approfondiremo nella stanza dedicata al genere.
</p>
