<h1> Macchine e scrittura </h1>
<p>
    La prima macchina da scrivere nasce come idea rivoluzionaria   intorno all’inizio dell’Ottocento, tra l’altro proprio in Italia (Fizzoni e
    poi Ravizza); col passare del tempo diventa un prodotto  industriale. <br>
    Nel 1864 viene brevettato l’ordine dei tasti (quello che   trovate in moltissime tastiere dei computer: <a href="https://it.wikipedia.org/wiki/QWERTY">QWERTY</a>).
    Fra l’altro: vi siete mai chiesti perché proprio quell’ordine – che   trovate ancora oggi nelle tastiere dei computer? Perché le
    macchine da scrivere funzionavano con dei martelletti collegati ai  tasti. Le asticelle di metallo che permettevano ai martelletti di
    colpire la carta potevano incastrarsi e quindi storcersi nel caso in cui due martelletti vicini venissero attivati
    quasi contemporaneamente.<br> 
    Di qui l’idea di Christopher Sholes di  allontanare le lettere più frequenti, tenendo conto anche del fatto
    che la scrittura avviene con dieci dita. <br>
    La disposizione QWERTY  però non è l’unica, e alcune lingue hanno preferito una diversa disposizione, in base alla diversa frequenza delle lettere nel
    proprio alfabeto. Ad esempio, in tedesco la Y è sostituita dalla Z e  in francese la Q è sostituita dalla A.<br>
    Probabilmente molte password sono ingenuamente scelte  utilizzando le lettere della prima riga della tastiera. Comunque,
    Ray Tomlinson, l’inventore dell’email, racconta che il testo della  prima email inviata da lui fosse appunto QWERTYUIOP.</p>
<p> 
    Il telegrafo, grande antenato di internet, ha varie trasformazioni  prima di arrivare a quello elettrico brevettato da Samuel Morse nel
    1837 insieme ad un codice che mette in corrispondenza lettere e impulsi elettrici di durata diversa.<br>
    La prima telescrivente (fine dell’Ottocento) era sostanzialmente  un’interfaccia per il telegrafo, ma molto più comoda perché usava
    la tastiera di una macchina da scrivere per inserire il testo dei  messaggi; inoltre permetteva di stampare i messaggi ricevuti. Le
    telescriventi erano quindi già diffusissime quando si penso di  usarle anche per programmare i computer.<br>
    Una curiosità: quando si voleva testare una telescrivente, si usava  un pangramma, cioè una frase che contiene tutte le lettere
    dell’alfabeto. In inglese, questa frase è <strong>“The quick brown fox jumps  over the lazy dog”</strong>. In Italiano, la versione più nota è <strong>“Ma la volpe
    col suo balzo ha raggiunto il quieto Fido”</strong>.<br> 
    Queste frasi, per un   omaggio al mondo delle telescriventi, vengono usate ancora oggi  quando si vuole installare una nuova font.
    </p>
