<h1 id="Programmi"> Programmi per scrivere programmi </h1>
<p> Per inviare una stringa di comandi ad un computer serve un programma che sia in grado di ricevere segnali da una tastiera e metterli in coda.<br> 
Uno dei primi pezzi del sistema operativo Unix fu ed, cioè l’editor lineare, scritto da Ken <codeshow>Thompson</codeshow> nel 1969 basandosi  a sua volta su QED,era un editor di testo in linea , che era di qualche anno precedente ed era stato sviluppato all’Università di Berkeley per il sistema SDS 940.<br>
Ma presto divenne evidente che per scrivere un programma  complesso l’editing a livello di riga non è sufficiente: l’unità della riga è troppo limitata.
</p> 

<p> Insomma nasce l’idea di elaborare il codice sorgente di un  programma come un oggetto unico, esattamente come si elabora il testo di una lettera o di un romanzo.<br>
Provate a immaginare la differenza tra una lettera dettata ad uno scrivano e una lettera scritta. Nel primo caso bisogna avere in mente tutto il testo; nel secondo caso si può partire da uno  schema, iniziare dalla fine, intervenire su ciò che è stato già scritto.
Elaborare significa salvare, caricare, stampare, ma anche cercare, sostituire, spostare; ma per poter leggere e capire un codice sorgente (che può raggiungere facilmente le decine di migliaia di righe anche per un modulo semplice) occorre anche  impaginare, evidenziare.<br>
Queste funzionalità stanno a metà tra lo strumento e il linguaggio, nel senso che appartengono all'ambiente ma si adattano al linguaggio di programmazione usato. L'<codeshow>evidenziazione</codeshow> del codice è possibile e sensata se il programma di scrittura conosce il linguaggi di programmazione e sa quali sono i termini che vanno resi più visibili di altri. <br>
Un  altro esempio è l’autocompletamento: quando il  programmatore comincia a scrivere una parola, l’editor le/gli propone il termine del linguaggio più vicino, utilizzando non solo il  lessico standard del linguaggio (che di solito è piuttosto piccolo), ma  anche le parole inserite in precedenza nel testo, ad esempio i nomi di  variabili o di funzioni.

</p>
