<h1> Schemi di colori </h1>
<p>
    Se lo schermo deve simulare la carta, sembra logico che i caratteri  siano neri e la pagina sia bianca. <br>
    Alcuni studi sembrano però  indicare che la lettura di un testo scuro su fondo chiaro  (all’estremo: bianco su nero) affatica la vista (oltre a consumare  più elettricità).<br>
   <img src="Schema_colori.png" alt="Schema" title="originale">
    Su questa base, alcuni sviluppatori hanno creato degli schemi di   colori inversi, cioè con il testo chiaro su sfondo scuro.<br>
    C’è un’altra giustificazione per questi schemi inversi: il fatto che i   terminali con cui ci si collegava ai grandi computer erano dotati di  monitor a fosfori. <br>
    Questi monitor – utilizzati tra gli anni ‘60 e gli   anni ‘80, anche sui primi personal computer – utilizzavano un font  a spaziatura fissa, avevano un numero limitato di colonne, e   soprattutto presentavano un testo che poteva essere verde, ambra  o bianco su fondo nero.<br>
    Ancora oggi, lo schema di default per la CLI (Command Line   Interpreter) di Linux ma anche Windows, ovvero la finestra che   permette di eseguire direttamente comandi, è verde su nero.
    <img src="terminale.png" alt="Terminale" title="Esempio di terminale Linux">
</p>
