<h1> Screen savers</h1>
<p>
    Una caratteristica nota dei monitor a fosfori verdi era la tendenza con l’uso a bruciare certe aree più sollecitate, o a lasciare una  ‘immagine fantasma’ anche dopo lo spegnimento del fosforo  corrispondente. <br>
    Questa caratteristica è entrata a far parte della  cultura popolare relativa all’informatica dei tempi eroici, e si ritrova     in omaggi cinematografici come quello di Matrix.<br>
    D’altra parte, da questa caratteristica negativa nasce una  categoria particolare di programmi: gli screen saver, i salva-schermo. Nati per risparmiare i fosfori dei monitor, sono in seguito diventati una forma d’arte digitale, tanto da essere usati anche per la pubblicità.</p>
<p>    
    La relazione degli screen saver con il codice sorgente è stretta: se il codice sorgente mostrato nel film Matrix ha dato origine ad una  quantità di screen saver. <br>
    Il progetto Electric Sheep è uno screen  saver che viene creato da un algoritmo genetico grazie ad una rete di circa mezzo milione di computer collegati tra loro.<br>
    Il primo screen saver venne scritto nel 1983 per i PC IBM e si limitava a spegnere lo schermo dopo tre minuti di attività.
    Il primo screen saver di una certa notorietà e diffusione è  probabilmente quello che rappresenta dei tostapane alati, ed è stato realizzato dalla Berkeley Software per la Apple nel 1989.<br>
    Ma il primo screen saver in assoluto viene descritto nel 1961 in un  romanzo di fantascienza di Robert Heinlein e rappresenta un  acquario.
</p>
