<h1> VI  </h1>
<p> Uno dei primi programmi per scrivere altri programmi è vi, scritto da
    Bill Joey nell’università di Berkeley nel 1976 per <a href="https://it.wikipedia.org/wiki/Berkeley_Software_Distribution" target="_blank">BSD</a>, la prima
    versione del sistema operativo <a href="https://it.wikipedia.org/wiki/Unix" target="_blank">Unix</a>.<br>
    Vi è un programma modale, ovvero i tasti premuti dall’utente possono  avere significati diversi a seconda della modalità in cui ci si trova  (inserimento o comando). <br>
    Questa doppia modalità rende l’uso di vi più difficile per i principianti, ma molto comodo quando si voglia modificare
    un file che sta fisicamente su un computer remoto a cui ci si collega  con un protocollo testuale, che era la situazione tipica di quegli anni,  ma che è ancora frequente oggi.
 </p>
<p>Proprio perché un comando corrisponde ad un simbolo, più comandi possono essere eseguiti uno dopo l’altro. Quello che  segue è un comando valido per vi, per quanto non particolarmente  utile (aggiunge un asterisco alla fine di ogni riga che già termina con un asterisco):<br><br>
    :%s/\*.*$/&\*/ –><br><br>
    
    <b>Vim</b>, scritto nel 1991 da Bram Moolenar sul computer Amiga, è una  variante di vi dedicata soprattutto alla scrittura di codice sorgente. E' una versione di vi più semplice, dotata di un’interfaccia  grafica con menù, che permette l’uso del mouse.
  </p>
