<h1 id="ACM">ACM</h1>
<p>
In quanto sezione dell’Association for Computing Machinery (una delle storiche associazioni dedicate all'Informatica), l’ACM-W spinge a livello internazionale per una presenza delle donne nel mondo digitale. <br>
Con le parole dell'Associazione: <br>
<pre>
	ACM-W supports, celebrates, and advocates internationally for the full engagement of women 
	in all aspects of the computing field, providing a wide range of programs and services to 
	ACM members and working in the larger community to advance the contributions of technical women.
</pre>
</p>
<img src="https://women.acm.org/wp-content/uploads/2018/12/celebrations.png" alt="ACM" title="https://women.acm.org"

