<h1 id="Associazioni">Associazioni</h1>
<p>Qui trovate alcune delle associazioni attive nel supportare la donne nella programmazione e in generale nell'informatica.
<h3>ACM-W</h3>
In quanto sezione dell’Association for Computing Machinery (una delle storiche associazioni dedicate all'Informatica), l’ACM-W spinge a livello internazionale per una presenza delle donne nel mondo digitale. <br>
Con le parole dell'Associazione: <br>
<pre>
	ACM-W supports, celebrates, and advocates internationally for the full engagement of women 
	in all aspects of the computing field, providing a wide range of programs and services to 
	ACM members and working in the larger community to advance the contributions of technical women.
</pre>
<img src="https://women.acm.org/wp-content/uploads/2018/12/celebrations.png" alt="ACM" title="https://women.acm.org">
</p>
<p>
EWiD è una piattaforma Europea per la promozione della partecipazione di ragazze e donne nello studio e nella professione, connettendo organizzazioni diverse. Gli obiettivi di EWiD:<br>
<ul> 
<li>Amplify effort to close the digital gender divide</li>
<li>Champion diversity in digital-related projects, events, networks and media</li>
<li>Promote "women in digital" as the norm rather than the exception</li>
<li>Harness the power of partnership to achieve all the foregoing</li>
</ul>
<img src="https://bmbf.nawam-erwas.de/sites/default/files/ewid-logo_neu.jpg" alt="EWiD Logo" title="https://bmbf.nawam-erwas.de/">
</p>
<p>Un esempio statunitense di centro di supporto per la promozione delle donne nel mondo tecnologico è il National Center for Women & Information Technology, il cui slogan è: <br>
The idea you don’t have  is the voice you haven’t heard.<br>
<pre>
	NCWIT is a non-profit community that convenes, equips, and unites 
	change leader organizations to increase the meaningful participation of all women 
	— at the intersections of race, ethnicity, class, age, sexual orientation, and disability status —
	 in the influential field of computing, particularly in terms of innovation and development.
</pre>
<img src="https://en.wikipedia.org/wiki/National_Center_for_Women_%26_Information_Technology#/media/File:NCWITSquareLogo.png" alt="NCWIT Logo" title="https://en.wikipedia.org/wiki/National_Center_for_Women_%26_Information_Technology">
<br>
Il <a href="https://ncwit.org/" target="_blank">NCWIT</a> è sponsorizzato da multinazionali quali Apple, Microsoft, Intel, Google, AT&amp;T …<br>
</p>

