<h1 id="Coding">Coding</h1>
<p>
Il significato della parola “coder” in quegli anni era molto preciso: erano le persone che si occupavano dell’ultima delle sei fasi della programmazione secondo  Neuman e Goldstine.<br>
“Coding” è la fase più banale, statica: si trattava di trasformare il programma immaginato dagli ingegneri in un formato leggibile dal computer (per esempio, per essere trasferito su un supporto come le schede perforate). <br>
Ma emerge un fatto non previsto: chi conosce sia la macchina che il programma è spesso nella posizione migliore per individuare errori e suggerire correzioni; che è esattamente quello che fanno le sei <codeshow>ENIAC_girls</codeshow>, inventando letteralmente una professione: non semplicemente dattilografe, non solo traduttrici, ma creatrici di codice sorgente.
<img src="https://imgcdn.agendadigitale.eu/wp-content/uploads/2018/09/17110829/coding1-e1537175323752.jpg" alt="Coder" title = "https://www.agendadigitale.eu/scuola-digitale/ma-quale-coding-a-scuola-serve-la-vera-informatica-per-innovare-il-paese/">
</p>
