<h1 id="DatiStatisticiInformatica">Dati Statistici sull'Informatica</h1>
<p>
Basta consultare il portale ISTAT per rendersi conto che questa percezione corrisponde a realtà: in Italia, nelle facoltà in cui si insegna informatica le ragazze sono molte meno dei ragazzi.
Le laureate nelle discipline del gruppo di Ingegneria sono il 23,59% del totale (in leggera crescita negli ultimi dieci anni), mentre sul totale la percentuale  è del 57,40%.  
Ma anche per le docenti universitarie non va meglio: mentre la percentuale di docenti donne in tutte le facoltà è del 35,48%, nel caso delle discipline di ingegneria si scende a 19,05%.
</p>
<img src="DocentiUniversitari.png" alt="Istat" title="http://dati.istat.it/Index.aspx?QueryId=26175">

