<h1 id="DevelopersAndCoders">Developers And Coders</h1>
<p>
L’uso di “programmatore” come sinomimo di “coder” (cioè colui che si limita a codificare in qualche linguaggio un algoritmo inventato da altri) è ancora presente nelle categorizzazione del Bureau of Labor Statistics USA, in cui i Software Developers creano il programma mentre i Computer Programmers lo scrivono. 
<pre>
	“Computer programmers write and test code that allows computer applications 
	and software programs to function properly. They turn the program designs created 
	by software developers and engineers into instructions that a computer can follow. 
	In addition, programmers test newly created applications and programs to ensure that
	they produce the expected results. 
	If they do not work correctly, computer programmers check the code for mistakes and fix them.”
</pre>
<img src="https://codersera.com/blog/wp-content/uploads/2019/07/nweeqf97l2md3tlqkjyt-1.jpg" alt="Coder" 
title="https://codersera.com/blog/where-should-top-coders-work/">
</p>
