<h1 id="TheENIACGirls">The ENIAC Girls</h1>
<p>
Kathleen McNulty, Frances Bilas, Betty Jean Jennings, Elizabeth Snyder Holberton, Ruth Lichterman e Marlyn Wescoff: probabilmente non avete  mai sentito parlare di loro. <br>
Ma le “ENIAC Girls” sono senza dubbio le prime programmatrici della storia, cioè quelle che hanno preparato il codice sorgente dei programmi per il computer ENIAC, che è il primo computer elettronico per uso generico.<br>
La loro storia è interessante da più punti di vista.<br>
Intanto: lavoravano già nei Ballistic Research Laboratory di Aberdeen, nel Maryland, dove il loro compito era quello di calcolare le traiettorie dei proiettili utilizzando un analizzatore differenziale (un antenato analogico del computer).<br>
Il loro ruolo era quello di “computer”, cioè di “persona che esegue un calcolo”. Evidentemente avevano delle competenze matematiche di alto livello. E’ per queste competenze che Adele e Herman Goldstine, che avevano la responsabilità dell’ENIAC, selezionarono sei di loro per programmarlo.<br>
</p>
<p>
Questa specificità di ruolo delle donne si ritrova in un altro settore: quello delle biblioteche. <br>
C’è un famoso – e delizioso – film di Walter Lang del 1957 (“Una segretaria quasi privata” nella traduzione italiana; il titolo originale è “Desk set”)  in cui vengono messi in contrapposizione l’ingegnere elettronico Richard Sumner (Spencer Tracy) e Bunny Watson (Katherine Hepburn). Uno rappresenta la novità, il progresso, le macchine che sostituiscono i lavoratori; l’altra l’esperienza, la competenza umana, la capacità di trovare risposte. <br>
Anche qui, il team dell’Ufficio Quesiti di una compagnia radiofonica è composto interamente di donne.
Il computer (fittizio) inventato da Sumner si chiama EMERAC, che è abbastanza chiaramente un richiamo all’ENIAC, che invece è uno dei primi computer elettronici.<br>
E’ curioso che in entrambi i casi ci sia in gioco la capacità di adattamento e di soluzione di situazioni non previste attraverso il collegamento tra informazioni.<br>
<img src="deskset.jpg" alt="DeskSet" title="Web">

</p>
