<h1 id="EWiD">EWiD</h1>
<p>
EWiD è una piattaforma Europea per la promozione della partecipazione di ragazze e donne nello studio e nella professione, connettendo organizzazioni diverse. Gli obiettivi di EWiD:<br>
<ul> 
<li>Amplify effort to close the digital gender divide</li>
<li>Champion diversity in digital-related projects, events, networks and media</li>
<li>Promote "women in digital" as the norm rather than the exception</li>
<li>Harness the power of partnership to achieve all the foregoing</li>
</ul>
</p>
<img src="https://bmbf.nawam-erwas.de/sites/default/files/ewid-logo_neu.jpg" alt="EWiD Logo" title="https://bmbf.nawam-erwas.de/">

