<h1 id="genere">Genere</h1>
<p>
Immaginate di fare una passeggiata in un Ateneo Italiano; per esempio, la Sapienza di Roma. <br />
112.557 studenti nel 2018, la più popolosa d’Europa. <br />
Tra i viali ombreggiati dai lecci trovate ragazzi e ragazze, in numero più o meno uguale. Anzi, per la verità ci sono un po’ più di ragazze. <br />
Entrando nell’atrio di una facoltà come Ingegneria, magari nel dipartimento di Informatica, quello che  notate subito è invece che il numero di ragazze diminuisce drasticamente. Magari perché sono chiuse nei laboratori, o perché studiano a casa? <br />
</p>
<img src="https://www.ilmessaggero.it/photos/MED_HIGH/49/02/4604902_2149_robot10.jpg" alt="Informatica" title="https://www.ilmessaggero.it">

