<h1 id="IMovimenti">I Movimenti</h1>
<p>
Solo in questi ultimi anni sono nate delle iniziative volte a far prendere coscienza di questa situazione, sia a livello personale che di comunità nazionali o internazionali.<br>
Curiosamente, questi movimenti attuali sembrano abbastanza slegati dai movimenti femministi digitali che sono nati alcuni decenni prima.<br>
Una storia della presa di coscienza e della nascita di movimenti di opposizione dovrebbe partire ad esempio dalla mailing list Systers creata nel 1987 da Anita Borg e altre donne che partecipavano ala conferenza ACM sui principi dei sistemi operativi, o da da blog come <a href="https://geekfeminism.wikia.org/">https://geekfeminism.wikia.org/</a>. <br>
Tra gli obiettivi concreti di questi movimenti ci sono:<br>
<ul>
<li>la spinta sui governi per promuovere una parità di diritti</li>
<li>la spinta sulle aziende per contrastare la discriminazione nei posti di responsabilità e decisione</li>
<li>l’invito alle ragazze a considerare la programmazione come un possibile sbocco professionale </li>
<li>la promozione di metodologie didattiche per avvicinare le ragazze allo studio dell’informatica (dal coding in poi)</li>
</ul>
</p>
<img src="https://www.thinkopen.it/wp-content/uploads/2020/11/10-donne-storia-informatica.jpg " alt="Donne" title="https://www.thinkopen.it/">
