<h1 id="IntelligenzaDelleDonne">Intelligenza Delle Donne</h1>
<p>
Facciamo un passo indietro. La ridotta presenza delle donne nel mondo delle professioni dell’informatica (dall’università al mondo del lavoro) sembrerebbe essere legata alle particolarità di quel mondo: forte presenza della matematica, rigore, astrattezza, ...<br />
D’altra parte, lo stesso tipo di analisi è stato condotto sulla diseguaglianza nel mondo letterario. Ad esempio: il numero di autrici studiate a scuola e presenti nei manuali scolastici, il numero di docenti universitari donne, il numero di corsi universitari dedicati alle autrici sono tutti indicatori della poca attenzione dedicata alle donne in letteratura.<br />
Insomma: anche da questo punto di vista, il collegamento che oggi ci sembra ovvio  tra maschile e  programmazione è un collegamento che si è creato in un certo contesto storico e sociale, non è un dato biologico immutabile. <br />
Uno studio storico sulle differenze di genere in MOOSE, un ambiente educativo digital (CSCL) dedicato all’apprendimento della programmazione (Bruckman, Jensen, DeBonte: 1998 ?) dimostra che l’unica correlazione riscontrabile tra risultati e genere è quella dovuta alla quantità di esperienza precedente nella programmazione, che è più alta in media per i maschi. <br />
Lo studio si conclude con un’intervista ad una bambina. La bambina sostiene di amare la programmazione, ma di odiare la matematica. Istituisce implicitamente un collegamento tra creare storie (che è la sua passione più grande) e la programmazione.<br />
Il collegamento tra la matematica e la programmazione viene addirittura negato con fastidio. <br />


<img src="https://www.mitomorrow.it/wp-content/uploads/2020/01/talenti-delle-donne.jpg" alt="Talenti" title="https://ww.mitomorrow.it/cambiamilano/i-talenti-delle-donne">
