<h1 id="LeDonneSottoIRiflettori">Le Donne Sotto I Riflettori</h1>
<p>
Quando si parla di donne importanti per la programmazione si citano personaggi di spicco assoluto non solo per la loro opera, ma anche per la loro biografia particolare
<codeshow>Ada_Lovelace</codeshow>, figlia trascurata da Lord Byron, costretta dalla madre a scegliere la matematica in opposizione agli interessi letterari del padre; entra in contatto con Charles Babbage, si appassiona al suo progetto di macchina analitica e pubblica il primo codice sorgente della storia: una funzione per il calcolo dei numeri di Bernoulli 
Grace <codeshow>Hopper</codeshow>, professoressa di matematica, ma anche soldato della Marina degli Stati Uniti, è tra i primi  programmatori del Mark I ad Harvard, scrive il primo compilatore e inventa il primo linguaggio di alto livello con termini basati sull’inglese (COBOL), 
Margaret <codeshow>Hamilton</codeshow>, leader del gruppo che scrive il codice del programma che porterà Armstrong e Aldrin sulla Luna con l’Apollo 11.
</p>
<img src="https://rockweather.files.wordpress.com/2019/06/women-in-the-age-of-wonder_01-1.jpg?w=565" alt="Women" title="https://rockweather.files.wordpress.com">
<p>
Ma ci sono tante altre donne che sono rimaste in ombra, nascoste, sconosciute, eppure non per questo meno importanti.
Andiamo allora a scoprire <codeshow>Le_donne_in_ombra</codeshow>. 
</p>
