<h1 id="LeDonneInOmbra">Le Donne In Ombra</h1>
<p>
Sono tante le donne dalla vita normale  che hanno contribuito allo sviluppo della programmazione e che sono rimaste in  ombra nel gruppo, o sono conosciute solo come mogli o compagne di qualcuno<br> 
Qualche esempio: <br>
<wikipedia>Cynthia Salomon</wikipedia>, ricercatrice al MIT,  ha partecipato alla creazione del linguaggio Logo almeno quanto i suoi colleghi Wally Feurzig e Seymour Papert <br>
<wikipedia>Kathleen Britten</wikipedia>, moglie di Andrew Booth, ha scritto il primo linguaggio Assembly per il computer ARC.  <br>
<a href="https://en.wikipedia.org/wiki/Phyllis_Fox" target="_blank">Phyllis Fox</a>, autrice del primo interprete Lisp insieme a Steve Russel, e di DYNAMO, uno dei primi software di simulazione. <br>
<wikipedia>Betty Holberton</wikipedia>: l’abbiamo già incontrata come una delle ENIAC Girls. Ma è anche l’inventrice dei break points nel processo di correzione di un programma. <br>
E poi ci sono Fran Allen, Audrey Bates, Julia Hirschberg, Telsa Gwynne, ... perché non andate a cercarle?
<img src="eniac4.jpg" alt="Eniac Girls" title="https://computerhistorymuseum.org">
</p>
