<h1 id="NCWIT">NCWIT</h1>
<p>Un esempio statunitense di centro di supporto per la promozione delle donne nel mondo tecnologico è il National Center for Women & Information Technology, il cui slogan è: <br>
The idea you don’t have  is the voice you haven’t heard.<br>
<pre>
	NCWIT is a non-profit community that convenes, equips, and unites 
	change leader organizations to increase the meaningful participation
	of all women — at the intersections of race, ethnicity, class, age,
	sexual orientation, and disability status — in the influential field
	of computing, particularly in terms of innovation and development.
</pre>

<br>
Il <a href="https://ncwit.org/" target="_blank">NCWIT</a> è sponsorizzato da multinazionali quali Apple, Microsoft, Intel, Google, AT&amp;T …<br>
</p>

