<h1 id="Pregiudizi">Pregiudizi</h1>
<p>
Mentre il gap quantitativo (la percentuale di ragazze che studiano o che lavorano nella programmazione sul totale) è incontestabile, dal punto di vista qualitativo ci si possono porre delle domande <br />
C’è un assunto che è abbastanza diffuso tra i (maschi) programmatori: che il codice sorgente scritto dalle donne sia diverso - e di qualità inferiore -  rispetto a quello scritto dai maschi. <br />
Prima di continuare nella visita, provate a interrogarvi su questa questione: che ne pensate? La vostra opinione su cosa è basata? Vi è mai capitato di leggere codice scritto da uomini e donne e di confrontarlo? <br />
Questo luogo comune si ritrova – insieme a battute maschiliste e razziste -  nei testi che accompagnano un “fake repository” di un fantomatico linguaggio di programmazione femminista (<a href="https://github.com/erlehmann/c-plus-equality">C+=</a> che si dovrebbe leggere “See plus equality”), che in quanto femminista non sarebbe deterministico e quindi non produrrebbe effetti prevedibili. <br />
D’altra parte, nello stesso anno (il 2013), è iniziato un altro thread serio proprio a proposito della possibilità di progettare un linguaggio femminista a partire da un post di <a href="https://femtechnet.org/2014/07/a-feminist-programming-language/">Ari Schlesinger</a><br />
</p>
<img src="seeplusequal.png" alt="C+= Logo" title="https://www.github.com">

