<h1 id="ProgrammatriciNelMondo">Programmatrici Nel Mondo</h1>
<p>
E finita l’università, cosa succede? Quante sono le programmatrici nel mondo? Questo dato è un po’ più difficile da ottenere
Intanto non è facile fare una stima del numero di “software developers /programmers”, sia per la definizione esatta del termine, sia per la difficoltà di metodo. Si parla solo di dipendenti, o anche di consulenti free-lance? E quelli che sviluppano software ma si occupano anche di sistemi? <br>
Una stima approssimativa che è possibile trovare in rete […] parla di oltre 20 Milioni di persone che a qualche titolo scrivono codice, di cui almeno il 20% (4 milioni) solo negli USA. Questo dato  è ovviamente molto significativo se si tiene presente che nel mondo ci sono 7,7 miliardi di persone e negli USA solo 300 milioni, cioè il 4,29%. E’ significativo perché significa che la cultura statunitense è sovraprappresentata, non solo in termini di rapporto tra lingue naturali e linguaggi di programmazioni (come abbiamo visto nella stanza dedicata ai Linguaggi) ma anche in termini di modelli di comportamento. <br>
Secondo uno studio longitudinale del <codeshow>NCWIT</codeshow>, negli USA la percentuale di donne che lavorano nel comparto digitale è rimasto costante negli ultimi dieci anni intorno al 27%, mentre il numero di donne che lavorano in termini assoluti è aumentato. <br>
Ma se  all’interno del comparto digitale guardiamo solo a chi scrive codice sorgente scopriamo che negli USA la percentuale scende al 14%,8. Nella tabella che segue, realizzata da HackerRank sulla base di propri test, c’è una sorpresa relativamente alla posizione delle sviluppatrici italiane nel mondo.<br>
</p>
<img src="https://blog.hackerrank.com/wp-content/uploads/2017/01/Screen-Shot-2017-01-17-at-10.09.14-AM.png" alt="" title="https://blog.hackerrank.com/">
<h2>L’open source</h2>
<p>
Si potrebbe pensare che queste differenze siano dovute alla feroce competitività dell’ambiente aziendale, in cui tradizionalmente le donne hanno difficoltà ad affermarsi nei posti chiave, e alla sua ben nota connotazione maschilista. 
Cosa succede invece nel mondo dell’open source? Possiamo immaginare che ci sia una correlazione tra l’apertura, la trasparenza, l’attenzione all’etica e l’assenza di discriminazione di genere?
Uno studio basato su un sondaggio aperto mostrava che su 2000 sviluppatori nel mondo FLOSS solo l’11,2% erano donne (Robles, Reina, Gonzales-barahona, Dominguez: 2013) .<br>
In sostanza, il mondo dell’opensource è ancora più gender-biased del resto, malgrado ci siano delle chiarissime prese di posizione sulla parità dei generi al livello di comunità si sviluppatori (ad esempio, Debian, …).<br>
Questo dato ci dovrebbe far riflettere. Lo studio non rileva una sostanziale omogeneità col mondo del software proprietario, ma addirittura  una diminuzione della presenza delle donne in un ambiente che si immagina aperto e paritario per tradizione.<br>
Cosa c’è di speciale nelle comunità degli sviluppatori open source per spiegare questo dato?<br>
</p>
<h2>Atteggiamento?</h2>
<p>
Torniamo al dato complessivo. Si potrebbe spiegare questa differenza collegandola al diverso atteggiamento nella fascia pre-universitaria verso i computer (che sono i dispositivi digitali su cui si scrive codice) rispetto all’atteggiamento nei confronti del digitale di uso generico, come internet. <br>
Per esempio, secondo i dati raccolti da ISTAT nel 2018 le ragazze tra 18 e 19 anni dichiarano di usare un PC più dei coetanei maschi (+5,5%), ma meno frequentemente (-6,7%).<br>
L’uso quotidiano di Internet è grosso modo allineato, con una prevalenza nelle ragazze più grandi (+3,2 %).
</p>

<p>
Fonte notizie:
<br>
<a href="http://dati-giovani.istat.it/Index.aspx?QueryId=15760" target="_blank" rel="noreferrer">ISTAT</a>
Altri grafici:<br>
<ol>
<li><img src="ProgrammatriciNelMondo1.jpg" height="400px"></li>
<li><img src="ProgrammatriciNelMondo2.jpg" height="400px"></li>
<li><img src="ProgrammatriciNelMondo3.jpg" height="400px"></li>
<li><img src="ProgrammatriciNelMondo4.jpg" height="400px"></li>
</ol>
</p>
