<h1 id="RosaDigitale">Rosa Digitale</h1>
<p>
Rosadigitale è un movimento di pari opportunità nell’ambito della tecnologia e dell’informatica.
In tutta Italia, Europa e all’estero, attraverso eventi pratici e divulgativi, chiamati “petali” e dedicati a tutti, Rosadigitale si occupa di formare, preparare e addentrare giovani e meno giovani in tutto ciò che concerne il digitale.
L’informazione unirà donne, bambine, uomini e bambini in una battaglia volta all’annientamento del divario di genere, come ricorda il motto di Rosadigitale: “The conquest is information“, ovvero “La conquista è informazione”.
L’insegnamento dei linguaggi di programmazione, le storie di grandi informatiche, l’utilizzo di mezzi informatici e software per fine lavorativo, culturale, artistico e comunicativo contribuiranno all’abbattimento della disuguaglianza di genere.
</p>
<img src="http://rosadigitale.it/wp-content/uploads/2021/01/750x530IT_2021.jpg" alt="Rosa Digitale Logo" title="http://rosadigitale.it/">
