<h1 id="ShesCoding">She’s coding</h1>
<p>
She's Coding è un progetto open-source coordinato da Nathalie Steinmetz che propone risorse, formazione e guidelines per tutti quelli che intendo imparare a scrivere codice sorgente o aiutare a colmare il gender gap nel mondo dell’informatica
Organizza ogni anno una conferenza <a href="http://techwomenrising.org/" target="_blank">Techwomenrising</a>
She’s coding è anche una comunità online su Slack, un luogo sicuro di supporto per le donne e in generale per le persone non-binarie nella tecnologia 
</p>
<img src="shescoding.jpg" alt="She's coding - Logo" title="https://community.codemotion.com">
<p>

