<h1 id="SpostamentoDiValori">Spostamento di valori</h1>
<p>
E’ in questi anni che nasce lo stereotipo del programmatore nerd: maschio, bianco, solitario, scorbutico ma geniale. Insomma, una replica dell’immagine mediatica di Steve Jobs.<br>
Questo modello è descritto in molti racconti, saggi, articoli sulla cultura che avrebbe visto nascere i personal computer, le aziende nate nei garage,  ma anche il software libero.<br> 
Si incrociano il liberismo e il libertarismo, il rifiuto della guerra e quello delle strutture verticistiche, la venerazione per la conoscenza e la ricerca della supremazia personale a tutti i costi.<br>
Questa operazione, che ha avuto luogo soprattutto negli USA, sposta l’ago dei valori culturali. Nei termini di Sherry Turkle (“Life on screen”, 1995) lo spostamento è dal polo del bricolage, dell’approccio non lineare, della <i>soft mastery</i> verso quello del pensiero astratto, dell’approccio lineare, della <i>hard mastery</i>.  <br>
Non è solo una ricollocazione rispetto al genere, è una trasformazione del valore generale assegnato alla programmazione.<br>
Il racconto che fa Vikram Chandra (“Geek Sublime”, 2015) è interessante: al suo arrivo negli USA dall’India le caratteristiche caratteriali che nella sua cultura di provenienza erano considerate positive (flessibilità, disponibilità, gentilezza) diventano caratteristiche negative e vengono associate ad un generico tratto femminile.<br>
</p>
<img src="https://www.civicolab.it/new/wp-content/uploads/2021/03/smartworking-676x321.jpg" alt="Smartworking" title="https://www.civicolab.it/lo-smart-working-per-le-donne-e-poco-smart/">


