<h1 id="Stem">Stem</h1>
<p>
A partire dall’inizio degli anni ‘70, negli USA si assiste ad un fenomeno duplice: 
<ul>
<li>da un lato la programmazione viene trasformata in una disciplina “rigorosa”, cioè viene riportata nell’ambito delle scienze matematiche </li>
<li>dall’altro si costruisce un modello di programmatore a partire da alcuni tratti comportamentali – e le donne ne vengono escluse.</li>
</ul>
Questo fenomeno è stato studiato solo recentemente, a partire dal report di Ellen Spertus del 1991 (“Why are There so Few Female Computer Scientists?”) fino ai lavori di Nathan Ensmerger nel 2010 e di Marie Hicks nel 2017. <br>
Le  date sono interessanti: fino a pochi anni fa, la prevalenza del genere maschile nel mondo della programmazione non veniva nemmeno percepita e quindi non era oggetto di studio. <br>
</p>
