<h1 id="ProgrammareEraUnLavoroDaDonne">Programmare Era Un Lavoro Da Donne</h1>
<p>
Vent’anni dopo la situazione non era cambiata. <br/>
In un’intervista dal titolo “The computer girls” pubblicata sul giornale Cosmopolitan del 1967, Grace <codeshow>Hopper</codeshow> – la più famosa “influencer” dell’epoca – cerca di convincere le donne americane a diventare programmatrici perché  pur essendocene  già ventimila ne sarebbero servite almeno altrettante.<br>
Lo fa utilizzando degli stereotipi di genere:<br>
<pre><i>
          Programmare è come organizzare una cena… 
          richiede pazienza e abilità di gestire i dettagli.
          Per le donne programmare è ‘naturale’.
</i>
</pre>
<br>
Insomma serve un’attitudine che tutte le donne hanno <i>naturalmente</i>: quella per l’organizzazione. Poi certo, scrive l’articolista, ci vuole anche una mente logica.<br> 
<img src="ProgrammareEraUnLavoroDaDonne.jpg" alt="Programmare" title="Cosmopolitan">
<p>
Quindi: ancora alla fine degli anni sessanta, negli USA programmare (nel senso di “coding”) era un lavoro esclusivamente da donne. A nessuno saltava in mente di contestare la capacità delle donne di scrivere programmi complessi.<br>  
L’associazione tra programmazione e mascolinità in quel momento non era ancora parte della cultura comune.<br> 
Lo diventerà qualche anno dopo.
</p>
