<h1 id="ingresso">Entrer</h1>
<p>Cette exposition – la première au monde – rassemble et présente l’âme cachée des ordinateurs : le Code Source.
<br>
Cette exposition est consacrée aux textes écrits par des auteurs à certains moments et contextes dans l’un des innombrables linguaggi_di_programmazione existants (il y en a environ 8000). Une littérature sans limites dont l’existence n’est même pas intuite, dont on sait peu de choses et qui a rarement été étudiée en tant que telle.<br>
L’exposition part des objets (les codes, les linguaggi_di_programmazione) mais présente également les actions et les interfaces de l’écriture et de la lecture d’un programme. Il attire l’attention sur les acteurs, c’est-à-dire les personnes qui ont inventé les langues ou qui écrivent des programmes, sur leurs histoires, leurs idiosyncrasies, leurs idées. Parfois, des découvertes intéressantes sont faites, par exemple sur le sexe des programmeurs.<br>
Vous trouverez placés les uns à côté des autres des œuvres artistiques - comme les poèmes écrits en Perl dans les années 90 - et des parties de logiciels historiques écrits dans des langues aujourd’hui oubliées.<br>
De chaque objet, nous essaierons de rendre les contextes, techniques mais aussi culturels et historiques: quand il a été écrit et pourquoi, par qui, dans quels modèles et métaphores, avec quelles références.<br>
À qui s’agit cette exposition ? Ce n’est pas une exposition pour les professionnels, seulement pour les programmeurs (bien qu’il soit possible qu’eux aussi, ici et là, découvrent des choses qu’ils ne savaient pas, car personne ne les a enseignées), mais précisément pour tout le monde: filles et garçons, informaticiens du bon vieux temps et jeunes professeurs d’histoire, animateurs numériques, curieux, artistes, avocats, footballeurs et infirmières. Parce que tout le monde devrait avoir une idée de ce qui est là-bas qui fait fonctionner le monde.<br>
Vous pouvez explorer l’exposition de différentes manières:<br>
<ul>
	<li>Se déplacer entre les salles via le panneau de navigation à gauche, ou en suivant les liens internes</li>
    <li>Utilisation de la recherche</li>
    <li>Utilisation de la chronologie, qui organise le contenu de l’exposition par année</li>
    <li>Utilisation de la carte géographique, qui organise le contenu de l’exposition par lieu</li>
    <li>Choisir l’une des chambres au hasard, en bas à gauche</li>
</ul>
<hr><br>
Le projet et les matériaux originaux de l’exposition ont été créés par  <a href="http://www.codexpo.org" target="_blank">Codexpo.org</a>, une association de promotion sociale qui a pour mission de diffuser la culture du code source.<br>
Cette version de l’exposition a été créée pour <a href="https://codefe.st" target="_blank">CodeFest 2021</a> et enrichie grâce à la contribution des étudiants de l’ITIS Avogadro de Turin (pour voir qui ils sont, voir les crédits).<br>
</p>
