<h1 id="Show">Show</h1>
<p>In questa stanza si trova CodeSHOW - il software.<br />
Si tratta di un software progettato e realizzato esplicitamente per questa mostra da Andrea Marchetti nel corso della sua tesi di laurea in Informatica presso l'Università Sapienza di Roma, sotto la direzione del professor Andrea Sterbini. <br>
CodeSHOW recupera da GitHub, analizza  e visualizza il codice sorgente di un programma. <br>
La forma di albero è stata scelta perché restituisce l'idea di un oggetto dinamico, collocando il codice nel tempo e nello spazio. La sezione iniziale di CodeSHOW mostra infatti con un'animazione la crescita dell'albero, la sua evoluzione nel tempo. <br>
Scegliendo una versione (uno degli alberi), è possibile passare col mouse su ogni foglia per andare a guardare nel dettaglio le istruzioni di cui è composta: funzioni originali, di sistema, o istruzioni semplici. <br>
CodeSHOW non ha solo il fine di mostrare l'evoluzione di un software, ma anche quello di permettere in futuro delle analisi più dettagliate della maniera in cui si scrive codice.<br>
<img src="Codeshow.png" alt="Codeshow" title="https://museumofcode.net/show/javascript/index.html">
Per interagire con CodeSHOW clicca 
<a href='https://museumofcode.net/show/javascript/index.html' target='_blank'>qui</a> 
</p>
