<h1 id="improvvisazione">Improvvisazione</h1>
<p>
Il codice sorgente, come qualsiasi altro testo, è il risultato dell'atto di scrivere, un processo creativo che accade nel tempo e nello spazio. Ma a volte tempo e spazio non sono gli stessi tra autore e opera.<br>
Prima di tutto, può succedere che lo spazio dove viene scritto il codice sorgente non sia lo stesso di quello dove si trova il programmatore, ma che sia lontano, remoto. In alcuni casi, il programmatore scrive direttamente un codice che sta su un computer lontano migliaia di chilometri. <br> 
E' quello che succede ad esempio quandi si vuole correggere velocemente un codice di un sito web, che è ospitato da un server collocato chissà dove. Invece di scaricarlo sul proprio computer, modificarlo e ricaricarlo, si puà modificare direttamente sul server.<br></p>
<p>Ma anche il tempo è messo in questione dalla programmazione. <br>
Cosa c'è di più lontando dall'esattezza di un computer dell'improvvisazione? Eppure...<br>
Intanto va detto che ogni volta che si esegue un programma possono esserci degli effetti collaterali che fanno si che una nuova esecuzione dello stesso programma non ottenga lo stesso effetto della prima. Questo è uno dei motivi per cui sono stati inventati i linguaggi funzionali in cui, appunto, non ci sono effetti collaterali.<br>
Ma lo stesso programma eseguito in contesti diversi (sistemi operativi diversi, computer diversi, momenti diversi) non è certo che si comporti allo stesso modo: è un'utopia che è stata, ed è, inseguita a lungo quella di scrivere codice sorgente completamente "portabile", come si dice.<br>
Se i rappers fanno improvvisazione orale su una base musicale, anche la scrittura del codice sorgente può essere vista come una performance artistica che avviene qui e ora, e che in quanto performance può essere sempre diversa. <br>
E' il <codeshow>Live Coding</codeshow>: un programmatore scrive codice che è eseguito proprio mentre lo scrive, in tempo reale.<br>
In questo modo si rompe una delle tradizioni più lunghe nella storia delle scrittura: quella per cui <strong>prima</strong> si scrive, <strong>poi</strong> si legge. <br>
Quello che vale per le leggi, per  i romanzi, per i soggetti televisivi o per i copioni teatrali non è più vero qui: si scrive mentre si "legge" (anche se è l'umano che scrive, ed è il computer che legge, ed esegue). <br>
</p>
