<h1 id="Live_coding" data-q="SuperCollider, Sonic Pi sono ambienti per fare..." data-a="Live Coding">Live Coding</h1>
<p>Un algorave è un <strong>rave</strong> (una festa) in cui la musica, i suoni, le immagini, sono prodotti da computer in tempo reale. Fin qui niente di speciale, direte, ormai lo fa qualsiasi performer nella festa di quartiere. <br>
Il punto è che negli algorave il flusso visivo e sonoro è generato tramite degli <strong>algoritmi</strong> che non esistono in precedenza, ma che vengono scritti proprio in quel momento. <br>
<i>Generati</i> significa che non si tratta di una registrazione (come in discoteca) né di un’esecuzione solo umana (come nei concerti), ma di una <codeshow>improvvisazione</codeshow> in diretta i cui un programmatore scrive codice sorgente che produce  immagini e suoni, e lo modifica continuamente, durante la festa. Questo modo di programmare in tempo reale si chiama <strong>Live Coding</strong>.<br>
E’ un fenomeno poco conosciuto, ma che ha una parentela con altre performance artistiche avanguardistiche, più o meno tecnologiche, come quelle del gruppo <b>Fluxus</b>, o di <b>John Cage</b>.<br>
Cage è stato un musicista  molto, molto sperimentalista: non solo scriveva musica da eseguirsi con un pianoforte in cui tra le corde venivano inseriti bulloni, pezzi di plastica e noci, ma progetta ed esegue performance dal vivo con 12 radio accese che cambiano continuamente frequenza e volume; oppure utilizza un computer per scegliere casualmente suoni, durate, volumi. <br>
Gli algorave sono tutto sommato meno innovativi: si tratta comunque di una performance in cui il risultato è voluto dal musicista-programmatore.<br>
Per ottenere questo risultato di solito ci vuole un "inteprete", cioè un programma capace di leggere un'istruzione per volta ed eseguirla man mano che la verifica (a differenza dei "compilatori", che hanno bisogno di leggere tutto l'intero codice per poi convertirlo in un formato eseguibile). <br>
Tipicamente si usano usando linguaggi funzionali e ambienti di sviluppo creati appositamente (Fluxus, Impromptu, Sonic Pi o SuperCollider) o linguaggi visuali centrati sui dati  e sulle trasformazioni (vvv, Pure Data). <br>
 Durante il CodeFest 2021 ci sono state delle performance spettacolari di cui  potete guardare e ascoltare le registrazioni.
 <ul>
    <li><a href="https://youtu.be/Il7Uf1X2FoQ?t=3356" target="_blank">SuperCollider Concert</a></li>
    <li><a href="https://youtu.be/gBQ4sDLxBSc?t=2921" target="_blank">TopLap Live Coding Concert</a></li>
 </ul>
</p>
