<h1 id="musica">Musica e regole</h1>
<p>
Tutti sanno che Pitagora amava la musica, ma anche i numeri, e che definì matematicamente gli intervalli di una scala musicale con delle frazioni: Do-Sol= 2/3, Do-Fa = 3/4. Facile, no?<br>
Non proprio. Infatti nel XVI secolo suonare insieme non era semplice. Ogni strumento aveva una sua accordatura, e prima di iniziare a suonare bisognava tentare di mettersi d'accordo.<br>
Sembra che un tale piuttosto in gamba non solo col violino e l'organo, certo <wikipedia>Johann Sebastian Bach</wikipedia>, decise che questa storia doveva finire. <br>
Propose un'accordatura fissa, unica, basata su principi aritmetici. Un'ottava doveva essere divisa in 12 semitoni con la stessa ampiezza, secondo una progressione geometrica. <br>
In questo modo si aveva la certezza, ad esempio, che spostandosi tra una tonalità e l'altra un brano avesse lo stesso "sapore".<br>
Naturalmente ci fu chi trovò che questa meccanizzazione della musica l'avrebbe snaturata e avrebbe distrutto il lato artistico.<br>
Per zittire questi critici e  dimostrare praticamente  i vantaggi di questo "temperamento", scrisse un'opera: "Il clavicembalo ben temperato".<br>
<i>Nota per i musicologi: questa storia non è universalmente accettata; vero è che la scala equabile fu proposta varie volte nella storia, anche dal padre di Galilei, che era musicista;  ma qui ci serve solo a rendere l'idea che anche in musica la precisione matematica è apprezzabile e aiuta a capirsi...</i>
</p>

<p>
In un'altra epoca, succede una fenomeno simile. <br>
Siamo agli inizi del Novecento e la musica "classica" (quella di Mozart e Beethoven, per intenderci) cominciava ad essere un po' stanca e ripetitiva.<br>
Alcuni autori, come Liszt, Debussy, Stravinskij, cominciano a cercare di uscirne, utilizzando sempre più dissonanze e armonie strane (almeno per un orecchio educato con Haydn).<br>
Ma ce n'è uno che non è soddisfatto: è un tedesco, si chiama <wikipedia>Arnold Schönberg</wikipedia>, e negli anni Trenta inventa un metodo per scrivere musica che chiama "dodecafonia". <br>
In pratica, ogni componimento parte da una serie di 12 note diverse, e poi si sviluppa con delle operazioni di trasformazioni (percorrendola al contrario, rovesciando gli intervalli).<br>
Potete immaginare le reazioni. Ma alcuni dei pezzi musicali più importanti del Novecento sono stati scritti in questo modo.<br>
Due millenni e mezzo dopo Pitagora, un altro ponte veniva gettato tra matematica e musica.<br>
<br>
Perché ne parliamo in questa mostra? Perché anche i linguaggi di programmazione, pure essendo formalizzati e rigidi, permettono di ottenere risultati artistici. Si possono programmare brani musicali, come nel <codeshow>Live_coding</codeshow>, sfruttando proprio la natura matematica della musica. Oppure  si possono creare immagini partendo dai dati che provengono dalle stelle o dai messaggi di un social network. In questo caso si trasformano, secondo delle regole matematiche precise, numeri in colori. <br>
Ma c'è anche chi ha scritto <codeshow>Haiku</codeshow>> usando un linguaggio di programmazione.
</p>
