<h1 id="oulipo">Oulipo</h1> 
<p>
Tutte le opera d'arte, e la poesia scritta in particolare, sono basate su vincoli, cioè su regole che non possono essere scartate. <br>
Basti pensare al metro: una poesia deve rispettere un certo numero di sillabe per ogni verso. Questo rende difficile scrivere una poesia, e rende difficile fare il poeta.<br>
Infatti c'è un legame forte, storicamente, tra difficoltà e arte: se tutti noi siamo capaci di esprimere liberamente sentimenti con parole in libertà, solo alcuni sono in grado di scrivere poesie belle, significative, rispettando però le regole della metrica.<br>
Un caso molto evidente è quello dell'OuLiPo (Officina di Letteratura Potenziale): un'associazione di personaggi stravaganti che ha eletto proprio il vincolo - in francese, <i>constraint</i>  - a principio poetico fondamentale. <br>
Tra gli Oulipiani famosi ci sono Noël Arnaud, Italo Calvino, Marcel Duchamp, François Le Lionnais, Georges Perec, Raymond Queneau.<br>
Non è poetico, dicevano, se non è difficile; e non è difficile se non rispetta un vincolo particolare, anche assurdo.<br>
Tra i vincoli più noti ci sono questi tre:<br>
<ul>
    <li>sostituire ogni termine in un testo con una parola che cade n posizioni più avanti in un dizionario</li>
    <li>scrivere un testo usando solo lettere prive di gambette, in alto o in basso</li>
    <li>scrivere una poesia in cui ogni verso è costituito da una sola parola ed ogni parola successiva è più lunga di una lettera</li>
</ul>

L'esempio più noto di opera Oulipiana è il romanzo "La disparition" di George Perec: un intero romanzo scritto senza mai usare la lettera "e".<br>
Questo rispetto di regole autoimposte, anche insensate, è considerato dagli autori dell'OuLiPo come una spinta, un pistone del motore che aiuta a produrre opere artistiche. <br>
L'altro pistone è il caso: molte delle opere dell'OuLiPo nascono da una scelta casuale degli elementi, che siano lettere, parole, frasi, personaggi, situazioni. <br>
In qualche modo, caso e regole si confrontano, giocano, e da questa relazione nasce l'opera d'arte.<br>
</p>
