<h1 id="Queneau">Una macchina per generare poesie</h1>
<p>
	Raymond Queneau era uno dei membri di spicco dell'<codeshow>Oulipo</codeshow>. Fedele agli obiettivi  dell'associazione (creare letteratura in potenza), nel 1961 inventa una macchina particolare.<br>
	Si tratta, apparentemente, di un libro di carta; solo che <strong>Cent Mille Miliards de Poèms</strong>  è un libro infinito.<br>
	Per chi non avesse avuto la fortuna di sfogliare quel meraviglioso oggetto, si tratta di un volume che raccoglie dieci sonetti di quattordici versi ognuno. <br>
	La peculiarità che lo rende unico è la pagina è tagliata in orizzontale in modo da rendere ogni verso un oggetto autonomo; è possibile così leggere (o  ricostruire con la mente) un sonetto costituito, poniamo, dal primo verso della prima pagina, il secondo dalla decima, il terzo dalla quinta, e così via. <br>
	Le possibilità totali sono 10 alla 14, cioè appunto 100.000.000.000.000. Di questa macchina per generare sonetti ne esistono varie versioni consultabili su web, come per esempio questa: <a href="http://www.growndodo.com/wordplay/oulipo/10%5e14sonnets.html" target="_blank">questa</a>.</p>
	<p>
	Quest'idea di realizzare una macchina in grado di produrre letteratura non è originale. Basta ripensare a Jonathan Swift e alla  macchina creata dagli scienziati dell'Accademia di Laputa:<br>
	<pre style="font-size:small">
	           La  superficie  risultava  di  vari  pezzetti  di  legno,  grossi press'a  poco  come  dadi,  alcuni  di
               maggiore  dimensione  degli  altri. Erano  tutti  congiunti  da  esili  fili  di  ferro.  
               Incollata  sopra  le  quattro facce  dei  pezzetti  di  legno  era  della  carta,  e  su  questa  si  trovavano 
               scritte  tutte  le  parole  della  loro  lingua, coniugate  nei  diversi  modi  e tempi  e  declinate  nei  vari  casi,
               ma  senza  ordine  veruno.  Il  professore m'invitò  a  prestare  attenzione,  ché  appunto  s'accingeva  
               a  mettere  in moto  la  macchina.  Ciascun  discepolo  prese,  al  cenno  del  maestro,  un manico  di  ferro
               (ce n'erano  quaranta  fissati  intorno  agli  orli  della macchina)  e  d'un  tratto  lo  fece  girare.  
               Naturalmente  la  disposizione delle  parole  cambiò  in  tutto  e  per  tutto.  Il  maestro  ordinò  allora 
               a trentasei   scolari   di   leggere   pian   pianino   i   vari   righi   così   come apparivano  sulla  macchina;  
               e  quando  quelli  trovavano  tre  o  quattro parole   unite   insieme   che   potevano   far   parte   d'una  
               sentenza,   le dettavano  ai  quattro  rimanenti  discepoli  che  fungevano  da  scrivani.
</pre>
<i>Jonathan Swift, I viaggi di Gulliver</i>.<br>
Quella di Swift è una presa in giro; ma dopo di lui qualcuno ha preso molto sul serio l'idea di generare un testo a partire dal caso e da una macchina: per esempio Nanni Balestrini nel 1961 realizza Tape Mark I con un IBM 7070
<img src="Almanacco1962.png" alt="Almanacco 1962" title="https://elmcip.net/">
</p>