<h1 id="Scrittura_Codice">Regole della scrittura del Codice Sorgente </h1>
<p>
    Nella scrittura di un codice sorgente è bene seguire alcune regole di stile: grazie ad esse l’intelligibilità del codice stesso viene migliorata, 
    così come la sua leggibilità, a vantaggio di chi non ha partecipato alla scrittura del codice. 
 </p>
 <p>  
    Questo può rivelarsi utile, per esempio, nel momento in cui si rivela necessario eseguire il <wikipedia>debugging</wikipedia>.
    Tra queste regole di stile, una delle più frequenti prevede di evidenziare parti di codice specifiche. 
    Si è soliti inoltre inserire delle righe di testo aggiuntive,
    i cosiddetti commenti, che hanno lo scopo di "commentare" la funzionalità e il significato dell’algoritmo risolutivo codificato in linguaggio di programmazione. 
    Per ciascun linguaggio è prevista una sintassi diversa in relazione all’inserimento dei commenti.
    Anche l'indentazione ossia la messa in risalto del codice con opportuni livelli di rientro ,può aiutare sia nella scrittura del codice , che in possibili revisioni.
    Particolare attenzione, nella scrittura dei codici sorgenti, deve essere prestata anche agli errori. 
    in particolare quelli di  sintassi, che sono quelli che vengono compiuti mentre si scrive come 
    possono essere, per esempio, errori relativi alla sintassi delle istruzioni.

    <br>
    <figure>
        <img src="Scrittura_Codice1.jpg" width="375" height="450" alt="Codice sorgente">
        <figcaption>https://commons.wikimedia.org/wiki/File:05arearettangolocodice.png</figcaption>
    </figure>
</p>

<br>
<br>
<p><i>A cura di: Douma Zakaria</i></p>