<h1 id="vincoli">La poetica dei “constraints”</h1>
<p>
Tutta l'arte, e la poesia scritta in particolare, sono basati su vincoli, cioè su regole che non possono essere scartate. <br>
Basti pensare al metro: una poesia deve rispettere un certo numero di sillabe per ogni verso. Questo rende difficile scrivere una poesia, e rende difficile fare il poeta.<br>
Ma c'è un legame forte, storicamente, tra difficoltà e arte: se tutti noi siamo capaci di esprimere liberamente sentimenti con parole in libertà, solo alcuni sono in grado di scrivere poesie belle, significative, rispettando però le regole della metrica.<br>
Un caso molto evidente è quello dell'OuLiPo (Officina di Letteratura Potenziale): un'associazione di personaggi stravaganti che ha eletto proprio il vincolo - in francese, constraint  - a principio poetico fondamentale. <br>
Non è poetico, dicevano, se non è difficile; e non è difficile se non rispetta un vincolo particolare, anche assurdo.<br>
L'esempio più noto è ilromanzo "La disparition" di George Perec: un intero romanzo scritto senza mai usare la lettera "e".<br>
Questo rispetto di regole autoimposte, anche insensate, è considerato dagli autori dell'OuLiPo come una spinta, un pistone del motore che aiuta a produrre opere artistiche. <br>
L'altro pistone è il caso: molte delle opere dell'OuLiPo nascono da una scelta casuale degli elementi, che siano lettere, parole, frasi, personaggi, situazioni. <br>
In qualche modo, caso e regole si confrontano, giocano, e da questa relazione nasce l'opera d'arte.<br>
</p>
