<h1 id="10Print">10 Print</h1>
<p>
<pre>10 PRINT CHR$ (205.5 + RND (1)); : GOTO 10</pre>
è il titolo di un libro. Non mi risulta che ce ne siano altri che hanno per titolo un intero programma.<br>
Questo, in particolare, genera un labirinto. Come fa?<br>
<ul>
<li>10 è il numero di riga, che in BASIC funziona da etichetta che può essere usata per guidare il flusso di esecuzione del programma. Per convenzione, in BASIC le righe si numerano come 10, 20, 30... in modo da avare sempre la possibilità di inserire un'altra riga tra due.</li>
<li>CHR$ è una funzione che restituisce un carattere corrispondente ad un numero, a partire da una tabella. I codici da 32 a 122 corrispondono a lettere e numeri, quelli da 160 in poi invece restituiscono simboli grafici. </li>
<li>RND è una funzione che restituisce un numero casuale compreso tra 0 e 1</li>
<li>GOTO è l'istruzione di controllo che dice all'interprete di proseguire dalla riga che ha l'etichetta 10 (cioè la prima)</li>
</ul>
Questo programma, quindi, non termina mai, perché si avvita in un ciclo infinito.<br>
E' un testo collettivo: alcuni degli autori si sono occupati da tempo di software studies: (come Nick Monfort e Mark Marino), ma ci sono anche docenti di computer science, scrittori, artisti.<br>
Dal sito della collana:<br>
Questo libro prende una singola linea di codice BASIC per Commodore 64 (quella che coincide con il titolo) e la usa come lente attraverso cui considerare il fenomento del "creative computing" e il mondo in cui i programmi esistono nella cultura moderna. <br>
Gli autori trattano il codice non solo come puramente funzionale, ma come un testo - in questo caso, un testo che è apparso in molte forme diverse - che porta con sé la storia della sua creazione, il suo scopo, le assunzioni su cui si basa. <br>
Tra i temi trattati: la casualità e la regolarità nell'arte (anche quella computazionale), il labirinto nella storia, il linguaggio BASIC e il Commodore 64.<br>

Trovate sul sito della collana MIT "Software studies" una <a href="https://mitpress.mit.edu/books/10-print-chr2055rnd1-goto-10">scheda completa del libro</a>, ma anche il link per scaricarlo in PDF se non volete comprare l'edizione cartacea.
</p>
