<h1 id="Aesthetic_Programming">Aesthetic Programming</h1>
<p>
<a href="http://www.anti-thesis.net/" target="_blank">Geoff Cox</a> è un veterano degli studi sul software, ma anche delle pratiche di programmazione estetica in qualche modo sovversiva. Tra i suoi libri: Critique of Software Violence, Speaking Code, Antithesis: the dialectics of Software Art.<br>
Winnie Soon è un'artista/coder (she/they) interessata alle intersezioni della pratiche tecniche e artistiche come prassi critica/femminista/queer.  Dopo gli studi a Hong Kong, insegna all'Università di Aahrus. Con Cornelia Sollfrank è autrice di <a href="https://eeclectic.de/produkt/fix-my-code/">Fix My Code</a>, in dialogo sul futuro dell'arte digitale.<br>  
Il loro libro fa parte delle opere che tentano di superare la distinzione tra testo e codice in più maniere. Non soltanto parla di questa distinzione/connessione, ma è strutturato come un corso con esercizi che hanno come scopo quello di far sperimentare al lettore/programmatore questa distinzione, attraverso l'uso di strumenti come p4.js o ml5.js.<br>
Il principio da cui parte è che l'importanza crescente del software richiede un nuovo genere di pensiero culturale (e di formazione) che siano in grado di spiegare, e con cui sia più facile capire, la polita e l'estetica delle procedure algoritmiche, del processamento dei dati e dell'astrazione.<br>
In particolare, si sofferma sulle relazioni potenti che sono in generale poco riconosciute in ambito tecnico, come quelle tra classe e capitalismo, genere e sessualità, razza e lasciti del colonialismo.<br>
Cox e Soon propongono la pratica riflessiva dell'aesthetic programming, in cui imparare a programmare è un modo di capire e interrogare gli oggetti e i paradigmi tecnici e di esplorare un potenziale capace di riprogrammare i sistemi eco-socio-tecnici.<br> 
Trovate sul sito del libro una <a href="https://www.aesthetic-programming.net/">scheda completa del libro</a>, ma anche il link per scaricarlo in PDF se non volete comprare l'edizione cartacea. Oppure, semplicemente, potete leggere il libro online.
</p>
