<h1 id="Liberia">Libreria</h1>
<p>
L'approccio di questa mostra è  nuovo, nel senso che per la prima volta vengono mostrati insieme codici,linguaggi, persone, strumenti, per ricostruire un'immagine complessiva del mondo della programmazione non solo tecnica, ma culturale.<br>
La programmazione è un'attività fondamentale, imparentata a tante altre attività di scrittura (e lettura, pubblicazione, distribuzione di testi) ma talmente specifica da avere ormai dato origine ad una cultura vera e propria, che non può più essere ignorata.<br>
L'idea di affrontare in questo modo il mondo della programmazione era nata parecchi anni fa, con una serie di seminari in giro per l'Italia in cui si cercava di mostrare quante anime diverse si nascondevano dietro un frammento di codice; ma sembrava che da noi questa modalità di riflessione non fosse ben accetta né dagli informatici - che ritenevano la programmazione una faccenda di logica ed efficienza -  né dagli umanisti - che semplicemente non avevano mai visto altro che un po' di HTML. La semplice domanda relativa a "quanti modi diversi ci sono per scrivere un programma" riceveva come risposta "Due: quello giusto e quello sbagliato". Difficile interrogarsi su stili, mode, genere in un contesto come il nostro. <br>
Fuori dall'Italia, invece, qualcosa si era cominciato a muovere già all'inizio di questo millennio. Ricercatori, artisti, programmatori avevano cominciato a riflettere e a pubblicare brevi saggi  ponendo alcune delle domande che avete trovato in CodeShow:
<ul>
<li>il codice sorgente è un tipo di testo come gli altri?</li>
<li>i linguaggi di programmazione sono lingue a tutti gli effetti?</li>
<li>cosa vuol dire che un codice sorgente è "bello"?</li>
<li>che consapevolezza hanno i programmatori del loro ruolo sociale?</li>
<li>perché le donne sono in netta minoranza?</li>
<li>...</li>
</ul>
Queste domande, e i tentativi di risposta, sono confluite in una nuova area di studi che si chiama "Software Studies" oppure "Critical Code Studies". A quest'area sono dedicati laboratori, centri di ricerca, collane (come quella del <a href="https://mitpress.mit.edu/books/series/software-studies" target="_blank">MIT</a>).<br>
Purtroppo in quest'area non esistono ancora testi in Italiano, né originali né traduzioni (ma speriamo di colmare il divario al più presto...). Per chi fosse in grado di leggere in Inglese, questa che segue è una breve selezione di alcuni testi che si possono leggere online oppure acquistare.<br>
<table>
<thead>
<tr><td>Autore/i</td><td>Titolo</td><td>Anno</td></tr>
</thead>
<tbody>
<tr><td>Geoff Cox, Adrian Ward, Alex McLean</td><td> The Aesthetics of Generative Code</td><td>2001</td></tr>
<tr><td>John Cayley</td><td>The Code is not the Text (unless it is the Text)</td><td>2002</td></tr>
<tr><td>Maurice Black</td><td> The art of code</td><td>2002</td></tr>
<tr><td>Nick Monfort</td><td> A box, darkly: obfuscation, weird languages and code aesthetics</td><td>2005</td></tr>
<tr><td>Andreas Broeckmann</td><td> Software Art Aesthetics</td><td>2006</td></tr>
<tr><td>Matt Barton</td><td> The fine art of computer programming. Free software and the future of literate programming</td><td>2005</td></tr>
<tr><td>Alan Sondheim</td><td> My Future is Your Own Aim</td><td>2006</td></tr>
<tr><td>Nick Monfort et al.</td><td><a href="10print">10 PRINT CHR$(205.5+RND(1)); : GOTO 10</a></td><td>2012</td></tr>
<tr><td>Geoffrey Cox, Alex McLean</td><td>Speaking Code</td><td>2012</td></tr>
<tr><td>Matthew Fuller</td><td> Field report for critical code studies</td><td> 2014</td></tr>
<tr><td>Annette Vee</td><td>Coding Literacy</td><td>2017</td></tr>
<tr><td>Mark Marino</td><td> Critical code studies</td><td> 2020</td></tr>
<tr><td>Geoff Cox, Winnie Soon.</td><td><codeshow>Aesthetic_Programming</codeshow></td><td>2021</td></tr>
</tbody>
</table>
</p>
