<h1 id="API">API</h1>
<p>Le API di cui si parla qui non sono insetti ma Application Programming Interface. L'idea è che un programma renda disponibile delle "maniglie" con le quali i programmatori possono utilizzare certe funzionalità senza conoscere il dettaglio interno. Recentemente, però, c'è una tendenza a intendere per API delle Web API, cioè il sottoinsieme di maniglie che è accessibile usando il protocollo HTTP, con cui un programma può dialogare con un altro chiamando certi indirizzi di un'applicazione web.<br>
Nel caso di CodeSHOW, le API sono appunto degli indirizzi speciali che possono essere "invocati" non tanto da un browser quanto da un altro software (come un app per smartphone) per ottenere dei dati che possono essere usati per costruire un servizio alternativo.<br>
Immaginiamo che uno sviluppatore, o un gruppo di studenti di una scuola, voglia realizzare una versione di CodeSHOW che usi gli stessi contenuti, la stessa struttura, ma un'interfaccia e una maniera di esplorare la mostra completamente differente.<br>
Per farlo, basta che progetti e sviluppi un software che chiama le API di CodeSHOW, ottiene i dati e su quella base propone un'esperienza di navigazione differente: in 3D, solo testuale, in voce, o chissà che altro.<br>
Sono disponibile attualmente questi servizi:
<ul>
<li><a href="https://www.codeshow.it/API/v1" target="_blank">https://www.codeshow.it/API/v1</a>  Restituisce l'elenco delle stanze attuali, e per ognuna le stanza adiacenti</li>
<li><a href="https://www.codeshow.it/API/v1/Concetti" target="_blank">https://www.codeshow.it/API/v1/Concetti</a>  Restituisce le informazioni su una stanza, compresi i pannelli della stanza (in questo caso Concetti)</li>
<li><a href="https://www.codeshow.it/API/v1/Concetti/Programmi" target="_blank">https://www.codeshow.it/API/v1/Concetti/Programmi</a> Restituisce il contenuto di un pannello (in questo caso, Programmi della stanza Concetti)</li>
<li><a href="https://www.codeshow.it/API/v1/Search/Hop" target="_blank">https://www.codeshow.it/API/v1/Search/Hop</a> restituisce i risultati di una ricerca del NOME di una stanza o di un pannello che contenga la stringa "Hop"</li>
<li><a href="https://www.codeshow.it/API/v1/Find/Hopper" target="_blank">https://www.codeshow.it/API/v1/Find/Hopper</a> restituisce i risultati di una ricerca della stringa "Hopper" nel TESTO di tutti i pannelli </li>
<li><a href="https://www.codeshow.it/API/v1/randomRoom" target="_blank">https://www.codeshow.it/API/v1/randomRoom</a> restituisce l'indirizzo di una stanza e un pannello a caso</li>
</ul><br>
I dati sono restituiti in JSON. Ad esempio: 
<pre>
{
	"version": "1.0",
	"host": "http:\/\/localhost\/codexpo",
	"results": [
		"http:\/\/localhost\/codexpo\/Linguaggi\/COBOL.html",
		"http:\/\/localhost\/codexpo\/Genere\/Un_lavoro_da_donne.html",
		"http:\/\/localhost\/codexpo\/Genere\/Le_donne_sotto_i_riflettori.html",
		"http:\/\/localhost\/codexpo\/Attori\/Hopper.html"
	]
}

</pre>
Gli eventuali contenuti dei pannelli sono restituiti in HTML, esattamente come sono, senza nessuna formattazione speciale. Sta al progettista dell'app decidere come presentarli al visitatore.<br>
Un semplice esempio di uso delle API di CodeSHOW è questa <a href="https://www.codeshow.it/search.php" target="_blank">pagina</a>, che usa il metodo /Find per cercare una parola all'interno di tutti i pannelli della Mostra.<br> 
Un altro esempio un po' più complesso (ma non molto: sono 10.000 righe di codice) è <a href="https://www.stefanopenge.it/codecave" target="_blank">CodeCAVE</a>. Si tratta di un omaggio alle textual adventures, cioè un tipo di videogiochi che andavano di moda a partire dalla fine degli anni '70.<br>
Il giocatore si trova in un labirinto, spesso sotterraneo, che deve esplorare per trovare un tesoro. Il tutto senza nessun supporto grafico da parte del programma, ma appoggiandosi solo sull'immaginazione del giocatore. <br>
Uno dei primi e più famosi giochi di questo tipo è <codeshow>Zork</codeshow>, che era scritto in MDL, un dialetto LISP per i computer PDP-10.<br>
CodeCAVE è un omaggio a questa categoria di giochi ed utilizzata i dati e le strutture di CodeSHOW ottenuti tramite chiamate alle API.<br>
E' un esempio di uno dei paradigmi fondamentali della programmazione: la separazione tra interfaccia e dati. Seguendo questo paradigma di progettazione si possono immaginare infiniti modi di accedere ad un set di dati, anche completamente diversi da quello immaginato dal progettista originario. 
</p>
