<h1 id="Credits">Crediti</h1>
<p>Questa è la versione web della Mostra del Codice Sorgente.<br>
E' stata realizzata in occasione di CodeFest 2021, il primo festival del codice sorgente, ed è stata presentata durante il festival stesso.<br>
L'idea di costruire una mostra come attività didattica all'interno del CodeFest era stata presentata nel 2019 come laboratorio ad una classe di un istituto secondario di secondo grado di Torino, con lo scopo di spingere i ragazzi a ricercare, intervista, comunicare. <br>
La mostra avrebbe dovuto essere fisicamente ospitata nell'atrio dell'istituto e aperta in occasione del Festival.<br>
L'interruzione dei lavori a causa della pandemia, e la successiva decisione di realizzare il festival unicamente online, hanno fatto sì che al progetto di una mostra fisica si sostituisse quello di una mostra virtuale.<br>
Dopo una serie di incontro in videoconferenza con l'insegnante e i ragazzi, e in considerazione anche della difficoltà di svolgere e coordinare il lavoro completamente a distanza, si è deciso di puntare ad una prima versione semplificata.<br>
Le linee guida sono state la semplicità, la trasparenza, la portabilità: invece di realizzare un ambiente navigabile in 3D (ma di cui i ragazzi non sarebbero stati in grado di capire la struttura e il funzionamento), si è scelto di realizzare un'applicazione web molto semplice, con funzioni limitate, basta su una struttura dei contenuti ad albero. In concreto:<br>
<ul>
<li>organizzazione a due livelli:  stanze (unità logiche) e pannelli (testi e immagini relativi ad un aspetto)</li>
<li>possibilità di percorsi trasversali, grazie a collegamenti tra pannelli in stanze differenti</li>
<li>possibilità di ricercare elementi</li>
<li>contenuti portabili, standard: file HTML e immagini</li>
<li>no db</li>
<li>separazione tra presentazione e logica</li> 
</ul> 
La mostra è naturalmente in perenne divenire.<br>
Uno degli sviluppi previsti è quello di permettere a gruppi di studenti di realizzare la propria stanza, o la propria mostra, e di collegare le diverse mostre in una rete sfruttando un meccanismo di "registrazione" in un catalogo unico.<br>
Il codice sorgente della mostra è rilasciato con licenza GPL 3.0.<br>
I contenuti della mostra, dove non segnalato, sono rilasciati con licenza <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.it">Creative Commons 4.0 BY/SA/NC</a>.<br>
<img src="ccbyncsa.png" alt="licenza CC"> 
<p>Idea originale, testi e materiale iconografico: <a href="http://www.codexpo.org">Codexpo.org</a> <br>
Progetto software: Stefano Penge <br>
Versione HTML dei testi e ricerca materiali aggiuntivi: <br>
<ul>
<li>Ingles Vidal </li>
<li>Lepsoy Enrico</li>
<li>Costa Mattia</li>
<li>Iraci Matteo</li>
<li>Douma Zakaria</li>
<li>Mastromatteo Daniele</li>
<li>Dragna Enrico</li>
</ul>
dell'Istituto Avogadro di Torino con il supporto della professoressa Emanuela Mormile e del professor Rodolfo Marchisio per Codexpo.org
</p>

