<h1 id="ingresso">Ingresso</h1>
<p>Questa mostra – la prima al mondo – raccoglie e presenta l’anima nascosta dei computer: il Codice Sorgente.<br>
Una mostra che si distingue da tutte le altre: non racconta la nascita dell’informatica, o l’evoluzione storica dei computer, come i musei di Paderborn o di Mountain View, o quello italiano di Ivrea.<br> 
Questa mostra è dedicata ai testi scritti da autori in determinati momenti e  <codeshow>contesti</codeshow> in uno degli innumerevoli  <codeshow>linguaggi_di_programmazione</codeshow> esistenti (sono circa 8000). Una sconfinata letteratura di cui non si intuisce nemmeno l'esistenza, di cui poco si sa e che raramente è stata studiata come tale.<br>
La mostra parte dagli oggetti (i <codeshow>codici</codeshow>, i <codeshow>linguaggi_di_programmazione</codeshow>) ma presenta anche le azioni e le <codeshow>interfacce</codeshow> della scrittura e lettura di un programma. Richiama l'attenzione sugli <codeshow>attori</codeshow>, cioè le persone che hanno inventato i linguaggi o che scrivono programmi, sulle loro storie, le loro idiosincrasie, le loro idee. A volte si fanno delle scoperte interessanti, per esempio riguardo al <codeshow>genere</codeshow> dei programmatori.<br>
Trovate collocate una a fianco all'altra opere artistiche – come le <codeshow>poesie</codeshow> scritte in Perl negli anni ‘90  - e porzioni di software storici scritti in linguaggi ormai dimenticati.<br> 
Di ogni oggetto si cercheranno di restituire i <codeshow>contesti</codeshow>, tecnici  ma anche culturali e storici: quando è stato scritto e perché, da chi, dentro quali modelli e metafore, con quali riferimenti.<br>
A chi è rivolta questa mostra? Non è una mostra per addetti ai lavori, solo per i programmatori (anche se è possibile che anche loro, qua e là, scoprano cose che non sapevano, perché nessuno gliele ha insegnate), ma proprio per tutti: ragazze e ragazzi, informatici dei bei tempi andati e giovani docenti di storia, animatori digitali, curiosi, artisti, avvocati, calciatori e infermieri. Perché tutti dovrebbero avere un'idea di cosa c'è, lì sotto, che fa funzionare il mondo.<br> <br>
Potete esplorare la mostra in molti modi diversi:
<ul>
    <li> Muovendovi tra le stanze tramite il pannello di navigazione a sinistra, oppure seguendo i link interni</li>
    <li> Usando la ricerca</li>
    <li> Usando la <codeshow>Timeline</codeshow>, che organizza i contenuti della mostra per anno</li>
    <li> Usando la mappa <codeshow>Geo</codeshow>, che organizza i contenuti della mostra per luogo</li>
    <li> Scegliendo una delle stanze a caso, in basso a sinistra</li>
</ul>
<hr><br>
Il progetto e i materiali originali della mostra sono stati realizzati da <a href="http://www.codexpo.org" target="_blank">Codexpo.org</a>, un'associazione di promozione sociale che ha come missione proprio la diffusione della cultura del codice sorgente. <br>
Questa versione della mostra è stata realizzata per il <a href="https://codefe.st" target="_blank">CodeFest 2021</a> e arricchita grazie al contributo dei ragazzi dell'ITIS Avogadro di Torino (per vedere chi sono, guarda i <codeshow>Credits</codeshow>).<br> 
</p>
