<h1 id="News">News</h1>
<p>In questo pannello vengono ricordati i passi avanti fatti dalla Mostra. Sarà bello rileggerlo tra tre, cinque, dieci anni e vedere da dove siamo partiti e quanta strada abbiamo fatta insieme...<br>

<ul>
<li>06 Dicembre 2021 - Geomapping</li>
<li>05 Dicembre 2021 - Timeline</li>
<li>02 Dicembre 2021 - Plugin per integrazione di contenuti esterni: YT, Wikipedia, SWH Software Stories</li>
<li>25 Novembre 2021 - Codequiz</li>
<li>07 Novembre 2021 - Interfaccia alternativa</li>
<li>31 Ottobre  2021 - Nuova funzionalità: ricerca full text</li>
<li>22 Ottobre  2021 - Nuova funzionalità: API</li>
<li>19 Ottobre  2021 - Nuova funzionalità: esportazione in PDF</li>
<li>17 Ottobre  2021 - Nuove stanze: aggiunte Musei, Libreria, Codice</li>
<li>14 Ottobre  2021 - Nuova funzionalità: pannelli casuali e navigazione sequenziale</li>
<li>27 Settembre 2021 - Apertura della Mostra in occasione di Codexpo 2021</li>
<li>16 Agosto    2021 - Aggiunta ricerca per stanze e pannelli, link automatici, espansioni</li>
<li>14 Maggio    2021 - Prima versione e inizio del lavoro degli studenti dell'Avogadro</li>
</ul>
</p>
