<h1 id="Ada_lovelace" data-lat="51.507" data-lon="-0.128"><wikipedia>Ada Lovelace</wikipedia> (1815-1852)</h1>
<p>Figlia di Lord Byron e di Annabella Milbanke, che per allontanarla più possibile dal modello del padre poeta romantico la spinse verso lo studio delle scienze.<br>
Famosa per aver collaborato con Charles Babbage alla sua “macchina analitica” e per avere pubblicato il primo programma nella storia (anche se forse non è la prima ad avene scritto uno). <br>
<img src="First_program.jpg" alt="Il primo programma" title="https://americanhistory.si.edu">
Nelle sue note alla traduzione di un articolo di Luigi Menabrea sulla macchina di Babbage  riporta il codice di un programma per calcolare i numeri di Bernoulli, ma lancia anche delle idee futuribili, come quella di macchine che un giorno scriveranno musica. <br>
E’ meno nota per essere, secondo Babbage stesso, la prima "debugger" della storia dell’informatica:<br>
«Così pure, era stato nel lavoro del programma per la macchina, [...] dove la Lovelace riuscì anche ad individuare un gravissimo errore compiuto da me.» <br>
Ada è diventata una figura modello nella battaglia per la diffusione della programmazione tra le donne, tanto che è stato indetto l'Ada Lovelace Day, l'11 Ottobre di ogni anno.
<img src="Ada_Lovelace_Day.png" alt="Ada Lovelace Day" title="https://findingada.com/">
Ada è anche tra i pochi esseri umani ad aver dato il nome ad un linguaggio nato dopo la loro morte (come Blaise Pascal, Guglielmo di Occam). Nel suo caso, si tratta di <codeshow>ADA</codeshow>, linguaggio creato alla fine degli anni '70 da Jean Ichbiah per il Dipartimento della Difesa degli Stati Uniti.
</p>
