<h1 id="Arnaud" data-time="1919" data-lat="48.8468" data-lon="2.3636"><wikipedia>Noël Arnaud</wikipedia> (1919-2003)</h1>
<p>Ovvero: come si possono vivere più vite contemporaneamente. <br>
Arnaud ha passato tutta la sua vita lavorativa in un Ministero francese, terminandola come direttore di tutti gli ospedali di Francia. Un grande collezionista di libri, impegnato anche civilmente (ha partecipato alla resistenza)<br>
Con un lato curioso e sperimentalista. Praticamente percorre tutti i movimenti di avanguardia europei: dadaista  surrealista, situazionista, patafisico e quindi membro (e poi presidente) dell'<codeshow>Oulipo</codeshow>.<br>
Come editore si occupa delle riviste "Situationist Times", "Petit Jésus" e "Dragée Haute"; scrive tra l'altro "Vers une sexualisation de l'alphabet". <br>
Naturalmente non lo citiamo per questo, ma per essere uno dei primi ad aver scritto poesie con un linguaggio di programmazione. <br>
E' il 1968 quando pubblica un libro di poesie scritte in ALGOL, il linguaggio inventato nel 1958 da un gruppo internazionali di ricercatori (tra cui <codeshow>Backus</codeshow> e <codeshow>McCarthy</codeshow>) che si considera il progenitore di tutti i linguaggi strutturati, dal Fortran al Pascal al C.<br>
La poesie di Arnaud sono piccoli componimenti di quattro versi. Ma Arnaud non ha la pretesa di scrivere un codice corretto in ALGOL, come faranno vent'anni dopo Wall e Hopkins in Perl: si limita a usarne i termini, traducendoli in francese:
<pre>
    Tableau
Faire faux
pour aller à procedure
réel aiguillage
alors vrai.

    Début
Pour aller à chainbe
faire étiquette
alors vrai tableau
sinon valeur.
</pre>
<img src="Algol_poems.png" alt="Algol Poems" title="https://www.edition-originale.com">
</p>
