<h1 id="attori">Attori</h1>
<p>I programmi sono scritti dai programmatori, in un certo linguaggio di programmazione. <br>
Ma chi inventa i linguaggi di programmazione? Perché lo fa? Che mestiere è, inventare linguaggi di programmazione?<br>
I <codeshow>linguaggi_di_programmazione</codeshow> esistenti sono più di 8000, più della lingue naturali. Non possiamo citarli tutti, ma solo un piccolissimo sottoinsieme significativo: quelli che sono stati fondamentali per lo sviluppo di tutti gli altri, quelli più strani, quelli pià recenti.<br>
Non possiamo nemmeno citare tutti i loro inventori. Ci limitiamo ad una piccola selezione degli attori particolarmente significativi per qualche motivo: perché hanno avuto una visione che ha cambiato per sempre il modo di concepire un linguaggio, perché non si sono contentati di inventarne uno solo, o perché sono donne.<br>
Aggiungiamo a questa "Hall of Fame" anche dei personaggi che pur non avendo inventato un linguaggio sono particolarmente importanti storicamente, come Margaret <codeshow>Hamilton</codeshow> o Richard <codeshow>Stallmann</codeshow>, nella storia del codice sorgente.</p>
