<h1 id="Backus" data-time="1924" data-lat="39.998056" data-lon="-75.144722" ><wikipedia>John Backus</wikipedia> (1924-2007)</h1>
<p>Non aveva studiato informatica, ma chimica e poi medicina, e infine si era laureato in matematica.  Finisce chissà come a lavorare in IBM. <br>
Non solo scrive un programma per calcolare l’orbita della luna, ma siccome non è contento dei linguaggi disponibili all’IBM, inventa Speedcoding, uno dei primissimi linguaggi di alto livello. <br>
Da SpeedCoding deriverà FORTRAN (Formula Translator), uno dei linguaggi più famosi della storia, che a sua volta è all’origine di moltissimi altri<br>
Ma  Backus non è contento, e inventa anche un linguaggio per descrivere la sintassi di tutti i linguaggi (BNF, Backus-Naur Form). <br>
Come racconta Vikram Chandra nel suo "Geek Sublime", sembra che la stessa idea l’avesse avuta un grammatico indiano, Pāṇini, nel V secolo avanti Cristo, per descrivere il Sanscrito. Questo non deve stupirci più di tanto: anche se linguaggi di programmazione e lingue naturali sono così diversi, hanno in comune la possibilità di descriverne la parte più "rigida" in maniera formale.</p>
</p>
