<h1 id="Hamilton" data-time="1935" ><wikipedia>Margaret Hamilton</wikipedia> </h1>
<p>Ci sono due foto famose di Margaret Hamilton: in una c'è una ragazzina in piedi vicino ad una catasta d fogli di carta. Quella catasta è la versione stampata del codice sorgente dell'Apollo Guidance Computer, in sostanza quello che ha permesso alla missione Apollo 11 di arrivare sulla luna.<br>
La ragazzina in questione è il capo del team di sviluppo. Prima di arrivare lì, aveva lavorato ad un altro progetto di sistema software cruciale, legato alle previsioni meteo ma usato anche per simulare eventuali attacchi militari. <br>
Non era messa lì per caso. E per fortuna: è grazie a lei se al momento dell'allunaggio il software dell'AGC invece di rimanere impallato a ricevere dati dal radar fu capace di eliminare i processi con priorità più bassa ed eseguire correttamente  gli altri. <br>
Se volete saperne di più su questa storia, leggete il pannello dedicato al codice sorgente del modulo di comando di <codeshow>Apollo</codeshow> 11.<br>
L'altra foto famosa è quella in cui la ragazzina (aveva in realtà 33 anni) sorride mentre sta infilata dentro la cabina del modulo di comando dell'Apollo 11. <br>
Anche se la foto è chiaramente pubblicitaria, dovrebbe anche farci riflettere: una giovane ricercatrice matematica, donna, capo di uno dei team di sviluppo software, non esita a toccare la macchina, anzi a entrarci dentro. Tempi diversi, in cui c'era meno specializzazione e meno separazione di campi? Tempi in cui non si aveva paura del contatto con la materia, e il software era a casa sua nell'hardware? O semplicemente tempi in cui le macchine erano abbastnza grandi da potersi toccare (e anche smontare e rimontare)? <br>
Fatto sta che oggi siamo tutti alle prese con il "cloud", su cui non abbiamo nessuna idea precisa: cos'è, dove sta, cosa fa.
<img src="Hamilton_in_action.jpg" alt="Margaret Hamilton nel modulo di comando Apollo" title="Wikipedia">
</p>
