<h1 id="Grace-Hopper"  data-time="1906" data-q="Chi ha inventato il termine bug?" data-a="Grace Hopper"><wikipedia>Grace Hopper</wikipedia> (1906-1992)</h1>
<p>Il Commodoro Hopper, detta “Amazing Grace” o “Nonna COBOL”, è la seconda donna più famosa nel mondo dela programmazione (dopo Ada Lovelace, naturalmente).<br>
Da piccola amava smontare le cose (senza grande successo nel rimontarle). Ma non si arrende, si prende una laurea in Matematica a Yale, entra in Marina e la mettono a lavorare sul primo computer digitale, l'Harvard Mark I.<br>
Si narra che nel 1947, cercando di scoprire perché un programma si interrompesse, trovò un “bug” (ovvero un insetto) che aveva creato un contatto all'interno del grande calcolatore MARK II. Da quel momento, tutti gli errori nei programmi sono chiamati “bug”.<br>
<img src="bug.jpg" alt="Il primo bug" title="https://americanhistory.si.edu">
<br>
Ma non è ricordata solo per questo. <br>
Nel 1952 ha scritto A-0 System, che è uno dei primi esempi di  linguaggio compilato, e nel 1958 ha inventato FLOW-MATIC, il primo linguaggio con istruzioni simili all'inglese, da cui in seguito prese ispirazione il COBOL, che è usato ancora  oggi nelle applicazioni bancarie. Un esempio di codice FLOW-MATIC:<br>
<pre>
(0)  INPUT INVENTORY FILE-A PRICE FILE-B ; OUTPUT PRICED-INV FILE-C UNPRICED-INV
     FILE-D ; HSP D .
 (1)  COMPARE PRODUCT-NO (A) WITH PRODUCT-NO (B) ; IF GREATER GO TO OPERATION 10 ;
     IF EQUAL GO TO OPERATION 5 ; OTHERWISE GO TO OPERATION 2 .
 (2)  TRANSFER A TO D .
 (3)  WRITE-ITEM D .
 (4)  JUMP TO OPERATION 8 .
 (5)  TRANSFER A TO C .
 (6)  MOVE UNIT-PRICE (B) TO UNIT-PRICE (C) .
 (7)  WRITE-ITEM C .
 (8)  READ-ITEM A ; IF END OF DATA GO TO OPERATION 14 .
 (9)  JUMP TO OPERATION 1 .
(10)  READ-ITEM B ; IF END OF DATA GO TO OPERATION 12 .
(11)  JUMP TO OPERATION 1 .
(12)  SET OPERATION 9 TO GO TO OPERATION 2 .
(13)  JUMP TO OPERATION 2 .
(14)  TEST PRODUCT-NO (B) AGAINST ; IF EQUAL GO TO OPERATION 16 ;
     OTHERWISE GO TO OPERATION 15 .
(15)  REWIND B .
(16)  CLOSE-OUT FILES C ; D .
(17)  STOP . (END)
</pre>
Bisogna ammettere che anche chi non è un programmatore riesce a capire quello che fa il codice precedente: ed era esattamente l'obiettivo di Hopper.<br>
Hopper ha continuato a fare ricerca e formazione per quarant'annni. Tra le medaglie e gli omaggi, anche postumi, quello che probabilmente avrebbe gradito di più è arrivata nel 2010: il supercomputer Cray XE6 è stato battezzato "Hopper". <br>
Se volete saperne di più, guardate il video qui sotto.<br>
<youtube>1LR6NPpFxw4</youtube>
</p>
