<h1 id="Knuth" data-time="1938" data-lat="43.050" data-lon="-87.950" ><wikipedia>Donald Ervin Knuth</wikipedia> (1938)</h1>
<p>Per capire che tipo &egrave; Donald basta leggere un pezzetto della sua biografia.<br>
Studente di fisica, a 18 anni vede il primo computer, un <a target='blank' href='https://en.wikipedia.org/wiki/IBM_650'>IBM 650</a>. <br>
Legge il manuale, e decide di riscrivere l’assembler e il compilatore perché non gli piacciono <br>
Da Fisica passa a matematica, studia al CalTech, uno degli istituti di ricerca più prestigiosi al mondo, a Pasadena in California. <br>
Della sua monumentale opera “The Art of Computer Programming”, in sette volumi, Bill Gates disse: “Se pensi di essere un buon programmatore… mandami un riassunto di TAOCP, se sei riuscito a leggerlo tutto” <br>
<img src="https://upload.wikimedia.org/wikipedia/commons/6/62/ArtOfComputerProgramming.jpg" alt="AOCP" title="Wikipedia">
<br>
Qui un'intervista a Donald Knuth sul suo libro:
<youtube>1IewbyuOVlI</youtube>
<br>
Siccome l’editore non stampa i suoi libri con la qualità adeguata, Donald inventa un sistema di descrizione dei caratteri (Metafont) e un software per la scrittura di testi scientifici (TEX).<br>
Lo abbiamo inserito qui anche per un altro motivo speciale: ha inventato il concetto di Literate Programming e dei relativi software di scrittura di software WEB e CWEB.<br>
Il <codeshow>Literate_Programming</codeshow> è stata una rivoluzione copernicana: invece di scrivere un programma e poi commentarlo, si cominciano a scrivere i commenti, e solo dopo si inserisce il codice.<br>
Se vi sembra curioso, pensate che il programma AI Copilot, recentemente proposto da Microsoft, parte dalla descrizione in inglese della funzione da scrivere e genera il codice corrispondente.
</p>
