<h1 id="Leibniz" data-lat="51.333" data-lon="12.383"><wikipedia>Gottfried Leibniz</wikipedia> (1646 -1716)</h1>
<p>Probabilmente un genio troppo grande per poterne parlare qui.<br>
Oltre ad essere un famoso filosofo ed essere uno dei due matematici riconosciuti all'origine del calcolo infinitesimale (l'altro è Newton), è importante per la storia della programmazione per almeno tre motivi:
	<ul>
		<li>inventa la prima calcolatrice meccanica in grado di eseguire le quattro operazioni (1672)</li>
		<li>inventa il calcolo binario (1705)</li>
		<li>progetta di realizzare una Characteristica Universalis (1684)</li>
	</ul><br>
E' forse proprio l'ultimo il motivo più importante: l’idea di un linguaggio formale da usarsi al posto del linguaggio naturale per rappresentare e risolvere i problemi logici. Con le sue parole:<br>
 <pre>
	 Allora, non ci sarà più bisogno fra due filosofi di discussioni più lunghe
	 di quelle tra due matematici, poiché basterà che essi prendano le loro penne,
	 che si siedano al loro tavolo (riferendosi, se lo desiderano, a un amico)
	 e che entrambi dicano: “Calcoliamo”.
</pre>
Non era la prima volta che si usavano simboli al posto di proposizioni: lo faceva già Aristotele. Anche Ramon Lull, nel tredicesimo secolo, aveva individuato alcuni elementi primari che combinati insieme attraverso un numero finito di relazioni potessero dare origini a proposizioni vere. <br>
Ma in Leibniz c'è l'idea di meccanizzare il procedimento e di rendere calcolabile il valore di verità di una serie di proposizioni. <br>
Da "calcolabile" a "calcolabile da una macchina" il passo è breve. Curiosamente a Leibniz non viene in mente di mettere insieme le sue due idee. Bisognerà aspettare Charles Babbage, il suo Motore Analitico, e <codeshow>Ada_Lovelace</codeshow>.
</p>
