<h1 id="Matsumoto" data-time="1965" data-lat="34.69388" data-lon="135.5022"><wikipedia>Yukihiro Matsumoto</wikipedia> (1965)</h1>
<p>“Matz” appartiene alla generazione di programmatori che hanno imparato da soli, prima di andare all’università.<br>
Oltre a scrivere software (come cmail, un programma di posta scritto in Lisp), Matsumoto ha creato nel 1995 un nuovo linguaggio, <codeshow>Ruby</codeshow>. <br>
Qui di seguito potrete ascontare un'intervista a Matz dal titolo "Language matters":<br>
<youtube>ix2DeCzuckc</youtube>
<br>
Anche Matz ha ricevuto il premio della <a href="https://www.fsf.org/" target=_blank>Free Software Foundation</a> <br>
Matz è il <b>BDFL</b> (Benevolent Dictator For Life) di Ruby, come <codeshow>van_Rossum</codeshow> lo è di Python.<br>
Gli amanti di Ruby hanno un motto: <b>MINASWAN</b>. Che significa: <i>Matz Is Nice And So We All Are Nice.</i> In pratica, usare Ruby significa adererire non solo ad una filosofia di programmazione, ma anche ad uno stile di vita.<br>

</p>
