<h1 id="McCarthy" data-time="1934" data-lat="42.35" data-lon="-71.05"><wikipedia>John McCarthy</wikipedia> </h1>
<p>Il classico genio: arriva al CalTech (prestigiosa università Californiana: da lì sono usciti una settantina di premi Nobel, per dire) e salta due anni di matematica perché aveva studiato da solo. <br>
Sempre a CalTech viene sospeso perché si rifiuta di seguire i corsi di educazione fisica.<br>
Ha passato quasi tutta la sua vita professionale insegnando all'Università di Stanford. Ma prima, nel 1956, aveva deciso insieme ad un gruppetto di colleghi che era venuto il momento  di iniziare a occuparsi di Intelligenza artificiale (l'espressione l'aveva coniata lui).<br>
Il suo contributo sostanziale all'informatica è un linguaggio inventato apposta per scrivere software intelligenti:  <codeshow>Lisp</codeshow>.
Incidentalmente, siccome l'interprete Lisp tendeva ad accumulare in memoria frammenti inutili, McCarthy inventa anche il concetto di "garbage collector": una specie di spazzino che ciclicamente ripulisce la memoria da quello che non serve. <br>
McCarthy mise anche lo zampino nello sviluppo di ALGOL, che è considerato l'antenato dei moderni linguaggi di programmazione.<br>
Ma non era sempre così serio: negli anni sessanta partecipò alla scrittura di un programma per giocare a scacchi che si confrontò a distanza con il "collega" russo (e fu scofitto 3-1; ma della storia dell'informatica russa non si sa moltissimo).
<img src="McCarthy_chess.jpg" alt="McCarthy gioca a scacchi" title="Wikipedia">
</p>

