<h1 id="Perlis" data-time="1922" data-lat="40.439722" data-lon=" -79.976389">Alan Perlis (1922-1990)</h1>
<p>Ancora un altro chimico che dopo la guerra comincia a interessarsi alla matematica. <br>
Alla Carnegie Mellon Univesity diventa il capo del dipartimento di Computer Science e nel 1957 pubblica un articolo su quello che è probabilmente il primo compilatore ("Internal Translator").<br>
Per i suoi lavori teorici nel 1966 gli viene assegnato il Turing Award.<br>
Nel 1977 scrive un articolo in cui difende l'uso del linguaggio <codeshow>APL</codeshow> come primo linguaggio per gli studenti neofiti, al posto dei più usati FBAPP (FORTRAN or BASIC or ALGOL or PL/I or Pascal). Le ragioni per cui lo sostiene non riguardano efficienza, velocità o facilità di apprendimento, ma sono legate a tre qualità di APL:
<ul>
    <li>terseness: cose complicate possono essere descritte brevemente</li>
    <li>flexibility: ci sono diversi modi di descrivere compiti</li>
    <li>composability: si possono scrivere frasi che si avvicinano alle possibilità artistiche tipiche della prosa nelle lingue naturali</li>
</ul>
In pratica, un codice APL tende ad essere un quinto o un decimo dell'equivalente negli altri linguaggi. Questo rende più facile <strong>lggere</strong> il codice, più difficile commettere errori e, una volta scoperti, rimettere in sesto il programma.<br>
<a href="https://www.jsoftware.com/papers/perlis77.htm" target="_blank">In Praise of APL: A Language for Lyrical Programming</a><br>
Nel 1982 scrive un articolo ancora più famoso, in cui presenta il succo del suo pensiero in forma di epigrammi. Alcuni di questi sono solo scherzi, altri sono più profondi di quanto sembra, e si capiscono solo dopo anni di riflessione. Qualche esempio:
<pre>
    One man's constant is another man's variable.
    It is easier to write an incorrect program than understand a correct one.
    If you have a procedure with 10 parameters, you probably missed some.
    Recursion is the root of computation since it trades description for time.
    To understand a program you must become both the machine and the program.
    The 11th commandment was "Thou Shalt Compute" or "Thou Shalt Not Compute" - I forget which.
    In computing, invariants are ephemeral.
    When someone says "I want a programming language in which I need only say what I wish done," give him a lollipop.
</pre>
Trovate qui la lista completa: <a href="https://cpsc.yale.edu/epigrams-programming" target="_blank">Perlis' Epigrams</a><br>
</p>
