<h1 id="Russell" data-time="1937" data-lat="41.7625" data-lon="-72.674167" data-q="Quale è il nome del gioco per PDP-1 inventato da Steve Russell" data-a="Spacewar!" ><wikipedia>Steve Russell</wikipedia> (1937)</h1>
<p>Steve “slug” Russell è meno famoso di altri attori che sono all’origine del Lisp (il primo linguaggio per l’intelligenza artificiale), come John <codeshow>McCarthy</codeshow><br>
La ragione per cui lo citiamo qui &egrave; che la sua biografia dimostra che non è necessario essere tristi e barbosi per essere geni.<br>
Infati Steve, oltre ad aver scritto il primo interprete di Lisp, ha anche creato nel 1962 il primo videogioco digitale multiplayer, Spacewar!. Aveva quasi tutto: il salto nelll'iperspazio, la gravità che attira ineluttabilmente verso il pianeta, un vero cielo stellato con le costellazioni, e persino una specie di Joystick. <br>
<img src="spacewar.jpg" alt="Il videogioco Spacewar" title="https://en.wikipedia.org">
E' ancora possibile giocare a SpaceWar! recandosi fisicamente al Computer Museum History a Mountain View, sull'unico esemplare di computer PDP-1 funzionante.<br>
Oppure, accontentarsi di scaricare una versione in Javascript	 da <a href="https://spacewar.oversigma.com/readme.html">qui</a>.
Qui sotto potete guardare un'intervista a Steve  Russell a proposito di SpaceWar!:
<youtube>PnJvZHegg8I</youtube>
</p>
