<h1 id="Stallman" data-time="1953" data-lat="40.716667" data-lon="-74"><wikipedia>Richard Stallman</wikipedia> (1953)</h1>
<p>RMS è uno dei personaggi più influenti del mondo del software libero.<br>
Dopo aver lavorato nel laboratorio di intelligenza artificiale del MIT, in seguito ad forte disaccordo con la pratica nascente di chiudere il codice sorgente ha lanciato il progetto GNU (1983), ha creato la Free Software Foundation (1985) e ha scritto la prima licenza GNU GPL (1989)<br>
GNU (acronimo ricorsivo di GNU is Not Unix)/ Linux è un progetto di sistema operativo, molto simile a Unix ma completamente libero; ne fa parte il kernel (Linux) che è stato inizialmente scritto da Linus Torvalds. <br>
Stallman ha scritto un compilatore e un debugger per il linguaggio C e Emacs, un editor scritto in Lisp.<br>
E' anche famoso per le sue fotografie in cui si mostra con un hard disk dietro la testa a mo' di aureola.<br>
Qui un'intervista a Richard Stallman:
<youtube>yHBlxVj6-us</youtube>
</p>
