<h1 id="Thomson" data-time="1943" data-lat="29.95" data-lon="-90.08"><wikipedia>Ken Thomson</wikipedia> (1943)</h1>
<p>Ken Thomson viene ricordato per aver sviluppato alcune cose non banali, tra cui:<br>
<ul>
<li>il sistema operativo Unix (che è la base di Linux)</li>
<li>il linguaggio B (genitore del C)</li>
<li>una notazione per le espressioni regolari</li>
<li>la codifica di caratteri UTF-8</li>
<li>uno dei primi videogiochi</li>
<li>un programma di scacchi campione del mondo</li>
</ul>
e recentemente il linguaggio <a href="https://golang.org/" target="_blank">Go</a>.<br>
Sembra che l’origine di Unix sia questa: per poter giocare al suo stesso videogioco su un computer PDP-7 presso i laboratori Bell, Ken scrisse una serie di strumenti per facilitarne la riscrittura.<br />
Insomma il ruolo dei videogiochi nella storia della programmazione non è stato irrilevante. Forse non è un caso: gli aspetti divertenti, ludici, creativi sono una parte importante del mondo della programmazione.<br>
In generale, non è solo la logica quella che spinge le persone ad affrontare un compito astruso come quello di creare un linguaggio.<br>
Thomson sostiene di avere iniziato a lavorare con i computer perché ne era <strong>affascinato</strong> e di aver iniziato a inventare il linguaggio Go perché <strong>odiava</strong> il C++.
</p>
