<h1 id="van_Rossum" data-time="1956" data-lat="52.3547" data-lon="4.9040"><wikipedia>Guido van Rossum</wikipedia> (1956)</h1>
<p> Guido è un tipico esempio del modello del programmatore OpenSource. <br>
Guido ha lavorato per Google e per Dropbox, ma nel tempo libero ha inventato il linguaggio <codeshow>Python</codeshow> (1989), e si è battuto perché fosse free.<br>
Van Rossum &egrave; stato il <b>BDFL</b> di Python fino al 2018. <br>
Questo termine va spiegato solo ai non programmatori: significa <strong>Benevolent Dictator For Life</strong>, ovvero è il titolo che viene dato alla persona più influente in una comunità opensource.
Da un lato non devo stupire che una comunità così attenta al valore assoluto delle competenze possa riconoscere a chi ha inventato un linguaggio un potere totale sulla vita di quel linguaggio; dall'altro questa anti-democraticità sembrerebbe confliggere con i valori di apertura e confronto che vengono attribuiti al mondo open source.<br>
Qui un'intervista a Guido van Rossum sulla nascita di Python:<br>
 <youtube>J0Aq44Pze-w</youtube>
</p>