<h1 id="Wall" data-time="1954" data-lat="33.9991" data-lon="-118.4117"><wikipedia>Larry Wall</wikipedia> (1954)</h1>
<p>Un altro chimico prestato all’informatica, come <codeshow>Backus</codeshow> e <codeshow>Perlis</codeshow>. Ci deve essere qualche legame (oltre al fatto che a quei tempi  non era possibile essere laureati in Informatica). Può darsi che la forma mentis del chimico - così sintetica, costruttiva e insieme formale - assomigli a quella dei progrmmatori, anzi a quella di chi un linguaggio lo vuole inventare.<br>
Tra le cose per cui è famoso Larry:
<ul>
<li>- Aver vinto due volte di seguito, nel 1986 e nel 1987, la gara internazionale di codice sorgente C offuscato <codeshow>IOCCC</codeshow>;</li>
<li>- Aver ricevuto il primo Free Software Foundation Advancement Award nel 1998;</li>
<li>- Aver inventato il linguaggio di programmazione Perl, che a suo parere è basato su alcuni principi delle lingue naturali;</li>
<li>- Tenere delle conferenze spesso illuminanti, sempre divertenti;</li>
<li>- Aver scritto nei primi anni ‘90, insieme a Sharon Hopkins, i primi <codeshow>haiku</codeshow> in Perl;</li>
</ul>

Qui un'intervista a Larry Wall su Perl e le lingue naturali<br>
<youtube>ju1IMxGSuNE</youtube>
</p>
