<h1 id="Wirth" data-time="1934" data-lat="47.4991" data-lon="8.7297" data-q="Di quanti linguaggi è autore Nicklaus Wirth?" data-a="6"><wikipedia>Niklaus Wirth</wikipedia> (1934)</h1>
<p>Non è vero che gli informatici sono tutti americani o cinesi. <br>
Wirth è svizzero, anche se ha insegnato per quattro anni all'Università di Stanford, una delle più prestigiose Università della California, degli USA e forse del mondo. Nel 1984 ha ricevuto il premio Turing, che è un po' il Nobel dell'informatica.<br>
Ha inventato ben sei linguaggi di programmazione: Euler (1965), PL/360 (1967), ALGOL-W (1966) Pascal (1970), Modula-2 (1977) e Oberon (1986). <br>
Il più noto di questi, <codeshow>Pascal</codeshow>, è stato probabilmente il linguaggio più studiato dai ragazzi nei corsi introduttivi di programmazione nelle scuole e nelle Università prima di essere sostituito da Java e Python. <br>
Wirth ha introdotto alcuni concetti fondamentali dell’ingegneria del software, come la separazione (e la messa in relazione stretta) di strutture di dati e algoritmi e il raffinamento continuo del codice. <br>
Nel suo libro "Algorithms + Data_Structures = Programs" Wirth scrive:
<pre>
	[...] data in the first instance represent abstractions  of  real
	phenomena and  are  preferably formulated as  abstract structures
	not  necessarily  realized  in  common  programming  languages.
	In  the  process  of  program 	construction the data representation
	is gradually refined -- in step with the refinement of the algorithm --
	to  comply  more  and  more  with  the  constraints  imposed  by
	an  available  programming  system.
</pre>
<br>
Wirth è anche accreditato come l’autore della frase:
<pre>
	Il software diventa lento più rapidamente di quanto l’hardware diventi più veloce.
</pre>
che indica come per quanti sforzi si facciano per progettare computer più piccoli e veloci, c'è una tendenza opposta a inventare linguaggi sempre più complessi, e di conseguenza sempre più lenti e inefficaci.<br>
Wirth è definito un "mangia-quiche" nello scritto "I veri programmatori non usano Pascal", che è una tipica forma di <codeshow>humour</codeshow> da programmatori.
</p>
