<h1 id="Uscita">Uscita</h1>
<p>
A questo punto probabilmente hai un'idea diversa di cosa sono i codici sorgenti e di come li si scrive .<br>
Non credi più che siano incantesimi che animano i computer, che siano fatti di 0 e 1, che siano scritti in inglese.<br>
Non immagini più che i programmatori siano tutti hacker che rubano i segreti delle banche lavorando di notte nelle soffitte dei grattacieli di Manhattan o di Pechino.<br>
Hai visto quanta storia c'è dietro ogni singolo pezzetto di codice: idee, linguaggi, stili, e soprattutto persone.<br>
Certo, tutto questo non è sufficente per essere un programmatore o una programmatrice - ma non era l'obiettivo della Mostra. Se vuoi entrare in questo mondo, la cosa migliore è metterti a studiare informatica. Puoi farlo in solitaria, ma di solito è meglio farsi aiutare da qualcuno.<br>
Ma anche se non è questa la tua scelta professionale, può darsi che da ora in poi quando userai un programma ti verranno in mente domande diverse: chi l'ha scritto, quando e perché?<br>
<br>
Se vuoi approfondire alcuni dei temi che hai toccato nella Mostra, nella <codeshow>Libreria</codeshow> troverai alcuni libri interessanti. <br>
Se invece vuoi verificare quello che hai imparato (anche solo per gioco...), allora puoi cimentarti col <codeshow>CodeQuiz</codeshow><br>
<br>
Se invece erano tutte cose che sapevi già, anzi le sapevi meglio, perché non ci dai una mano? Puoi:
<ul>
<li>segnalarci delle imprecisioni</li>
<li>proporci nuovi materiali (immagini, interviste, codice sorgente, manuali)</li>
<li>suggerire nuovi pannelli o addirittura nuove stanze</li>
</ul>
<br>
Per ogni contatto, puoi inviare un'email all'indirizzo info@codexpo.org. Se possibile, presentati e racconta qualcosa sul tuo interesse per il codice sorgente. Se ci contatti per conto di un'associazione, di una scuola, di un'azienda, di un'ente di ricerca o di un ente pubblico, dicci qualcosa anche del contesto in cui opera, in modo da farci capire come possiamo collaborare meglio.<br>
Torna comunque a trovarci presto, c'è  sempre qualche novità.<br><br>
<a href="mailto:info@codexpo.org">Lo staff di Codeshow</a>
</p>
