<h1 id='Agile'>Agile</h1>
<p>Negli ultimi dieci anni sono emersi dei modelli di lavoro alternativi sia al cowboy solitario che alla batteria di operai. <br>
Questi modelli appartengono alla famiglia delle metodologie cosiddette <b>Agile:</b><br>
<ul>
<li>Pair programming: si lavora in coppie</li>
<li>eXtreme programming: si lavora in team</li>
</ul>
</p>
<p>Il &quot;Manifesto per lo sviluppo agile del software&quot; (Manifesto for Agile Software Development) è un documento pubblicato nel 2001 da Kent Beck, Robert C. Martin, Martin Fowler e altri.<br>
Oltre allo sviluppo in team, la programmazione agile prevede uno sviluppo iterativo e incrementale, una  pianificazione che si adatta nuove situazione e  un rapporto continuo con l'utilizzatore finale/cliente <br>
</p>
<h2>Pair Programming</h2>
<p>Nel PP si lavora in due. Uno è il pilota (“driver”), l’altro il navigatore (“navigator”). Il pilota scrive il codice, il navigatore lo legge e lo valuta. <br>
Si lavora per piccoli cicli, al termine di ognuno dei quali ci si scambia il ruolo.<br>
Il PP è considerato efficace quando i compiti da affrontare sono nuovi e richiedono creatività, e in generale produce un codice sorgente di qualità; mentre è costoso (in termini di ore di lavoro necessarie) per i compiti banali e routinari <br>

</p>
<h1>eXtreme Programming</h1>
<p>Questa metodologia di sviluppo è stata inventata per rispondere ai problemi insiti nelle metodologie classiche dell’ingegneria del software, come il metodo a cascata (Waterfall) che prevedono grandi team di sviluppo e un andamento in tre fasi:<br>
<ul><li>Analisi </li>
<li>Sviluppo</li>
<li>Test</li></ul>
<br>
L’XP (eXtreme Programming) prevede invece team piccoli e riunioni frequenti, di solito all’inizio di cicli di sviluppo corti<br>
Un’altra caratteristica dell’XP è la partecipazione continua allo sviluppo da parte cliente, che viene considerato il primo utente del software e non il committente, <br>
<img src="Extreme.jpg" alt="Extreme programming" title="web">
</p>
<h2>Remote Pair Programming</h2>
<p>Una variante interessante del Pair Programming è il  <strong>Remote Pair Programming</strong>, che prevede che i programmatori lavorino ognuno per suo conto ma usino un sistema di condivisione del l’editor, o dello schermo, più qualche sistema di comunicazione sincrona (tipicamente audio e chat).<br>
L’opposto è il Mob Programming, in cui un intero gruppo di programmatori lavora nella stessa stanza, nello stesso momenot, allo stesso codice.,<br>
Tra i promotori dell’XP ci sono Ward Cunningham (che è anche l’inventore del concetto di Wiki), oltre a Kent Beck<br>
</p>
