<h1>I programmatori in batteria</h1>
<p>Decine e decine di programmatori che lavorano in grandi stanzoni senza finestre, con una luce bianca sempre uguale notte e giorno, appoggiati su mini scrivanie, ognuna separata da un divisorio in compensato. E' il contesto di lavoro tipico delle grandi aziende, anzi il contesto tipico delle fabbriche ottocentesche, in cui per aumentare i margini di profitto si eliminano le distrazioni e le perdite di tempo.<br>
Ognuno lavora da solo ad una porzione di progetto, senza conoscere il resto, senza interagire con gli altri. Ognuno ha delle specifiche, cioè un documento che dice come si deve comportare il programma che deve scrivere<br>
Le specifiche non sono modificabili, e ogni porzione deve fare esclusivamente quello per cui è stata progettata<br>
La comunicazione tra programmatori non è incoraggiata, anzi è ostacolata<br>
<img src="Many.jpg" alt="Gruppo di programmatori" title="http://www.newsclick.in"><br>
Ma anche questa, forse, è solo un'immagine, e chissà quanto corrisponde a realtà. Si dice anzi che oggi le più quotate società ICT, quelle che stanno sulla costa ovest degli Stati Uniti (la California), abbiano scelto un approccio diverso: grandi stanze ma luminose, colorate, con tavoli sparsi senza un ordine preciso; con un angolo per giocare a ping-pong, un tappeto per lo yoga e tante piante ovunque.<br>
E' la negazione del contesto "fabbrica". L'idea è che i programmatori, malgrado tutto, siano esseri umani, e che gli umani producono di più se sono contenti, se stanno bene in uno spazio e con gli altri umani. L'obiettivo è sempre la produttività, ma si cerca di raggiungerla seguendo un'altra via.<br>
La società di informatica "dal volto umano" ha però una controindicazione: tende ad assorbire tutta la vita del programmatore, a tenerlo al lavoro anche nei week-end, a invadere la sua vita privata. <br>
Alla fine, qual è il contesto migliore?
</p>

