<h1 id="contesti">Contesti</h1>
<p>Come si scrive il codice sorgente? <br>
Prima di immaginare risposte complicate (“si scrive con l’esperienza, la creatività”)  cerchiamo le risposte più semplici<br>
Anzi rifacciamoci la domanda in maniera più terra-terra<br>
<ul>
<li>Il codice si scrive da soli o in gruppo? </li>
<li>Si parte da zero o si riprende qualcosa di già esistente?</li>
<li>Un programmatore ha diritto di scelta su cosa programmare e come farlo? </li>
<li>Ci sono delle regole non scritte che vanno rispettate?</li>
</ul>
Alla prima domanda possiamo rispondere andando a vedere da vicino l'immagine che i media consegnano del programmatore: il <codeshow>cowboy</codeshow> solitario
</p>
