<h1>Il  mito del coder solitario</h1>
<p>La prima risposta che viene in mente: il  cowboy solitario  che programma di notte, da solo, nel suo garage, con i Led Zeppelin a palla nelle cuffie e l’immancabile joint che si consuma sulla tastiera.<br>
Il coder (cioè chi scrive <i>source code</i>) è una specie  a sé: solitario, introverso (autistico), orgoglioso e poco empatico. <br>
Insomma il classico <b>nerd</b>: maschio, bianco ed etero. Occhialuto, malvestito, fa poco sport, tende alla pinguedine e alla scoliosi.<br>
E’ un immagine che viene dai film, dalla letteratura, da internet stessa<br>
Deriva in parte da quella dello scienziato folle (l'Emmet Brown di "Ritorno al futuro") e in parte dagli <codeshow>hackers</codeshow> solitari (Neo in "Matrix").<br>
</p>
Non ci sono donne programmatrici in questo immaginario (vedi stanza <codeshow>Genere</codeshow>). <br>
Se ci sono, usano il mouse al contrario...<br>
<img src="Stereotipi.jpg" alt="Stereotipi" title="web">
</p>
<p>Quest'immagine è un po' falsata. Alcuni programmatori possono avere iniziato a lavorare come freelance; qualcuno continua a farlo per lavoro o per hobby (per esempio, i volontari che partecipano a progetti opensource), e in questo caso è costretto a scrivere codice la sera o la notte. <br>
Ma la realtà  è che la maggior parte dei programmatori lavora di giorno, in una stanza con altri programmatori, senza effetti speciali.<br>
Questo non significa che il lavoro del programmatore sia banale e  routinario. Significa solo che la parte creativa del suo lavoro non deve per forza esprimersi secondo gli schemi del “poeta maledetto” dell’Ottocento europeo. <br>
    
All’altro estremo ci sono i programmatori che lavorano in <codeshow>batteria</codeshow>
  
</p>
