<h1 id="Diritto_Autore" data-q="I codici sorgente con licenza free si possono vendere?" data-a="Sì">Diritto d'autore del codice Sorgente </h1>
<p>
Quando si scrive un programma e si incontra un problema che non si sa risolvere viene spontaneo andare a cercare una soluzione già pronta da qualche parte.<br>
C'è chi dice che copia-incolla non è un buon modo di imparare a programmare e che proprio a forza di codice <i>copiaincollato</i> senza essere capito gli aerei cadono e le banche vanno in tilt. Ma la questione qui è un'altra: si può fare? Si può legalmente copiare il codice di un altro?<br>
E prima ancora: di chi sono i codici sorgenti? Di chi li scrive, o della azienda per cui lavora il programmatore?<br>
Può un programmatore riusare il suo stesso codice sorgente? E se il programmatore riusa parti di codici di altri programmatori, magari di altre aziende, commette una violazione delle regole per cui può essere denunciato, arrestato e messo in galara? Dipende.<br>
<br>
Dietro ad ogni codice sorgente c’è tanto lavoro e molta creatività, per cui non stupisce che la legge ritenga che il codici sorgenti facciano parte delle opere protette dal diritto d’autore. Proprio come ogni <wikipedia>proprietà intellettuale</wikipedia>, il codice è considerato frutto dell'ingegno, e quindi non è consentito copiarlo, riusarlo e diffonderlo senza l'autorizzazione dell'autore.<br> 
Tutto questo cambia per il codice  "open source". Proprio nell’ambito dello sviluppo di software esiste un'area in cui i codici si possono condividere e riusare con molta più libertà. <br>
L'idea di fondo, proposta tra gli altri da Richard <codeshow>Stallmann</codeshow>, è che il codice sorgente non vada mai chiuso, ma debba sempre restare aperto in modo che chiunque possa leggerlo e migliorarlo. Al programmatore vanno garantite quattro liberta:<br>
<ul>
    <li>libertà di eseguire il programma ad ogni scopo (libertà 0);</li>
    <li>libertà di poter studiare il funzionamento del programma con possibilità di accesso al codice sorgente per potervi apportare delle modifiche qualora ce ne fosse necessità (libertà 1);</li>
    <li>libertà di ridistribuire copie in linea con il concetto di condivisione nei confronti di chi necessiti del programma (libertà 2);</li>
    <li>libertà di apportare migliorie al programma e ridistribuire la versione aggiornata in modo che questo possa giovare alla comunità (libertà 3).</li>
</ul>
    
Quello che sembra essere una fonte di danno per l'autore, diventa invece il dispiegamento di una potenzialità enorme: quella che ha fatto di Linux (e di Apache, e di tanti altri software) un fenomeno mondiale di cui oggi non si potrebbe fare a meno.<br>
Su GitHub, GitLab,  SourceForge e altri repository simili gli sviluppatori mettono il loro codice sorgente a disposizione di altri programmatori, e allo stesso tempo attingono per i propri progetti.<br>
Naturalmente questo non significa che tutto è di tutti: ai codici sorgenti va comunque apposta una licenza, che però è considerata un "permesso d'autore" (copyleft) e non una privativa. Ci sono molte licenze aperte, e non tutte sono compatibili tra loro, perché ad esempio alcune permettono un riuso commerciale e altro no. <br>
Per approfondire: <wikipedia>Licenza_di_software_libero</wikipedia>.<br>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/GPLv3_Logo.svg/330px-GPLv3_Logo.svg.png" alt="GPL" title="https://en.wikipedia.org/wiki/GNU_General_Public_License">
</p>
<pre>
Ha collaborato a questo pannello Douma Zakaria
</pre>
