<h1 id='Etica'>Etica</h1>
<p>Per sfatare l’idea che gli hacker siano dei pirati informatici dediti solo alla ricerca del codice segreto che permette di entrare nel computer della CIA, sono stati scritti interi libri <b>sull’etica</b> hacker.<br>
Un vero hacker ha un unico valore: la conoscenza. <br>
Questo valore va ricercato con ogni mezzo. <br>
Questo valore permette di regolare i rapporti tra le persone e crea l’unico tipi di gerarchia accettabile<br>
In nome della conoscenza, è possibile aggirare delle convenzioni e delle regole che non hanno altro scopo che limitarne l’accesso<br>
<p>Ma in genera, la domanda che ci si può porre è se esiste, o se dovrebbe esistere, un’etica dei programmatori.<br>
E’ una discussione che è viva da tempo, tra chi sostiene che il programmatore è un tecnico che non deve preoccuparsi dell’uso del proprio lavoro e chi invece ritiene che l’enorme potere che hanno in mano i programmatori vada moderato con l’adesione a dei valori sociali condivisi<br>
Naturalmente non è semplice definire questi valori. Ad esempio: programmare il sistema di puntamento di un missile può essere considerata un’azione etica?<br>
</p>
<p>I campi di applicazione di un'etica dei programmatori sono molti, e crescono ogni giorno:<br>
<ul>
<li>accesso ai dati personali tramite app</li>
<li>scelte basate su profilazione automatica</li>
<li>controllo di veicoli</li>
<li>spinta all'acquisto di nuovo hardware attraverso la moltiplicazione di funzionalità inutili</li>
<li>&quot;backdoor&quot; che permettono l'accesso esterno a programmi ritenuti sicuri</li>
</ul>
</p>
