<h1 id='Hackers'>Hackers</h1>
<p>Il rappresentante più tipico di questo stereotipo di programmatore-cowboy solitario è l'hacker. <br>
Una figura a metà tra il professionista disposto a tutto per soldi e un novello Robin Hood che ruba dati ai cattivi per darli ai poveri<br>
Il termine corretto, in questi casi, sarebbe "cracker", oppure "black hat hacker".<br>
Esempi storici di hacker sono Kevin Mitnick, Adrian Lamo, Kevin Poulsen. Altri sono stati hackers "per un giorno", come Chelsea Manning che è all'origine di un furto - e diffusione - di dati militari che le è costato il carcere. <br>
La pagina italiana di wikipedia su <wikipedia>Hacker</wikipedia> riporta l'origine del termine agli anni '60. <br>
Una ricostruzione successiva della nascita del termine si può trovare nel libro del 1984 di Steve Levy  <wikipedia>Hackers._Gli_eroi_della_rivoluzione_informatica</wikipedia>.<br>
L'hacker è stato usato come spauracchio per giustificare alcuni restringimenti di libertà o come eroe maledetto in innumerevoli film e documentari. Questo è un elenco di quelli più conosciuti:<br>
<table>
    <thead>
        <tr><td>Titolo</td><td>Anno</td><td>Autore</td></tr>
    </thead>
    <tbody>
    <tr><td>Hackers: Wizards of the Electronic Age</td><td>1984</td><td>Fabrice Florin</td></tr>
    <tr><td>Hackers in Wonderland</td><td>2000</td><td>Russel Barnes</td></tr>
    <tr><td>Freedom Downtime</td><td>2001</td><td>Emmanuel Goldstein</td></tr>
    <tr><td>The Secret History of Hacking</td><td>2001</td><td>Ralph Lee</td></tr>
    <tr><td>In the Realm of the Hackers</td><td>2002</td><td>Kevin Anderson</td></tr>
    <tr><td>Hacking Democracy</td><td>2006</td><td>Russel Michaels</td></tr>
    <tr><td>The Code-Breakers</td><td>2006</td><td>David Kahn</td></tr>
    <tr><td>Steal This Film</td><td>2006</td><td>Jaime King</td></tr>
    <tr><td>Hackers Are People Too</td><td>2008</td><td>Ashley Shwartau</td></tr>
    <tr><td>Hackers Wanted</td><td>2010</td><td>Sam Gozzo</td></tr>
    <tr><td>We Are Legion</td><td>2012</td><td>Brian Knapperberger</td></tr>
    <tr><td>The Internet's Own Boy</td><td>2014</td><td>Brian Knappenberger</td></tr>
    <tr><td>Citizenfour</td><td>2014</td><td>Laura Poitras</td></tr>
    <tr><td>Hackers</td><td>1995</td><td>Iain Softley</td></tr>
    <tr><td>Takedown</td><td>2000</td><td>Joe Chappelle</td></tr>
    <tr><td>The fifth estate</td><td>2012</td><td>Bill Condon</td></tr>
    <tr><td>Who Ami I</td><td>2014</td><td>Baran bo Odar</td></tr>
    <tr><td>Mr. Robot</td><td>2015-2019</td><td>Sam Esmail</td></tr>
    </tbody>
    </table>
    
In entrambi i casi, l'hacker mette sotto i riflettori le coppie di valori libertà/sicurezza, personale/sociale, privato/pubblico. <br>
Cosa deve restare sicuro, cosa può essere comunicato? Siamo più sicuri se la nostra privacy non può essere violata, o se affidiamo i nostri dati personali ad un soggetto unico al di sopra degli interessi privati?<br>
<img src="Mitnick.jpg" alt="Kevin Mitnick" title="web">
</p>

