<h1 id='Humour'>Umorismo</h1>
<p> Gli informatici hanno un loro humour, che è  completamente incomprensibile per tutti gli altri.<br>
Tipiche battute da informatici:<br>
<pre>
	Non c'è nessun luogo come 127.0.0.1
</pre>
che si capisce solo sapendo che 127.0.0.1 è l'indirizzo con cui ogni computer punta a se stesso.
<pre>
	A: Preparami un panino.
		B: Non ci penso nemmeno.
	A: Sudo preparami un panino.
</pre>
che si capisce solo sapendo che "sudo" (che sta per:  super user do) è la maniera Linux di eseguire un comando con il ruolo di super utente, il quale ha potere su tutto il sistema.<br> 
Anche i programmatori hanno un loro speciale senso dell'umorismo, che è spesso legato alle caratteristiche dei linguaggi di programmazione.<br>

Ma lo humour è una cosa serie: una raccolta scherzosa di modi di scrivere il programma "Hello, World!"" a secondo del livello di competenza del programmatore può essere letta sul sito ufficiale GNU, nella sezione Jokes:
<a href="https://www.gnu.org/fun/jokes/helloworld.html" target="_blank">Hello, World</a>. Anche qui, solo un programmatore sorride o chiaramente si sganascia dalle risate leggendo la sequenza di codici sorgenti che va da :
<pre>
  program Hello(input, output)
    begin
      writeln('Hello World')
    end
</pre>
che è il primo tentativo di uno studente, passando per:
<pre>
  % cc -o a.out ~/src/misc/hw/hw.c
  % a.out
</pre>
che è il codice di un Guru che non deve mai scrivere (perché ha già scritto), fino a:
<pre>
 % letter
 letter: Command not found.
 % mail
 To: ^X ^F ^C
 % help mail
 help: Command not found.
 % damn!
 !: Event unrecognized
 % logout
</pre>
che è il patetico tentativo di un alto dirigente d'azienda di mandare una mail a qualche sottoposto per farsi scrivere un Hello, World decente.<br>
Un altro testo che fa parte della sotto-cultura dei programmatori è la <a href="https://www.cs.utah.edu/~elb/folklore/mel.html"  target="_blank">storia di Mel</a>, scritta da Ed Nather.<br>
Ispirato ad una persona reale, tale Melvin Kaye, il personaggio di Mel è la descrizione, tra l'ammirato e lo scherzoso, di un supereroe che scrive i programmi in esadecimale inorridendo per tutti le facilitazioni e ottimizzazioni disponibili.<br> Ma il testo contiene anche dei momenti poetici, come questo:
<pre>
    I have often felt that programming is an art form,
     whose real value can only be appreciated
     by another versed in the same arcane art;
     there are lovely gems and brilliant coups
     hidden from human view and admiration, sometimes forever,
     by the very nature of the process.
</pre>
In generale, i veri programmatori sono  descritti come uomini duri, che non usano linguaggi di alto livello, che sono cose da femminucce. Non amano i concetti astratti: ai veri programmatori basta un compilatore Fortran e un boccale di birra, come si spiega in questo 
<a href="https://www.usm.uni-muenchen.de/~hoffmann/roff/tmp/rpdup.pdf" target='_blank'>testo</a> di Ed Post, dal titolo chiaro: "I veri programmatori non usano Pascal".<br> 
Questa forma di umorismo si ispira ad un libro umoristico scritto da Bruce Feirstein nel 1982 e che ebbe  successo enorme (“I veri uomini non mangiano quiche”). La quiche, per chi non lo sapesse, è una torta salata della cucina francese.<br>
La stessa idea ha ispirato vent’anni dopo le storie di Chuck Norris, che sono elenchi di azioni impossibili per gli umani, ma non per Chuck Norris, l'attore che ha prestato il volto tanti personaggi invincibili che risolvono ogni problema a colpi di Taekwondo. Ma tra le cose che può fare solo Chuck non ci sono solo strangolare la gente con un telefono senza fili, parlare braille o tagliare i coltelli col burro. Per esempio:<br>
<ul>
<li>Chuck Norris ha trovato l'ultima cifra di Pi greco</li>
<li>Chuck Norris può dividere per zero.</li>
<li>Chuck Norris può contare fino all'infinito. Due volte.</li>
</ul>
eccetera. Se avete voglia di saperne di più, potete spulciare questa raccolta: <a href="https://chucknorrisfacts.net/" target='_blank'>raccolta</a>.<br>
Fa ridere, ma fa anche riflettere su quanta cultura "machista" ci fosse all'epoca, e ci sia ancora, nel mondo dei programmatori, e su quanto siano imporanti le questione di <codeshow>Genere</codeshow>.
<img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Chuck_Norris_May_2015.jpg" alt="Chuck Norris" title="https://it.wikipedia.org/wiki/Chuck_Norris"> 
</p>
