<h1>Lean software development</h1>
<p>E’ una metodologia ispirata alla Lean production, sviluppata e resa  famosa da Toyota nel campo della produzione di auto ed alternativa rispetto alla produzione di massa<br>
Può essere riassunta in quattro suggerimenti pratici: <br></p>
<ul>
<li>elimina gli sprechi</li>
<li>decidi più tardi possibile</li>
<li>consegna più velocemente possibile</li>
<li>dai potere al gruppo</li>
</ul>
più tre elementi di valore:<br>
<ul>
<li>amplificare l’apprendimento</li>
<li>integrità nella costruzione</li>
<li>visione complessiva </li>
</ul>
<p>Hanno contribuito alla diffusione del LSD i coniugi Mary e Tom <a href="http://www.poppendieck.com/people.htm" target="_blank">Poppendieck</a>
</p>
