<h1>La stanza del coder solitario</h1>
<p>Un coder lavora nella propria stanza, da solo. L’elemento fondamentale è la scrivania<br>
La scrivania del coder deve avere molti schermi; però lui preferisce scrivere piegato su un portatile<br>
<img src="Stanza.jpg" alt="Stanza" title="https://lifehacker.com">
Un altro elemento sempre presente è il caffè – quello lungo, americano - che si sorseggia per ore da una grande tazza, il mug. <br>
Una classica battuta da nerd:<br>
<pre>
	Domanda: Cos’è un programmatore? 
    Risposta:  è un organismo che converte caffeina in codice sorgente.
</pre> 
<img src="Mug.png" alt="Tazza" title="https://shopify.com">
Peraltro non a caso <codeshow>Java</codeshow> (uno dei linguaggio più utilizzati) è un tipo di caffè.<br>
Che cosa mangia il coder? Junk food (letteralmente: cibo spazzatura): è il termine per indicare un cibo malsano, che si sgranocchia fuori pasto: patatine, merendine, sticks, snacks, pizza e spaghetti in barattolo <br>
Non si sa se il motivo per cui si nutre così male è che non ha tempo da perdere con la cucina e la spesa, oppure perché il gesto ripetitivo di portare alla bocca qualcosa lo aiuta a concentrarsi, un po' come fumare una sigaretta (ma i coders non fumano?).<br>
Ovviamente il coder/hacker si veste sempre sportivo, con  jeans, sneakers  e una felpa con il cappuccio sempre su, anche quando sta solo in casa. Però è chiaro che non fa sport e tende ad ingrassare, anche per colpa della posizione seduta, piegata in avanti.<br>
Ancora non ci sono esempi di coder che lavorano sdraiati, che dettano codice con la voce e che vedono il risultato tramite occhiali di Virtual Reality, ma probabilmente non manca molto.
</p>
