<h1 id="Tools" data-q="I veri programmatori non usano..." data-a="Pascal" > Cosa serve per programmare?</h1>
<p>A parte i casi di <b>remote pair programming</b>, in cui si usa uno strumento di scrittura collaborativa o di condivisione remota dello schermo, normalmente ogni programmatore usa il proprio Editor di codice e, se possibile, non lo cambia.<br>
Gli editor sono tra i primi programmi sviluppati dai programmatori, per se stessi. Proprio per questo, non avevamo molti fronzoli, ma disponevano di funzionalità utilissime per scrivere codice sorgente, come la ricerca di un testo, la gestione di snippet di codice, i modelli di indentazione, la possibilità di compilare direttamente il codice.<br>
La maggior parte delle funzioni poteva essere richiamata con combinazioni di tasti, senza bisogno del mouse. La finestra di scrittura occupava tutto lo schermo, spesso senza nemmeno un menù visibile. <br>
</p>
<p>Tuttora ci sono programmatori che preferiscono usare strumenti essenziali e potenti come <codeshow>Vi</codeshow>, <codeshow>Emacs</codeshow><br>
Altri programmatori preferiscono usare un <codeshow>IDE</codeshow>> (<b>I</b>ntegrated <b>D</b>evelopment  <b>E</b>nvironment), che è un programma molto più grande, complesso, pieno di finestre e menù.<br>
Un IDE fornisce aiuti alla scrittura: help contestuale, evidenziazione grafica degli errori, ricerca della definizione delle funzioni utilizzate. Esempi noti di IDE moderni sono Visual Studio Code, Eclipse, NetBeans.<br>
</p>
<p>Quale che sia lo strumento per scrivere codice, di solito un programmatore non immagina di scrivere da solo <i>tutto</i> il codice che serve per svolgere il compito che gli è stato affidato. <br>
Di solito si usano <b>librerie</b> (cioè pezzetti di codice già pronti per svolgere certe funzioni) e <b>framework</b> (cioè ambienti che permettono di concentrarsi sull’obiettivo e non sui mezzi per raggiungerlo)<br>
Come ci sono diatribe infinite su quale sia il linguaggio migliore (più potente, elegante, veloce), così ci sono discussioni su quale framework sia più adatta ad un certo scopo<br>
</p>
<p>Alcuni programmatori sostengono una visione radicale per cui l’uso di librerie e framework è una concessione alla dei tempi, e che un “vero programmatore” scrive tutto da solo.<br>
Questa opinione ha dato origine a una serie di battute e barzellette nel tipico <codeshow>Humour</codeshow> da programmatori, di cui le più famose  sono “I veri programmatori non usano Pascal” e  “La storia di Mel, il vero programmatore” apparse nel 1983 e da allora rimaste tra i riferimenti storici della cultura digitale. <br>
</p>
