<h1 id="Arte">Programmare è un’arte</h1>
<p>Programmare è tecnica, è scienza, è STEM. Ma è anche arte?<br>
E' una domanda strana: accostare gli aspetti artistici, estetici, ad un campo razionale e freddo come quello della programmazione può sembrare un azzardo.<br>
Certo,  alcuni programmi appartengono al mondo dell'arte nel senso che producono risultati artistici fruibili da umani come se fossero quadri o sinfonie (“computer graphics”, “computer music”). Si può fare anche con la lingua? Si può fare "digital poetry"?<br>
Certamente: si può scrivere - ed è stato fatto - un programma che produca un testo poetico (in cui “poetico” sta per “vincolato formalmente”, adeguato a questo o quel canone); o ancora un programma che produca infiniti testi poetici. Viene polemicamente rotto il legame tra poesia e poeta, tra estetica e creatività individuale, per sottolineare in maniera forzata gli aspetti formali, universali, meccanici, ripetibili della poesia. <br>
Questa è la strada più vicina all'intuizione originale dell'<codeshow>OuLiPo</codeshow>, l'officina di letteratura potenziale che ha formalizzato l'estetica dei <codeshow>vincoli</codeshow>.<br>
“Cent Mille Milliards de Poèms” di Raymond <codeshow>Queneau</codeshow> (1960) è una versione “carta e inchiostro” di un programma che selezioni casualmente dieci versi da un archivio di 10 sonetti di 14 versi. <br/>
Diverse versioni digitali sono state realizzate in seguito della macchina-libro; la cosa interessante della versione software è naturalmente proprio il fatto che sia un testo (un codice sorgente) a produrre altri testi.<br>
Un software di questo tipo è una metafora generale dell'azione poetica, che è sempre intertestuale e usa testi esistenti per produrre altri testi. <br>
Una variante interessante della macchina che riproduce se stessa è il <strong>virus</strong>; e infatti sul <codeshow>virus</codeshow>  informatico come oggetto estetico è stato scritto più volte. Un virus è codice puro; il suo scopo è riprodursi, e lo fa entrando in un altro organismo, anche in maniera involontaria. L'organismo ospite, dopo un certo tempo, lo diffonde. Ma non è quello che succede con tutti i testi?<br><br>
Ma al di là delle poesie digitali, è possibile parlare di un'<i>estetica della programmazione?</i>, cioè del codice sorgente, indipendentemente dal prodotto, dal risultato dell'esecuzione del programma? <br>
Si possono scrivere codici sorgenti con un atteggiamento (degli obiettivi, delle tecniche, delle regole) che assomigliano a quelle con cui si scrivono testi letterari?<br>
Si possono leggere dei codici sorgenti come se fossero opere d'arte?
</p>

