<h1 id=ASCII_art" data-q="In che linguaggio è scritto un quine dromedary?" data-a="Perl">ASCII Art</h1>
<p>Il movimento dell’ASCII Art è uno dei tentativi di realizzare opere d’arte con strumenti digitali. La sua versione base consiste nel realizzare immagini composte con lettere e simboli, un po’ come si faceva con le macchine da scrivere, le quali a loro volta mimavano i ricami.<br>
Questa prima versione – che citiamo per completezza -  non ha molto a che fare colla nostra ricerca. Tuttavia gli esempi raccolti qui, e soprattutto il software “Hascii Cam” con cui potete interagire qui a fianco, sono  abbastanza divertenti<br>
Ci sono poi i codici sorgente che sono impaginati in modo da costruire un’immagine. <br>
Il caso più noto è quello del <i>quine-dromedary</i>: un programma scritto in Perl che, se eseguito, produce se stesso. Per apprezzare il gioco, bisogna sapere che l’animale mascotte del linguaggio Perl è appunto il dromedario, da quando è apparso su un manuale O’Reilly. E d’altra parte c’è il detto: “Perl is like a camel, ugly but efficient” (Perl è come un dromedario: brutto, ma efficiente)<br>
<img src="QuineDromedary.jpg" alt="Quine Dromedary" title="web">
Un’impaginazione particolare del codice è uno degli elementi chiave delle gare di codice offuscato, come <codeshow>IOCCC</codeshow>.<br>
</p>
<p>Naturalmente l’ASCII Art non nasce dal nulla<br>
Esistevano già da anni illustrazioni fatte con la macchina da scrivere, come questa:
<img src="ArtTyping.jpg" alt="Art Typing" title="web">
 e prima ancora i ricami all’uncinetto, e ancora prima i Carmina Figurata:<br>
<img src="Sagittarius.jpg" alt="Sagittarius" title="web">
 Una carrellata su tutti questi antenati può essere consultata <a href="https://www.theatlantic.com/technology/archive/2014/01/the-lost-ancestors-of-ascii-art/283445/" target="_blank">qui</a>.<br>
</p>
