<h1 id="Haiku">Haiku</h1>
Uno dei pezzi di codice meno famoso, tra quelli scritti da Larry <codeshow>Wall</codeshow>, l'inventore del Perl, è  probabilmente questo:<br>
<br>
<pre>print STDOUT q</pre>
<pre>Just another Perl hacker,</pre>
<pre>unless $spring</pre>
<pre># Larry Wall</pre>
<pre># lwall@jpl-devvax.jpl.nasa.gov</pre>
<br>
Si tratta di una poesia scritta in Perl che richiama l'Haiku, una forma tradizionale di poesia giapponese, nata nel XVII secolo e composta da soli 3 versi. <br>
Erano anni in cui i riferimenti alla cultura giapponese erano piuttosto diffusi. Ad esempio, la forma "Zen of" era considerata sinonimo di "il meglio del meglio di".<br>
Ma JAPH (Just Another Perl Hacker) è anche un <i>topos</i>, un luogo poetico, un meme tipico del Perl. Un JAPH è un codice che scrive esattamente se stesso, ed è stato usato come firma nei messaggi. Anche in questo caso, come per i <codeshow>IOCCC</codeshow>, può essere una forma di virtuosismo, in cui non si capisce a prima vista <strong>come fa</strong> quel codice a scrivere quella frase. Quello che segue è un JAPH che non usa segni di interpunzione: 

<pre>
   not exp log srand xor s qq qx xor
   s x x length uc ord and print chr
   ord for qw q join use sub tied qx
   xor eval xor print qq q q xor int
   eval lc q m cos and print chr ord
   for qw y abs ne open tied hex exp
   ref y m xor scalar srand print qq
   q q xor int eval lc qq y sqrt cos
   and print chr ord for qw x printf
   each return local x y or print qq
   s s and eval q s undef or oct xor
   time xor ref print chr int ord lc
   foreach qw y hex alarm chdir kill
   exec return y s gt sin sort split
</pre>
Una galleria di JAPH può essere esplorata <a href="https://www.cpan.org/misc/japh" target="_blank">qui</a>.<br><br>
Sharon Hopkins è forse la più famosa autrice di Haiku in Perl, a partire dal suo contributo  del 1992 "Camels and Needles: Computer Poetry Meets the Perl Programming Language" <br>
Questo è uno dei suoi componimenti: <br>
<pre>#!/usr/bin/perl</pre>

<pre>APPEAL:</pre>

<pre>listen (please, please);</pre>

<pre>open yourself, wide;</pre>
<pre>    join (you, me),</pre>
<pre>connect (us,together),</pre>

<pre>tell me.</pre>

<pre>do something if distressed;</pre>

<pre>    @dawn, dance;</pre>
<pre>    @evening, sing;</pre>
<pre>    read (books,$poems,stories) until peaceful;</pre>
<pre>    study if able;</pre>

<pre>    write me if-you-please;</pre>

<pre>sort your feelings, reset goals, seek (friends, family, anyone);</pre>

<pre>        do*not*die (like this)</pre>
<pre>        if sin abounds;</pre>

<pre>keys (hidden), open (locks, doors), tell secrets;</pre>
<pre>do not, I-beg-you, close them, yet.</pre>

<pre>                            accept (yourself, changes),</pre>
<pre>                            bind (grief, despair);</pre>

<pre>require truth, goodness if-you-will, each moment;</pre>

<pre>select (always), length(of-days)</pre>

<pre># listen (a perl poem)</pre>
<pre># Sharon Hopkins</pre>
<pre># rev. June 19, 1995</pre>
