<h1>JAPH</h1>
<p> Un esempio di JAPH  per San Valentino...
</p>
<pre>#Kickstart from http://www.perlmonks.com/</pre>
<pre>#note: a slight valentine variation :)</pre>

<pre>      $LOVE=               AMOUR.</pre>
<pre>    true.cards.        ecstacy.crush </pre>
<pre>  .hon.promise.de    .votion.partners.</pre>
<pre> tender.truelovers. treasure.affection.</pre>
<pre>devotion.care.woo.baby.ardor.romancing.</pre>
<pre>enthusiasm.fealty.fondness.turtledoves.</pre>
<pre>lovers.sentiment.worship.sweetling.pure</pre>
<pre>.attachment.flowers.roses.promise.poem;</pre>
<pre>$LOVE=~ s/AMOUR/adore/g; @a=split(//,</pre>
<pre>  $LOVE); $o.= chr (ord($a[1])+6). chr</pre>
<pre>   (ord($a[3])+3). $a[16]. $a[5]. chr</pre>
<pre>    (32). $a[0]. $a[(26+2)]. $a[27].</pre>
<pre>      $a[5].$a[25]. $a[8].$a[3].chr</pre>
<pre>        (32).$a[29]. $a[8].$a[3].</pre>
<pre>          $a[62].chr(32).$a[62].</pre>
<pre>           $a[2].$a[38].$a[4].</pre>
<pre>               $a[3].'.';</pre>
<pre>                 print</pre>
<pre>                  $o; </pre>
