<h1 id="Levy">La programmazione come arte</h1>
<p>Pierre Lévy è un filosofo francese che ha iniziato la sua carriera occupandosi del concetto di Intelletto unico nella metafisica araba medievale per poi passare a descrivere l'Intelligenza collettiva dei nostri tempi.<br>
In mezzo, nel 1992, scrive uno strano libro ("La programmazione considerata nel novero delle belle arti") nel quale descrive il lavoro del programmatore come quello di un artista-artigiano.<br>
Sostiene due tesi paradossali:
<ul>
<ol> che la programmazione va inserita a pieno titolo tra le altre “belle arti”</ol>
 <ol>che la scrittura di programmi (coding) è una parte della scrittura <i>tout court</i></ol>
</ul>
Lévy non  parla genericamente dell'informatica, del “digitale”, ma di un'attività professionale, di una pratica di lavoro, che viene analizzata attraverso quattro casi di studio reali.<br>
Quello  che caratterizza la programmazione come arte non è l'aspetto estetico del suo prodotto (come si potrebbe pensare alla bellezza di un teorema matematico, all'equilibrio statico di una statua) ma la natura non metodica, artigianale, del suo processo. <br>
Il termine stesso di “arte” è inteso da Lévy nell'accezione rinascimentale di sapere esperto non facilmente definibile e insegnabile.<br>
E' un paradosso: se  molti grandi informatici teorici sono concordi nel riconoscere alla propria disciplina un aspetto estetico, di solito  lo fanno proprio negando la sua caratteristica di “arte” come opposto a “scienza esatta”. <br>
Invece la natura artigianale, esperienziale, della programmazione emerge come una caratteristica specifica dell'opera dell'<codeshow>hacker</codeshow>, intesa come attività di bricolage digitale.
</p>
