<h1>Perl Poetry</h1>
<p>
Agli inizi degli anni '90, all'interno della comunità di programmatori PERL, probabilmente del tutto all'oscuro dei rischiosi tentativi del gruppo <codeshow>Oulipo</codeshow>, nasce come sfida, come divertimento, l'idea di scrivere programmi che fossero privi di scopo ma avessero chiare somiglianze formali e contenutistiche con testi poetici, in particolare con la forma minimalista dell'haiku. <br>
Due idee paradossali: la prima, quella di scrivere programmi senza obiettivo, nega l'essenza stessa della programmazione così come è insegnata ovunque. Programmare è “tradurre in un linguaggio un algoritmo che risolve un problema dato”; qui non abbiamo il problema, e l'algoritmo sembra perdere importanza nei confronti del linguaggio in cui è scritto. <br>
La seconda idea è quella di condurre il lettore colto a cogliere delle somiglianze tra alcune forme d'arte poetica (non a caso, una forma che si confa alla limitatezza del dizionario di un linguaggio come il PERL, che ha solo 250 termini) e delle “forme di codice”, che soddisfino tutti i requisiti formali di un codice sorgente, e in particolare l'essere effettivamente eseguibile su qualche macchina.<br>
La Perl Poetry nasce come gioco, come dimostrazione di abilità, e si apparenta in questo alle gare di “codice offuscato”, in cui il programmatore ha come obbiettivo quello di scrivere codice incomprensibile ma funzionante. </p>
