<h1 id="poesie">Poesie digitali</h1>
<p>Si dice che tutti i programmi sono scritti per risolvere un problema. Non è del tutto vero: ci sono programmi che non risolvono nulla, ma si limitano a girare e, in alcuni casi, a produrre degli effetti (ma non necessariamente).<br>
Ci sono programmi scritti solo per essere letti, per essere "assaporati", esattamente come una poesia, che non serve a niente se non a provocare un effetto su chi la legge.<br>
Non è un'idea moderna. I primi a giocare con i linguaggi di programmazione in questo modo sono forse stati gli oulipiani. <br>
 OuLiPo (Ouvroir de Literature Potentielle) è il nome di un’associazione un po’ strana di letterati e matematici. Ne fanno parte George Perec, Raymond Queneau, Italo Calvino, François Le Lyonnais e Arnaud.<br>
Noel Arnaud, un altro dei membri più influenti, nella vita è una persona tranquilla, un collezionista, servitore dello stato. Ma è noto per aver scritto per primo qualcosa a cui nessuno aveva mai pensato: un intero libro di poesie scritte con il lessico del linguaggio <wikipedia>ALGOL</wikipedia>.<br>
Non si tratta di vere poesie scritte in ALGOL, nel senso che il risultato non è un programma. E' come se un italiano scrivesse una poesia usando solo parole inglesi, ma con la sintassi italiana. Ci vogliono altri trent'anni prima che si arrivi a qualcosa di diverso.
</p>
<p>
Agli inizi degli anni '90, all'interno della comunità di programmatori in Perl, probabilmente del tutto all'oscuro dei rischiosi tentativi del gruppo degli ouilipiani, nasce come sfida, come divertimento, l'idea di scrivere programmi che fossero privi di scopo ma avessero chiare somiglianze formali e contenutistiche con testi poetici, in particolare con la forma minimalista dell'haiku. <br>
Due idee paradossali: la prima, quella di scrivere programmi senza obiettivo, nega l'essenza stessa della programmazione così come è insegnata ovunque. Programmare è “tradurre in un linguaggio un algoritmo che risolve un problema dato”; qui non abbiamo il problema, e l'algoritmo sembra perdere importanza nei confronti del linguaggio in cui è scritto. <br>
La seconda idea è quella di condurre il lettore colto a cogliere delle somiglianze tra alcune forme d'arte poetica (non a caso, una forma che si confa alla limitatezza del dizionario di un linguaggio come il PERL, che ha solo 250 termini) e delle “forme di codice”, che soddisfino tutti i requisiti formali di un codice sorgente, e in particolare l'essere effettivamente eseguibile su qualche macchina.<br>
La Perl Poetry nasce come gioco, come dimostrazione di abilità, e si apparenta in questo alle gare di “codice offuscato” come <codeshow>IOCCC</codeshow>, in cui il programmatore ha come obbiettivo quello di scrivere codice incomprensibile ma funzionante. <br>
Tuttavia alcuni prodotti della PERL poetry sembrano andare al di là dei limiti del gioco formale, a partire da quello di Larry <codeshow>Wall</codeshow>.<br>
</p>