<h1>Quine Dromedary</h1>
<h2>                                                   #</h2>
<h2>                                                   sub j(\$){($</h2>
<h2>                     P,$V)=                      @_;while($$P=~s:^</h2>
<h2>                 ([()])::x){                    $V+=('('eq$1)?-32:31</h2>
<h2>           }$V+=ord(  substr(                 $$P,0,1,&quot;&quot;))-74} sub a{</h2>
<h2>          my($I,$K,$  J,$L)=@_               ;$I=int($I*$M/$Z);$K=int(</h2>
<h2>         $K*$M/$Z);$J=int($J*$M             /$Z);$L=int($L*$M/$Z); $G=$</h2>
<h2>         J-$I;$F=$L-$K;$E=(abs($          G)&gt;=abs($F))?$G:$F;($E&lt;0) and($</h2>
<h2>          I,$K)=($J,$L);$E||=.01       ;for($i=0;$i&lt;=abs$E;$i++ ){ $D-&gt;{$K</h2>
<h2>                  +int($i*$F/$E)      }-&gt;{$I+int($i*$G/$E)}=1}}sub p{$D={};$</h2>
<h2>                 Z=$z||.01;map{    $H=$_;$I=$N=j$H;$K=$O=j$H;while($H){$q=ord</h2>
<h2>                substr($H,0,1,&quot;&quot; );if(42==$q){$J=j$H;$L=j$H}else{$q-=43;$L =$q</h2>
<h2>              %9;$J=($q-$L)/9;$L=$q-9*$J-4;$J-=4}$J+=$I;$L+=$K;a($I,$K,$J,$ L);</h2>
<h2>              ($I,$K)=($J,$L)}a($I,$K,$N,$O)}@_;my$T;map{$y=$_;map{ $T.=$D-&gt;{$y}</h2>
<h2>              -&gt;{$_}?$\:' '}(-59..59);$T.=&quot;\n&quot;}(-23..23);print&quot;\e[H$T&quot;}$w= eval{</h2>
<h2>              require Win32::Console::ANSI};$b=$w?'1;7;':&quot;&quot;;($j,$u,$s,$t,$a,$n,$o</h2>
<h2>              ,$h,$c,$k,$p,$e,$r,$l,$C)=split/}/,'Tw*JSK8IAg*PJ[*J@wR}*JR]*QJ[*J'.</h2>
<h2>               'BA*JQK8I*JC}KUz]BAIJT]*QJ[R?-R[e]\RI'.'}Tn*JQ]wRAI*JDnR8QAU}wT8KT'.</h2>
<h2>               ']n*JEI*EJR*QJ]*JR*DJ@IQ[}*JSe*JD[n]*JPe*'.'JBI/KI}T8@?PcdnfgVCBRcP'.</h2>
<h2>                '?ABKV]]}*JWe*JD[n]*JPe*JC?8B*JE};Vq*OJQ/IP['.'wQ}*JWeOe{n*EERk8;'.</h2>
<h2>                  'J*JC}/U*OJd[OI@*BJ*JXn*J&gt;w]U}CWq*OJc8KJ?O[e]U/T*QJP?}*JSe*JCnTe'.</h2>
<h2>                   'QIAKJR}*JV]wRAI*J?}T]*RJcJI[\]3;U]Uq*PM[wV]W]WCT*DM*SJ'.  'ZP[Z'.</h2>
<h2>                      'PZa[\]UKVgogK9K*QJ[\]n[RI@*EH@IddR[Q[]T]T]T3o[dk*JE'.  '[Z\U'.</h2>
<h2>                        '{T]*JPKTKK]*OJ[QIO[PIQIO[[gUKU\k*JE+J+J5R5AI*EJ00'.  'BCB*'.</h2>
<h2>                             'DMKKJIR[Q+*EJ0*EK';sub h{$\ = qw(% &amp; @ x)[int    rand</h2>
<h2>                              4];map{printf  &quot;\e[$b;%dm&quot;,int(rand 6)+101-60*   ($w</h2>
<h2>                               ||0);system(  &quot;cls&quot;)if$w ;($A,$S)=    ($_[1],   $</h2>
<h2>                                _[0]);($M,   @,)= split  '}';for(     $z=256</h2>
<h2>                                ;$z&gt;0; $z   -=$S){$S*=   $A;p @,}      sleep$_</h2>
<h2>                                [2];while   ($_[3]&amp;&amp;($    z+=$ S)       &lt;=256){</h2>
<h2>                                p@,}}(&quot;&quot;.   &quot;32}7D$j&quot;     .&quot;}AG&quot;.       &quot;$u}OG&quot;</h2>
<h2>                                .&quot;$s}WG&quot;    .&quot;$t&quot;,&quot;&quot;      .&quot;24}(&quot;        .&quot;IJ$a&quot;</h2>
<h2>                                .&quot;}1G$n&quot;    .&quot;}CO$o&quot;     .&quot;}GG$t&quot;        .&quot;}QC&quot;</h2>
<h2>                                 .&quot;$h}&quot;      .&quot;^G$e&quot;    .&quot;})IG&quot;          .&quot;$r&quot;,</h2>
<h2>                                 &quot;32}?&quot;       .&quot;H$p}FG$e}QG$r&quot;.          &quot;}ZC&quot;</h2>
<h2>                                 .&quot;$l&quot;,          &quot;28}(LC&quot; .&quot;&quot;            .&quot;&quot;.</h2>
<h2>                                 &quot;$h}:&quot;           .&quot;J$a}EG&quot;.             &quot;$c&quot;</h2>
<h2>                                 .&quot;}M&quot;             .&quot;C$k}ZG&quot;.            &quot;$e&quot;</h2>
<h2>                                 .&quot;}&quot;             .&quot;dG$r&quot;,&quot;18&quot;          .&quot;}(&quot;</h2>
<h2>                                .&quot;D;&quot;            .&quot;$C&quot;  )}{h(16         ,1,1,0</h2>
<h2>                               );h(8,          .98,0,0   );h(16         ,1,1,1)</h2>
<h2>                               ;h(8.0         ,0.98,0,     1);         redo}###</h2>
<h2>                             #written                                 060204 by</h2>
<h2>                           #liverpole                                  @@@@@@@</h2>
<h2>                        #@@@@@@@@@@@</h2>
