<h1 id="virus">Estetica dei virus</h1>
<p>Biennale.py è un virus presentato il 6 giugno 2001 nel padiglione sloveno della Biennale di Venezia dai gruppi 0100101110101101.org ed epidemiC. <br>
Massimo Ferronato: “Il nostro scopo è di attirare l’attenzione su un fatto che per noi del mondo dell’informatica e che per alcuni del mondo dell’arte è clamoroso: abbiamo avuto 50 anni di evoluzione tecnologica di persone che utilizzavano le loro capacità intellettuali per sviluppare codice e in nessun caso è stata riconosciuta a questo tipo di attività un valore artistico. Noi vogliamo demolire questo concetto, vogliamo portare all’attenzione del mondo che esiste una capacità intellettuale, una produzione artistica, utilizzando strumenti informatici quali il linguaggio di programmazione”<br>
<i>(Intervista Rai - Smart Web, giugno 2001)</i><br>
</p>

<p>Sempre nel 2001 Franco Berardi al D-I-N-A Festival legge il codice sorgente di un virus famoso, I Love You   <br>
<p>“Gli amici di [ epidemiC ] mi proposero una performance in cui dovevo legge-re il codice sorgente del virus: quella successione di segni significanti di cui il virus era composto. […] . In  certo qual modo il codice appartiene alla categoria delle forme enunciative che iscrivono il futuro nel linguaggio: profezie, prescrizioni, ingiunzioni. Il codice è una struttura,  però  ci  sono  codici  che  funzionano  come  eventi  destrutturanti.[...] Una risposta alla domanda “come possiamo sfuggire agli effetti del codice?” fu il virus ILOVEYOU. “</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/jJFlRoQr96E" title="Bifo legge ILOVEYOU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

