<h1 id="Wall">Wall’s Haiku</h1>
Uno dei pezzi di codice più famoso, all'interno dell'universo dei programmatori, è questo frammento scritto per gioco da Larry Wall, l'inventore del Perl.<br>
<br>
<pre>print STDOUT q</pre>
<pre>Just another Perl hacker,</pre>
<pre>unless $spring</pre>
<pre># Larry Wall</pre>
<pre># lwall@jpl-devvax.jpl.nasa.gov</pre>
<br>
Sharon Hopkins è forse la più famosa autrice di Haiku in Perl, a partire dal suo contributo  del 1992 "Camels and Needles: Computer Poetry Meets the Perl Programming Language" <br>
Questo è uno dei suoi componimenti: <br>
<pre>#!/usr/bin/perl</pre>

<pre>APPEAL:</pre>

<pre>listen (please, please);</pre>

<pre>open yourself, wide;</pre>
<pre>    join (you, me),</pre>
<pre>connect (us,together),</pre>

<pre>tell me.</pre>

<pre>do something if distressed;</pre>

<pre>    @dawn, dance;</pre>
<pre>    @evening, sing;</pre>
<pre>    read (books,$poems,stories) until peaceful;</pre>
<pre>    study if able;</pre>

<pre>    write me if-you-please;</pre>

<pre>sort your feelings, reset goals, seek (friends, family, anyone);</pre>

<pre>        do*not*die (like this)</pre>
<pre>        if sin abounds;</pre>

<pre>keys (hidden), open (locks, doors), tell secrets;</pre>
<pre>do not, I-beg-you, close them, yet.</pre>

<pre>                            accept (yourself, changes),</pre>
<pre>                            bind (grief, despair);</pre>

<pre>require truth, goodness if-you-will, each moment;</pre>

<pre>select (always), length(of-days)</pre>

<pre># listen (a perl poem)</pre>
<pre># Sharon Hopkins</pre>
<pre># rev. June 19, 1995</pre>
