<h1 class="Altri_commenti">Studiare i commenti</h1>

<p>
    Alcuni sostengono che un buon codice non abbia bisogno di commenti, e comunque non di commenti inutili, come questo:
    <pre>
    /*
    set the value of the age integer to 32
    */
    int age = 32;
    </pre>
    Ci sono poi i commenti ironici, pensati per divertire il lettore/programmatore. Questo è uno dei più noti:
    <pre>
    /**
    Dear maintainer:
    Once you are done trying to 'optimize' this routine,
    and have realized what a terrible mistake that was,
    please increment the following counter as a warning
    to the next guy:
    total_hours_wasted_here = 42
    **/ 
    </pre>
</p>

<p>
    Mentre ci sono articoli, libri, convegni, dedicati allo studio del paratesto, dei brogliacci, insomma del testo privato che accompagna il testo pubblico, i commenti nei programmi sono davvero poco studiati. <br />
    Eppure ci sono enormi basi di dati che permetterebbero studi sociolinguistici, a partire dalla sintassi (ad esempio: l’uso delle persone, dei tempi e dei modi del verbo) o dal lessico. <br />
    I grandi repository di codice sorgente come GitHub (o come Software Heritage) sarebbero oggetti preziosissimi per lo studio della maniera in cui le persone usano i linguaggi di programmazione. <br>
    Ad esempio, qualcuno si è preso la briga di contare le citazioni inter-linguistiche:  ovvero quante volte un programmatore in un linguaggio cita gli altri linguaggi.
</p>
Se volete potete consultare il 
<a href="http://daiw.de/github/programming-language-subreddits-and-their-choice-of-words/mentions_chord_graph/index.html" target="_blank">
    grafico interattivo</a> dell'immagine di copertina.
