<h1 id="Commenti">Commenti</h1>

<i>Immagine di copertina: https://www.wired.com/2011/02/cussing-in-commits-which-programming-language-inspires-the-most-swearing/</i>

<p>
    Non tutto il codice sorgente viene tradotto da interpreti e compilatori in un programma eseguibile.  Per esempio, i nomi delle variabili o delle funzioni vengono sostituiti con identificatori numerici. Quello che viene proprio buttato sono i commenti.<br>
    I commenti sono la parte del codice sorgente che è indirizzata al programmatore e non al computer. <br />
    Possono essere usati per tanti scopi: per spiegare cosa fa quella parte di programma, per riportare il nome dell’autore e la data, per segnalare possibili problemi futuri oppure funzionalità aggiuntive desiderate, ecc.
    Possono essere pensati come dei messaggi in bottiglia, lanciati ad un destinatario sconosciuto. <br>
    <!-- Questa parte di testo si può solo vedere nel codice. Se l'hai trovata ispezionando il sito, ora sai come sono fatti i commenti in HTML. -->
</p>

<p>
    Non tutti i commenti sono seri. Ad esempio, nel codice sorgente del sistema di controllo dell’Apollo XI, che è stato pubblicato di recente, si trovano commento scherzosi:
    <img src="Apollo.jpg" alt="Codice sorgente dell'Apollo 11" title="https://www.govexec.com/management/2016/07/code-took-america-moon-was-just-published-github/129773/">

    Proprio perché sanno che normalmente <b>non vengono letti e vengono cancellati</b> nella compilazione, spesso i programmatori si permettono di essere un po’ liberi nella scrittura dei commenti. <br>
    <!-- Sì, libertà! -->
    Fino al 2018, nei commenti del codice sorgente del kernel di <b>Linux</b> erano presenti circa <b>200 parolacce</b>; ma praticamente ogni sorgente ne ha la sua parte.<br>
    Questa abitudine è probabilmente una forma di scongiuro: chiamare una funzione con una “swear word” è un modo per <b>far sentire la voce grossa al computer</b>, a minacciarlo, a costringerlo a funzionare.<br>
    Qualcuno si è divertito a cercare una relazione tra parolacce e linguaggio, per vedere se certi linguaggi portano naturalmente al turpiloquio.  Ma chissà se dipende dal linguaggio o dal tipico programmatore che lo usa. <br>
    <img src="Linux.jpg" alt="Parole più frequenti nel kernel di Linux" title="https://www.vidarholen.net/contents/wordcount/">
</p>

<p>
    Per chi fosse interessato a consultare sia il codice dell'Apollo 11 che il Kernel Linux, ecco alcuni link utili: <br />
    <a href="https://elixir.bootlin.com/linux/v3.4/source/drivers/net/ethernet/sun/sunhme.c" target="_blank">Kernel Linux</a> | 
    <a href="https://github.com/chrislgarry/Apollo-11/tree/master/Comanche055" target="_blank">Codice sorgente Apollo 11</a> | 
    <a href="https://www.vidarholen.net/contents/wordcount/" target="_blank">Parole presenti nel Kernel Linux nel tempo</a>
</p>

