<h1 id="Literate_programming">Literate programming</h1>

<p>I commenti però non appartengono solo al folklore:  Donald <codeshow>Knuth</codeshow>, ricercatore all’università di Stanford, nel 1981 introduce il metodo del Literate Programming con il sistema WEB (attenzione: nulla a che vedere con il Web, o meglio il World Wide Web, che nasce dieci anni dopo).  <br />
Con le sue  parole: 
<pre>
	“The main idea is to treat a program as a piece of literature, 
	addressed to human beings rather than to a computer.”
</pre>
    L’idea della Literate programming è che un programmatore deve prima di tutto scrivere una versione narrativa del programma  che sta scrivendo, nella sua lingua naturale: 
<pre>
	“The main idea is to regard a program as a communication 
	to human beings rather than as a set of instructions to a computer”.
</pre>    
 Da questa versione scritta nella sua lingua materna derivavano poi in maniera automatica il codice Pascal  (con il comando “tangle”, intreccia) e la documentazione (con il comando “weave”, cioè "tessi").<br />
 Secondo Knuth, non sono i commenti a essere inseriti nel codice sorgente (e poi estratti per creare automaticamente la documentazione tecnica del programma),  ma piuttosto il codice sorgente che nasce all’interno della descrizione in lingua naturale del programma. 
</p>
