<h1 id="Manuali">Manuali di bello scrivere</h1>
<p>
    Non c’è solo la leggibilità come obiettivo da raggiungere nella scrittura di un codice sorgente. C'è anche l'adesione ad un modello, ad uno stile riconosciuto.<br>
    Ci sono discussioni infinite su come e quanto vada indentata una riga di codice (vedi <codeshow>Convenzioni_Tipografia</codeshow>). Indentare significa spostare l’inizio di una riga di codice a destra, in modo che si capisca a quale livello della struttura del codice corrisponde.
    Ad esempio, in questo frammmento di codice:
    <pre>
    sub fact {
		my $n = shift;
		reduce { $a * $b } 1, 1 .. $n
    }
        
    </pre>
     
    il ramo principale del programma è la subroutine che ha come nome “fact”; le due righe sottostanti sono il contenuto della subroutine (cioè sono foglie di quel ramo).
    Questa informazione, dal punto di vista dell'interprete,  è contenuta nella due parentesi graffe; dal punto di vista del programmatore è affidata <strong>anche</strong>all'indentazione, che crea una specie di linea verticale immaginari ache unisce sub fact con la parentesi graffa di chiusura.
    </p>

<p>
    Usare o meno gli spazi (e quanti spazi usare), oppure usare le tabulazioni <b>sembrerebbe</b> una questione di preferenze personali. <br>
    Invece esistono dei veri <b>manuali di bello scrivere</b> (per un linguaggio, o per un progetto, come il Kernel di Linux) che lo stabiliscono, oppure se la parentesi di apertura deve essere inserita alla fine della riga che dà il nome alla funzione o invece in una nuova riga come quella di chiusura:
    <pre>
    sub fact {
        my $n = shift;
        reduce { $a * $b } 1, 1 .. $n
    }   
    </pre>

    <pre>
    sub fact 
    {
        my $n = shift;
        reduce { $a * $b } 1, 1 .. $n
    }   
    </pre>
    
    Che tipo di fatti sono questi? Linguistici, stilistici, sociologici? Di certo non appartengono alla computer science, perché per l'interprete (o il compilatore) tutto questo non è che un sogno.
  </p>
