<h1 id="Nomi">Nomi</h1>

<p>
   Scrivere codice sorgente è un <b>modo di raccontare una storia</b>. Se ce ne fosse bisogno, si può verificare andando a leggere i codici sorgenti.  A partire dai nomi dei personaggi. <br /> 
    Quando un programmatore deve scrivere una funzione, o una procedura, – cioè una porzione di codice che intende riusare in seguito -    deve, quasi sempre, dare un nome, con cui quella funzione verrà richiamata in futuro.
    La stessa cosa avviene per le variabili, cioè i <b>cassetti dove vengono conservati i valori</b> che devono essere riusati in seguito, ed eventualmente modificati.<br>
    Sarebbe perfettamente possibile chiamare una funzione F1 e una variabile A. <br />
    E infatti questo era proprio quello che si faceva quando le dimensioni dei codici sorgenti erano necessariamente ridotte, e risparmiare anche pochi caratteri poteva essere vitale. <br>
    In alcuni linguaggi (come i primi BASIC), i nomi delle variabili potevano <b>contenere solo 1 o 2 lettere dell’alfabeto</b>, e questo ovviamente ne limitava anche il numero (fatevi il conto: quante variabili ci possono essere in un programma se i nomi possono essere solo di due lettere?).
    Ma quando questi limiti non furono più significativi, i programmatori, come Adamo, <b>furono in grado di dare i nomi alle cose</b>.
    A quel punto, emersero sia le preferenze personali che i modelli e le linee guida. <br />
    <br />
    Una funzione può essere chiamata con un verbo o con un sostantivo; può usare l’inglese o un’altra lingua naturale come  modello. Se è una funzione complessa, si possono separare le parole da cui è composta con trattini, oppure usare un mix di lettere maiuscole e minuscole. <br />
    Alcuni esempi di come può essere chiamata una funzione che calcola il fattoriale di un numero:
<pre>
    f
    FATTORIALE
    CalcolaIlFattorialeDiUnNumero
    calcola-fattoriale
    calcola_fattoriale
    Factorial
    GetTheFactorial
    MyFact
</pre>
La modalità "CalcolaIlFattorialeDiUnNumero()" ha un nome particolare: si chiama CamelCase, con riferimento al caratteristico profilo dei dromedari (in inglese: "camel").<br>
Mescolare nello stesso codice sorgente due diversi stili di naming è considerata una pessima abitudine; anzi, c’è chi non riesce a lavorare su un codice sorgente altrui finché non ha riscritto tutti i nomi delle funzioni e delle variabili in maniera coerente (pazzi!).
</p>
