<h1 id="Paradigmi">Paradigmi come modelli</h1>
<p> Abbiamo già incontrato i paradigmi nella sezione dei Linguaggi, ma un altro modo di intenderli è anche come modelli di stile. <br />
E' possibile, infatti, scrivere codice sorgente in un linguaggio Object Oriented senza usare uno <b>stile</b> Object Oriented.<br>
Questa modalità – cioè scrivere codice in uno <b>stile estraneo</b> a quello proprio del linguaggio - è considerata sbagliata, anche se <b>non produce davvero errori</b>;  o quanto meno, è vista come un cliché da principianti. <br />
Questo fenomeno è ben conosciuto nella glottodidattica: nell’apprendimento di una seconda lingua si tendono a riutilizzare schemi della lingua materna. A volte questo fatto viene sfruttato dall'insegnante, soprattutto nell'insegnamento agli adulati.<br>
Ma la conoscenza di una seconda lingua naturale può anche essere un ostacolo per apprenderne un’altra, soprattutto se le due lingue sono vicine: chi conosce lo spagnolo ha difficoltà a scrivere correttamente in portoghese. <br />
Insomma, esiste una classe di fenomeni di <strong>interferenza</strong> ben conosciuti e studiati per quanto riguarda le lingue naturali; purtroppo non per i linguaggi di programmazione. <br />
</p>
