<h1 id="Stili">Stili</h1>
<p> Siamo abituati a leggere la storia della letteratura come una successione di scuole, mode e stili, come il classicismo, il romanticismo e il futurismo. <br />
    Ma anche nel mondo dei testi, scritti usando i linguaggi di programmazione, per quanto possa sembrare strano, esistono scuole, mode e stili.<br>
    Ci sono stili che sono profondamente cablati dentro i linguaggi (i cosiddetti "paradigmi", che sono metafore molto generali di come programmatori e computer dialogano).<br>
    Ma ci sono stili più superficiali, modi di utilizzare un linguaggio, che possono essere propri di un'epoca, di un gruppo, di un persona particolare.<br>
    Ogni programmatore tende nel tempo ad acquisire uno stile, che diventa riconoscibile.  Tanto è vero che un'intera disciplina, la Forensic Analysis, si basa su questi aspetti per risconoscere l'autore di un codice sorgente, o di un virus.<br>
</p>
