<h1 id="Alan_Turing" data-time="1912" data-lat="51.507" data-lon="-0.128" data-q="Siamo sicuri che ogni algoritmo prima o poi arriva ad un risultato?" data-a="no">Alan Turing</h1>
<p>Ormai tutti conoscono il nome di questo matematico inglese, magari perché hanno visto film "The Imitation Game". Purtroppo il film non si distingue per fedeltà biografica, e restituisce un immagine di Turing un po' troppo piena di cliché: il genio incompreso, sempre trasandato, affettivamente povero, quasi autistico, che costruisce una macchina meravigliosa in casa sua. <br>
    Le sue biografie parlano invece di una persona curiosa, piena di interessi diversi, che amava lo sport (in particolare la maratona). Tra le cose di cui si occupò Turing ci sono la biologia e la chimica. Insomma pare che sulla sua vita sia stata proiettato il modello del "genio informatico" che però è nato trent'anni dopo.<br>
    <wikipedia>Alan_Turing</wikipedia> è associato ad almeno tre oggetti completamente diversi, ma che spesso vengono confusi tra loro:<br>
    <ul>   
        <li>La “bomba”, cioè la macchina che serviva a decifrare i codici segreti dell’esercito Tedesco durante la Seconda Guerra Mondiale;</li>
        <li>La “macchina”, cioè lo schema astratto del funzionamento di un computer che legge ed esegue un programma;</li>
        <li>Il “test”, che è un esperimento astratto per distinguere una macchina intelligente da un umano.</li>
    </ul>
        A noi, qui, interessa soprattutto il secondo oggetto, perché è alla base di una definizione dei linguaggi di programmazione. Ancora oggi 
    un linguaggio si dice <i>Turing-completo</i> se è in grado di calcolare le stesse funzioni della macchina di Turing. <br>
    Ma c'è un'altra ragione per cui vale la pena ricordarlo. <br>
    Nel 1936 Turing presenta la sua idea di computer astratto in un articolo che risponde ad un problema teorico, prima che pratico: è possibile essere sicuri che l'esecuzione di un ogni algoritmo terminerà con un risultato? Il problema era stato posto da un matematico, David Hilbert, nel 1928 a Bologna. La risposta di Turing è netta: no, non è possibile. Significa che ci sono problemi che non possono essere risolti con un programma di computer.<br>
    E' per questo risultato fondamentale, su cui si poggia tutta la teoria della calcolabilità successiva, che il teorema  di Turing è stato scelto per essere disegnato da Massimo Polello sulle pareti del Dipartimento di Informatica dell'Università di Torino.
</p>