<h1 id="APL" data-time="1965" data-q="In quale linguaggio per scrive un programma serviva una tastiera speciale?" data-a="APL">APL</h1>
<p>Siccome non tutti i linguaggi si basano sull'inglese, esistono linguaggi che necessitano l’utilizzo di caratteri aggiuntivi oltre a quelli presenti in una tastiera standard americana. Ma non solo perché si ispirano a lingue naturali diverse, anche perché invece di una parola per indicare una funzione è più comodo usare un solo simbolo.<br>
Il linguaggio APL (A Programming Language), sviluppato a metà degli anni '60 dall'IBM sulla base di una notazione inventato nel 1957 dal canadese <wikipediaEn>Kenneth_Iverson</wikipediaEn>, è uno di quelli: utilizza simboli molto particolari come si può notare nel frammento in copertina.<br>
E infatti si usavano tastiere apposite, come questa:<br>
<img src="Tastiera_APL.jpg" alt="Tastiera APL" title="https://dyalog.com"><br>
Lo stesso Iverson, comunque, invento una versione di APL (J) che usava dei caratteri standard ASCII. In questa versione Iverson sostituì al termine "funzione" il termine "verb" e il termine "operatore" con il termine "avverbio".

<br>    
Al di là di questo aspetto, APL è un linguaggio particolare: è dedicato soprattutto alle trasformazioni di vettori e matrici, ed è molto compatto. Ad esempio: 
<pre>
    m ← +/3+⍳4
</pre>
è l'equivalente della notazione matematica standard:<br>
<img src="Espressione_matematica.png" alt="Espressione matematica" title="https://en.wikipedia.org/wiki/APL_(programming_language)"><br>
e va letta da destra a sinistra, più o meno così:<br>
<ul>
<li>costruisci un array da 1 a 4</li>
<li>somma 3 a tutti gli elementi</li>
<li>riduci gli elementi ad uno solo con l'operazione di somma</li>
<li>assegna il risultato alla variabile m</li>
</ul>
5 simboli, 8 caratteri in tutto per un algoritmo che avrebbe richiesto una decina di righe in un linguaggio più tradizionale.<br>
Altre informazioni (in inglese) su Wikipedia: <wikipediaEn>APL_syntax_and_symbols</wikipediaEn>.<br>
Una curiosità: uno dei più interessanti <codeshow>linguaggi_educativi</codeshow>, Snap!,  permette di utilizzare alcuni blocchi che sono esplicitamente ispirati ad APL. Questo ne fa un ambiente molto potente e avanzato, adatto ad attività di "coding" ben oltre la scuola primaria. 
</p>
