<h1 id="Brainfuck">Brainfuck</h1>
<p>
    Forse il più conosciuto dei Linguaggi Esoterici, creato da un programmatore svizzero, Urban Müller, nel 1993 sul personal computer Amiga.<br>
    I comandi del linguaggio sono solo 8:
    <pre>
		><+-.,[]
  </pre>
  Tra inventare un linguaggio e usarlo c'è sempre una differenza: ma nel caso di Brainfuck ci sono voluti anni, dalla creazione del linguaggio, perché qualcuno riuscisse a scriverci un programma.<br>
  Questo è il codice sorgente di “Hello, world”: <br>
<code>
    ++++++++[>++++[>++>+++>+++>+<<<<-]>+>+>->>+[<]<-]>>.>---.+++++++..+++.>>.<-.<.+++.------.--------.>>+.>++.
</code>
Una descrizione concisa (e ironica) di Brainf*ck è la seguente:<br>
"It combines the speed of BASIC with the ease of INTERCAL and the readability of an IOCCC entry." Ovvero: unisce la velocità del BASIC (linguaggio interpretato, noto per la lentezza), la facilità di INTERCAL (altro linguaggio esoterico) e la leggibilità di un concorrente al Concorso Internazionale per il Codice C Offuscato.<br>
Lo scopo di Müller in realtà non era solo quello di costruire qualcosa di perfettamente inutile e inusabile, ma di realizzare un linguaggio molto vicino alla macchina di Turing con un compilatore che fosse veramente piccolo.<br>
Il compilatore di Brainf*ck è in effetti lungo 240 byte.  Per dare un'idea, il compilatore C standar per Linux, GCC, è grande 1.2 Megabyte.<br>
</p>
