<h1 id="Caratteri e Linguaggi">Caratteri e Linguaggi</h1>
<p>
    Esiste un rapporto interessante tra alfabeto e linguaggio. Come si sa, le lingue nazionali non usano tutte lo stesso alfabeto, 
    solo in Europa infatti, oltre all’alfabeto latino ci sono quello greco, quello cirillico, quello armeno e quello georgiano.<br> 
    Vale lo stesso anche se ci si sposta in Africa e Asia.<br>
    Di qui la necessità di creare un Alfabeto internazionale (IPA) e uno standard (UNICODE).<br>
    I linguaggi di programmazione di solito usano i simboli della lingua  inglese, i segni di interpunzione, più alcuni simboli presi in prestito dalla matematica come le parentesi;  in pratica, siccome vanno scritti usando un computer, usano i simboli presenti su una tastiera standard.<br>
    Tuttavia ci sono linguaggi che necessitano di simboli aggiuntivi, che NON sono presenti su una tastiera standard.<br>
    Un esempio molto noto è <codeshow>APL</codeshow>, che sembra scritto nell’alfabeto dei <a href="https://en.wikipedia.org/wiki/Klingon_scripts" target="_blank">Klingon</a> usato nei famosi film di Star Trek.<br><br>
    <img alt="Esempio scrittura in Klingon" src="Klingon.jpg" title="Wikipedia">
</p>
