<h1 id="COBOL" data-time="1961" data-q="" data-a="">COBOL (1961)</h1>
<p>COBOL è uno dei primi linguaggi di alto livello ed è stato inventato, tra gli altri, da Grace <codeshow>Hopper</codeshow> con lo scopo di rendere accessibile la programmazione anche a chi non aveva seguito corsi avanzati della nascente informatica: in particolare, chi doveva occuparsi di gestione di dati finanziari non aveva bisogno di sapere come era fatto fisicamente un computer. Mentre in Assembly il programmatore doveva conoscere i nomi dei registri del processore dove caricare i valori da calcolare, oltre ai simboli mnemmonici che rappresentavano le azioni di caricare, leggere, scrivere, cancellare quei valori, in COBOL era sufficiente che conoscesse i nomi delle operazioni di alto livello.<br>
In sostanza il COBOL è uno dei primi linguaggi in cui le istruzioni nascondono completamente i dettagli ultimi della loro esecuzione ma rappresentano la natura astratta del compito da svoltere. Non si limitano a dare "comandi" al processore, ma definiscono anche delle parti logiche del programma: la sezione di identificazione, quella dei dati, quella dell'esecuzione delle operazioni. <br>
Questo consente una maggiore chiarezza nell'impostazione della soluzione, perché implicitamente occorre domandarsi: dispongo dei dati sufficienti? sono in grado di trattarli per ottenere il risultato che mi interessa? I linguaggi di alto livello, insomma, sono progettati non solo dal lato del computer, ma anche e soprattutto da quello del programmatore; non solo per facilitargli il lavoro, ma per aiutarlo a farlo meglio. E' questa concezione (che dobbiamo fra gli altri proprio a Grace Hopper) che è all'origine dell'idea che imparare ad utilizzare un linguaggio di programmazione possa aiutare a formalizzare qualsiasi problema.<br>
In un codice COBOL ci possono essere anche dei commenti (introdotti da *> ) che servono solo al programmatore/trice ma sono ignorati dal computer. I commenti erano possibili già in Assembly (vedi ad esempio quelli nel codice dell'<codeshow>Apollo</codeshow>) e fanno capire quanto sia importante la lettura di un codice oltre alla sua scrittura.<br>
Quello che segue è il programma COBOL più inutile del mondo: stampa <codeshow>Hello_World</codeshow>.
<pre>
           *> setup the identification division
            IDENTIFICATION DIVISION.
            *> setup the program id
            PROGRAM-ID. HELLO-WORLD.
            *
            ENVIRONMENT DIVISION.
            *
            DATA DIVISION.
            *> setup the procedure division
            PROCEDURE DIVISION.
            PARA-1.
              *> print a string
              DISPLAY 'Hello, world.'
            *> end our program
            EXIT PROGRAM.
            END PROGRAM HELLO-WORLD.
</pre>
Potrà stupirvi sapere che ancora oggi ci sono molti programmi COBOL ancora in circolazione, soprattutto in ambito finanziario (ad esempio nelle banche), tant'è che i programmatori COBOL sono molto ricercati perché sono gli unici che sono in grado di metterci le mani e risolvere eventuali, benche rari e improbabili, problemi.
</p>
