<h1 id="Emmental" data-time="2007"> Emmental</h1>
<p>Emmental è stato creato da Chris Pressey nel 2007 ed è un linguaggio che modifica se stesso.<br>
Le istruzioni sono 
<pre>
		# + - . ^ ~ V ; ! ? ; ,
</pre>	
più le cifre da 0 a 9<br>
Questo è un esempio del programma “Hello, world” in Emmental:<br>
<img alt="Frammento di codice in Emmental" src="Fr_Emmental.jpg" title="https://esolang.org"><br>
Emmental non è il primo linguaggio inventato da Chris, che è un Esoterista incallito: ci sono anche ALPACA, Befunge, SMETANA, RedGreen, SMITH, Hunter, noit o’mnain worb, Squishy2K, Shelta, Streinkoff, Version e 2iota. <br>
Di tutti questi è possibile trovare una descrizione e alcuni esempi sul sito di <a href="https://catseye.tc/" target="">Pressey</a> insieme ai suoi video, le sue musiche e agli articoli;  oppure in Esolang.org, il portale dedicato ai linguaggi esoterici, a partire dalla pagina dedicata all'<a href="https://esolangs.org/wiki/Chris_Pressey" target="_blank">autore</a>
</p>
