<h1 id="HQ9+" data-time="2001">HQ9+</h1>
<p>HQ9+ è un linguaggio esoterico inventato da Cliff Biffle nel 2001.<br>
Nella descrizione che ne da l’autore, HQ9+ nasce dalla constatazione che la maggior parte degli studenti di programmazione cercano degli esempi da cui imparare.<br>
Gli esempi sono in generale “hello, world”, la poesia “99 bottiglie di birra” e i programmi che stampano il proprio codice sorgente ("quine").<br>
HQ9+ risponde perfettamente a questa esigenza. Infatti ha solo quattro istruzioni:
<ul>
        <li>H: scrive “Hello, world”</li>
        <li>Q: scrive il sorgente del programma stesso</li>
        <li>9: scrive la poesia “99 bottiglie di birra”</li>
        <li>+: incrementa l’accumulatore</li>
</ul>        
E' un caso di umorismo molto particolare, bisogna convenirne.
</p>
