<h1 id="Intercal">Intercal</h1>
<p>
    Intercal è il primo dei linguaggi "esoterici" ed è stato creato nel 1972 da Donald Woods e James Lyon, entrambi allora studenti all’Università di Princeton.<br>
    Lo scopo era quello di fare una parodia della pletora di linguaggi che nascevano in quegli anni, e in generale di mettere alla berlina la seriosità di certi testi. Per esempio, nel manuale di INTERCAL si trova scritto:
    <pre>
        Caution! Under no circumstances confuse the mesh with the interleave operator, except under confusing circumstances! 
    </pre>
    Il manuale non ha un'Appendice, come ogni manuale che si rispetti, ma una Tonsilla.<br>
    Se il compilatore trova un'istruzioen scorretta, non va in errore, ma semplicemente la salta. Questo rende piuttosto difficile trovare errori, ma facilita la scrittura di commenti.<br>
    Nella prima pagina del sito web dedicato a <a href="http://www.catb.org/~esr/intercal/">INTERCAL</a> si trova scritto:<br>
    <i>"Abandon all sanity, ye who enter her. So, you think you've seen it all, eh? <br>
    OK. You've coded in C. You've hacked in LISP. Fortran and BASIC hold no terrors for you. You write Emacs modes for fun. You eat assemblers for breakfast. You're fluent in half a dozen languages nobody but a handful of übergeeks have ever heard of. You grok TECO. Possibly you even know <shudder> COBOL.<br>
    Maybe you're ready for the ultimate challenge...INTERCAL."</i><br>
    Ovvero:<br>
    <i>Lasciate ogni sanità, voi ch'entrate. <br>
        Così pensi di aver visto tutto, eh? Ok, hai scritto codice in C, hai hakerato in LISP, FORTRAN e BASIC non ti spaventano più. Scrivi Emacs Mode per divertimento e mangi Assembler a colazione. Parli correntemente mezza dozzina di linguaggi di cui nessuno, se non una manciata di superhacker, ha mai sentito parlare. Hai digerito TECO. E' persino possibile che tu conosca il COBOL (paura!).<br>
    Forse sei pronto per la sfida finale... INTERCAL.</i>
    <br>
    Il nome completo è “Compiler Language With No Pronounceable Acronym” (un linguaggio senza acronimo pronunciabile). <br>
    In INTERCAL ogni struzione è preceduta da DO, PLEASE DO, oppure DON’T , DO NOT, PLEASE DON’T.<br>
    Per altro il compilatore si indispettisce se si è troppo gentili, o troppo poco.<br>
    E' un linguaggio molto, molto tranquillo. Un programma INTERCAL che trova i numeri primi tra 1 e 65536 usando l'algoritm detto "Crivello di Eratostene" impiega 17 ore.
    <img alt="Frammento di codice in Intercal" src="Fr_Intercal.jpg" title="https://esolang.org">
</p>
