<h1 id="Linguaggi Esoterici" data-q="E' vero che i linguaggi esoterici non possiedono un manuale?" data-a="no">Linguaggi Esoterici</h1>
<p>
    Prendono il nome di <strong>Linguaggi Esoterici</strong> quei linguaggi che, se si immagina i linguaggi come maniere efficienti di risolvere problemi,  hanno pochissimo senso. Infatti non risolvono nulla, e se lo fanno difficilmente sono efficienti, anzi.<br>
    I Linguaggi Esoterici nascono per sfida e per scherzo; alcuni sono delle prese in giro (come il linguaggio Pizza), altri sono dei veri linguaggi, potenti esattamente quanto gli altri, ma talmente difficili da non essere usabili, nemmeno dai loro inventori.<br> 
    Di qui il termine “esoterico”, che, per chi non se lo ricordasse, fa riferimento alle dottrine e ai riti segreti (dal greco ἐσώτερος "interno") distinte da dottrine e riti essoterici (da ἐξωτερος "esterno"). Un linguaggio esoterico è un po' un paradosso, perché se lo fosse davvero non dovrebbe essere pubblico; ma insomma, significa "incomprensibile per la maggior parte degli umani". <br>
    Qui troviamo una caratteristica che accomuna la programmazione ad altre arti: deve essere difficile e solo in pochi devono arrivarci. Che sia utile, non è davvero fondamentale.<br>
    Una volta definito formalmente un linguaggio (cioè il suo lessico e la sua grammatica), è possibile costruire un interprete o un compilatore di quel linguaggio in altri linguaggi e quindi cominciare a usarlo. Questo è vero anche per i linguaggi esoterici: uan volta pubblicata la definizione a cura dell'autore, altri ne scrivono gli interpreti in linguaggi più pratici.<br>
    Nei pannelli seguenti sono presentati alcuni dei linguaggi esoterici più significativi: <codeshow>INTERCAL</codeshow>, <codeshow>Brainfuck</codeshow>,<codeshow>Emmental</codeshow>, <codeshow>HQ9+</codeshow>.<br>

    Altri Linguaggi Esoterici (1300 circa) si possono trovare su <a href="https://esolangs.org" target="_blank">Esolangs</a>
    
</p>
