<h1 id="Linguaggi">Linguaggi e lingue</h1>
<p>
In inglese la parola "language" significa cose diverse che in italiano corrispondono a volte a parole diverse: la facoltà di comunicazione tramite simboli, la lingua naturale e il linguaggio di programmazione.<br>
Forse per questo chi parla e pensa in inglese è  portato a vedere i linguaggi di programmazione come simili alle lingue, anche se a prima vista sembrano così diversi. Le lingue naturali: <br>
<ul>
    <li>le impariamo da piccolissimi</li>
    <li>le usiamo per parlare e anche per pensare </li>
    <li>hanno vocabolari enormi </li>
    <li>sono flessibili</li>
    <li>servono a comunicare</li>
    <li>permettono di scrivere anche poesie</li>
</ul>

Invece i linguaggi di programmazione:<br>
<ul>
    <li>si imparano da grandi</li>
    <li>si usano solo per scrivere</li>
    <li>hanno vocabolari limitati</li>
    <li>sono rigide</li>
    <li>servono a dare ordini</li>
    <li>?</li>
</ul>
Le lingue naturali sono tantissime e diversissime. Si stima che esistano tra le 6.000 e le 7.000 lingue naturali. E' una stima, perché da un lato non si è perfettamente daccordo su cosa vada definito come "lingua" (anche i dialetti? anche le varianti regionali? anche le lingue morte? e quelle non scritte?), dall'altro non è facilissimo censirle, soprattutto quelle parlate da minoranze sperdute tra le montagne, le foreste o le isole.<br/>
Alcune lingue sono parlate da pochissime persone, come il Busuu, il Taushiro e il Liki. L’italiano, invece, è parlato da circa 60 milioni di persone (lo 0,9% della popolazione mondiale). Ma in Italia si parlano altre 12 lingue (dal sardo al friulano, dal grecanico al cimbro.<br/>
Le lingue non sono eterne, come qualche volta pensiamo: nascono e muoiono, derivano le une dalle altre. Spesso questa loro natura "organica" viene rappresentata con la metafora dell’albero, come nell'immagine sottostante che si riferisce alle lingue Indoeuropee:
<img src="Albero_lingue_naturali.jpg" alt="Albero lingue indoeuropee" title="Wikipedia">
Ma anche durante la loro vita le lingue naturali non restono fisse, evolvono, acquisiscono termini e forme l'una dall'altra, trasformandosi nel tempo. <br>
E invece i linguaggi di programmazione?
</p>


