<h1 id="Linguaggi Nazionali">Linguaggi Nazionali</h1>
<p>
    Capita spesso di sentire che i linguaggi di programmazione sono tutti basati sull’inglese.<br>
    Questo è parzialmente vero, ed ha una spiegazione storica: il Regno Unito e gli USA sono stati tra i primi paesi a costruire computer e a inventare linguaggi, e quindi è normale che almeno un 
    terzo dei linguaggi conosciuti siano basati sull’Inglese.<br>
    Tuttavia nel 1968 lo standard dell’ALGOL prevedeva la possibilità di tradurre i comandi del linguaggio in altre lingue naturali (russo, tedesco, francese, bulgaro e giapponese).<br>
    Inoltre esistono alcuni linguaggi costruiti a partire dal lessico, o addirittura dalla sintassi, tipici di altre lingue.<br>
    Questi linguaggi sono stati creati per scopi educativi o semplicemente per intenti nazionalistici.<br>

    <ul>
        <li>Fjölnir è un linguaggio imperativo Islandese;</li>
        <li>ΓΛΩΣΣΑ è una versione di Pascal in greco moderno;</li>
        <li>Kalimat e AMMORIA sono in arabo;</li>
        <li>Аналитик è un linguaggio russo per l’algebra;</li>
        <li>Ci sono diversi linguaggi basati sul francese (BASICOIS, Linotte);</li>
        <li>Ci sono versioni cinesi di Basic, Python, C++;</li>
        <li>Esiste una versione di Perl con sintassi Latina (Lingua::Romana::Perligata);</li>
        <li>Apparentemente, in italiano esistono solo le versioni di Logo e Scratch.</li>
    </ul>
</p>
