<h1 id="Linotte">Linotte</h1>
<p>
    Linotte è un linguaggio di programmazione creato da un programmatore francese, Ronan Mounès, a partire dal 2006;  la sua sintassi e il suo lessico ricalcano quelli della lingua francese.<br>
    L’obiettivo è quello di consentire ai bambini di lingua francese e ad altri francofoni con poca esperienza in informatica di apprendere facilmente la programmazione senza dove passare per parole inglesi come "if", "then", "while". E' un'idea che troviamo anche in altri linguaggi, e tutto sommato è di semplice realizzazione per la parte lessicale; meno per quella sintattica. <br>
    Ma l'idea di pensare un linguaggio di programmazione in cui si possano scrivere programmi come se si parlasse una lingua naturale riemerge ogni tanto ed è un segnale di come i due mondi (i linguaggi e le lingue) pur essendo evidentemente diversi vengono pensati dai programmatori stessi molto vicini. Un programmatore tende a pensare di poter esprimere un'idea con una riga di codice, come farebbe con la sua lingua. Il linguaggio, per lui o lei, non è solo un modo per dare comandi al computer, ma un modo per rappresentare e comunicare un aspetto del mondo.<br>
    Ecco un esempio di come scrivere il programma "Hello, World" in Linotte:<br><br>
    
    <img alt="Programma Hello World in Linotte" src="Fr_Linotte.jpg" title="http://langagelinotte.free.fr/wordpress/">
    <br>
    Qui sotto un tutorial che mostra l'uso dell'ambiente Linotte:
    <youtube>RZAEEY4POBY</youtube>
</p>
