<h1>I Nomi dei Linguaggi</h1>
<p>I nomi dei linguaggi di programmazione sono contemporaneamente una prova dell'atteggiamento utilitarista, concentrato sulla sostanza (APL: A Programming Language) e al contrario della fantasia degli informatici. <br>Esistono linguaggi con nomi minimali (B, C, F), oppure nominati con acronimi incomprensibili (SNOBOL, REXX, BCPL, QML);  ci sono i nomi fantasiosi (SmallTalk, Groovy, Gambas, Python) e ci sono gli omaggi a personaggi storici (Dylan, Ocaml, Haskell, Ada).<br>
    Si dice che il nome di uno linguaggi di programmazione piú conosciuti, Java, sia stato scelto durante una riunione  in cui si cercava qualcosa di nuovo e rivoluzionario. <br>
    Come spesso in queste occasioni, i participanti alla riunione bevevano grandi tazze di caffè, che in quel caso era indonesiano,  dell'isola di Giava. Una volta scelto il nome, venne naturale  chiamare i framenti di codice "chicchi" (Java beans).</p>
<img src="Logo_Java.jpg" alt="Logo Java" title="Wikipedia">
