<h1 id="Paradigmi">Paradigmi</h1>
<p>
    Esiste anche un modo diverso di classificare i linguaggi di programmazione, ovvero tramite i paradigmi.
    Un paradigma è semplicemente la metafora con cui viene immaginato il rapporto tra programmatore e computer.
    I principali paradigmi sono 4:
    <ul>
        <li>LINGUAGGI IMPERATIVI: una serie di comandi che producono un effetto;</li>
        <li>LINGUAGGI FUNZIONALI: una o più funzioni che restituisce un risultato, senza effetti collaterali;</li>
        <li>LINGUAGGI ORIENTATI AGLI OGGETTI: una serie di oggetti, dotati di metodi, che interagiscono tra loro;</li>
        <li>LINGUAGGI LOGICI: una dimostrazione di un teorema a partire da fatti e regole.</li>
    </ul>
    Ci sono linguaggi basati su un singolo paradigma e linguaggi multiparadigma.
</p>