<h1 id="PHP" data-time="1994" data-q="La mascotte di PHP è un..." data-a="elefante">PHP</h1>
<p>Il nome PHP è uno di quei casi di acronimi ripensati a posteriori. Iniziamente sembra che il suo significato fosse "Personal Home Page".
In seguito però si preferì la versione ricorsiva "PHP:Hypertext Processor".<br>
PHP è stato inventato da Rasmus Leerdorf nel 1994, ma per vent'anni non ha avuto una specifica formale. La sintassi deriva dal C ed è usato soprattutto per generare dinamicamente pagine HTML.<br>
Alcune statistiche, non si sa quanto attendibili, stimano che oltre il 70% dei siti web sia scritto in PHP. Questo tiene conto del fatto che alcuni dei Content Management System (cioè i programmi con i quali si gestiscono i siti web dinamici) come Wordpress, Drupal, Joomla siano scritti proprio in PHP. <br>
Anche Facebook - l'applicazione web che gestisce il Social Network System omonimo - usa PHP, anche se i suoi sviluppatori ne hanno creato uan versione più veloce e robusta, <a href="https://hacklang.org/" target="_blank">Hack</a>.<br>
Fino alla versione 5.2 (2009) PHP era piuttosto confuso e disomogeneo, parecchio lontano dagli altri linguaggi moderni. La versione 6, bizzarramente, non è mai esistita; dalla 7 e la 8 PHP comincia ad essere un linguaggio moderno, veloce e sopratutto robusto.<br>
Malgrado il fatto che sia usatissimo (o forse proprio per questo) PHP non ha mai goduto di buona fama tra gli sviluppatori "senior". Non solo per il fatto che nelle prime versioni avesse degli evidenti limiti di sicurezza, ma perché permetteva uno stile di programmazione "spaghetti like", disordinato, ripetitivo, artigianale. <br>
Ad esempio, c'è questa serie di vignette che confronta vari linguaggi di programmazione, prendendone in giro gli aspetti più caratteristici:<br>
<img src="https://i.redd.it/g5kcdulz102z.jpg" width="500px"/>
<br>
Molti linguaggi hanno una mascotte, che è spesso un animale: il Perl ha il dromedario, il PHP ha l'elefante, disegnato nel 1998 da Vincent Pontier. <a href="https://afieldguidetoelephpants.net/" target="_blank">Qui</a> potete leggere una descrizione dell'Elephpas Hypertextus e delle sue varianti selvaggie.
</p>
