<h1 id="Python" data-time="1989" data-q="Da chi è stato inventato il linguaggio Python?" data-a="Guido van Rossum">Python</h1>
<p>Python è un linguaggio relativamente recente: è stato inventato da Guido <codeshow>van_Rossum</codeshow> nel 1989.<br>
E' uno di quei linguaggi in qui la forma è contenuto. Ovvero: la disposizione delle parole nella pagina, che è completamente indifferente per la maggior parte delle grammatiche dei linguaggi id programmazione (e anche delle lingue naturali) è invece significativa in Python. In particolare, è significativa l'indentazione, cioè la distanza dal margine sinistro del foglio.<br>
Praticamente tutti i programmatori oggi sono abituati a scrivere e a leggere codice in cui ciò che è secondario, interno, dipendente (il contenuto), viene scritto con un certo numero di spazi più a destra di cioè che è principale, esterno, indipendente (il contenitore). In realtà sono le parentesi che stabiliscono cosa è dentro e cosa è fuori, ma è sicuramente più facile per l'umano che legge e scrive codice utilizzare questo artificio tipografico, che deriva dalla maniera di impaginare gli indici dei libri (vedi <codeshow>Convenzioni_Tipografia</codeshow>). Invece in Python questa artificio formale diventa necessario: è la sintassi che vuole che il contenuto di un blocco sia indentato rispetto alla sua definizione.<br>
Dal punto di vista dei paradigmi, Puthon è un linguaggio a oggetti.<br>
E' in pratica il linguaggio più usato nelle Università, sia per introdurre la programmazione ai neofiti, sia per realizzare progetti in campi specifici come il trattamenteo del linguaggio naturale o il machine learning, grazie ad alcune librerie molto famose e ben testate come NLTK o  ScikitLearn.<br>
Python non è particolarmente veloce, e per compiti che restano nell'ambito del trattamente dei numeri si comincia a preferire Julia, che nasce per questo scopo.<br>
L'animale totemico (la mascotte) di Python è ovviamente un pitone. Ma forse siete curiosi di sapere perché si chiama così.
Potreste pensare ad un riferimento alle abitudini venatorie o alimentari dei grossi rettili; oppure alla flessibilità e robustezza.<br>
In realtà la spiegazione è più semplice: Guido Van Rossum è un grande fan dei Monthy Pythom, gruppo comico inglese che ha realizzato tanti film cult come "Un pesce di nome Wanda". Un altro esempio bizzarro di come nascono i <codeshow>nomi_dei_linguaggi</codeshow> di programmazione.
</p>