<h1 id="Ruby"  data-time="1995" data-q="In Ruby i numeri sono..." data-a="oggetti">Ruby</h1>
<p>Ruby è il linguaggio più giovane tra quelli citati nella mostra: è stato inventato da Yukihiro <codeshow>Matsumoto</codeshow> nel 1995.<br>
Ruby è un linguaggio completamente a oggetti: ogni cosa, in Ruby, può avere proprietà e metodi. Anche i numeri sono oggetti. Nel codice seguente:
<code>
	5.times do
		puts "Hello world"
	end
</code>
il metodo "times" dell'oggetto 5 esegue le istruzioni comprese nel blocco "do...end". Questo paradigma invece non è per niente nuovo, ma è stato proposto per la prima volta da Alan Kay con il suo linguaggio SmallTalk. In SmallTalk il codice
<pre>
        3 + 4
</pre>
significa, letteralmente: esegui il metodo + dell'oggetto 3 e passagli come argomento l'oggetto 4. Il risultato, come potete immaginare benissimo, è un altro oggetto: 7.
<br>
<br>
Ruby è tra i linguaggi più usati anche grazie all'esistenza di librerie di funzioni giù pronte (Ruby Gems) e framework come <i>Ruby on Rails</i>. <br>
Cos'è un framework? è un insieme di strumenti e di convenzioni che permette ad un programmatore di realizzare un'intera applicazione scrivendo meno codice possibile, evitando ripetizioni ed essendo obbligato a scrivere qualcosa solo quando si allontana dal default.<br>
Siccome i programmatori - come tutti - amano gli acronimi, questo approccio è definito:
<pre>
	Don't Repeat Yourself (DRY)
</pre>
in opposizione a:
<pre>
	Write Everything Twice (WET)
</pre>
Ci sono framework per Java (come Java Spring), per PHP (come Laravel o Zend) e così via. <br>
Ci sono vantaggi e svantaggi nell'uso di framework. Per realizzare anche solo un <codeshow>Hello_World</codeshow> bisogna scomodare decine se non centinaia di classi e librerie; così è facile che qualsiasi programma abbia un codice molto grande, anche per scopi minimali. Grande significa ovviamente lento, complesso, difficile da leggere e manutenere. Inoltre, ogni volta che viene aggiornato il framework si rischia di dovere riscrivere parti del codice.<br>
Naturalmente i veri programmatori non usano framework (vedi <codeshow>Humour</codeshow>).
Il logo di Ruby è ovviamente un rubino, e in generale la metafora di fondo è quella delle pietre preziose.
<img src="logo_ruby.png" title="https://ruby.org">
Anche se non nasce per questo, Ruby è stato scelto per la sua eleganza e semplicità da Linda Ljukas come linguaggio per insegnare il coding ai bambini. Nei suoi libri la protagonista è una bambina (Ruby, appunto).<br>
Un altro esempio di uso educativo è l'ambiente di coding per bambini DuckQuack, scritto in Ruby da Massimo Ghisalberti.
</p>