<h1 id="Tiobe">Tiobe: Indice di Frequenza</h1>
<p>
<a href="https://www.tiobe.com/tiobe-index/" target="_blank">TIOBE</a> è una società che crea un'indice di frequenza di utilizzo dei vari linguaggi di programmazione.<br>
Come fa a creare questo indice? Semplicemente utilizza i motori di ricerca. Come è spiegato nel sito web della società, viene effettuata una ricerca con la stringa seguente:<br>
<pre>
    language X programming
</pre> 
con X che viene sostituito dai nomi dei linguaggisu 25 motori di ricerca diversi. Google, nella varie versioni nazionali, è il più utilizzato, ma ci sono anche Wikipedia, Amazon ed Ebay.<br>
Questa  è la tabella con i linguaggi più usati a Settembre 2021:<br>
<img src="Tabella_Tiobe.png" alt="tabella linguaggi" title="https://tiobe.com">
<br>
Sulla base delle risposte ottenute lungo gli anni, il grafico sottostante mostra l'andamento dei linguaggi più utilizzati dal 2002 al  2021.<br>
<img src="Indice_Tiobe.png" alt="Grafico andamento" title="https://tiobe.com">
</p>

