<h1 id="Traduzione" data-q="E' possibile tradurre un codice sorgente da un linguaggio ad un altro?" data-a="Sì">Traduzione</h1>
<p>
    Cosa significa tradurre? <br>
    Un codice sorgente scritto in un linguaggio di alto livello si può tradurre in uno equivalente ma di basso livello (come l'Assembly).<br>
    Ci sono poi traduzioni di interi linguaggi, come per il Logo, nel senso che gli elementi fissi del linguaggio vengono modificati in modo che siano significativi per i parlanti nativi di una certa lingua madre.<br> 
    Ma si può tradurre un codice sorgente da un linguaggio all’altro? E si può fare in maniera automatica?<br>
</p>
<p>
    Sembrano domande banali, ma fanno riferimento implicitamente a concetti di cui non è chiaro il significato.<br>
    Si traduce parola per parola? O istruzione per istruzione? Come si fa a sapere se un programma tradotto è una buona traduzione dell'originale?<br>
    Per esempio, nella compilazione non tutte le informazioni vengono conservate, ma solo quelle necessarie all’esecuzione. Queste parti non vengono, ovviamente tradotte. E allora quali?<br>
    Nel tradurre da un linguaggio di alto livello ad un altro (si dice "transpilare") si estrae dal primo codice  un Albero Sintattico Astratto (AST) che viene usato per ricostruire il codice sorgente in un secondo linguaggio.<br>
    Una forma particolare di riscrittura è il "refactoring", in cui si riscrive un pezzo di codice nello stesso linguaggio, ma in forma più chiara, o più efficiente, lasciandone invariato il comportamento.
</p>
