<h1 id="CHM" data-time="1984" data-lat="37.41431" data-lon="-122.07684">Computer History Museum</h1>
<p>
Anche se non è un museo dedicato al codice sorgente, il CHM vale comunque una visita, sia che ci si trovi di passaggio a Mountain View (una cittadina di 80.000 abitanti della Silicon Valley dove hanno sede anche Google, Mozilla Foundation e Symantec) sia che ci si contenti di una navigazione via <a href="http://www.computerhistory.org/" target="_blank">web</a>.<br>
Aperto nel 1984, il CHM dispone di una enorme collezione di computer storici, sui quali è anche possibile far girare software originale (come SpaceWar!, il videogioco creato da Steve <codeshow>Russell</codeshow> per il PDP-1).<br><br>
Meno conosciuto del sito del CHM, ma per noi altrettanto interessante, c'è portale del <a href="http://www.softwarepreservation.org/" target ="_blank">Software Preservation Group</a>. Lo scopo del gruppo, attivo dal 2000, è quell di raccogliere, collezionare, preservare e presentare codice sorgente, documenti di progetto e manuali. Si possono trovare materiali su linguaggi (come ALGOL, APL, C++, FORTRAN, LISP, Prolog), su software storici (come NLS Augment o Dendral), ma anche su intere aree (come la programmazione funzionale e i sistemi operativi).<br>
Più di recente, alcuni produttori di software hanno deciso di regalare al CHM i sorgenti di alcuni programmi storici, come Adobe Photoshop 1.0.1, Microsoft MS-DOS 1.1, Microsoft Word 1.1 o Apple Lisa OS. Purtroppo i produttori non hanno pubblicato questi codici con una licenza opensource, e quindi la stessa consultazione online è vincolata all'accettazione di condizioni che ci impediscono di riportarli qui.<br>
Dal 2017 il CHM si è dotato di un Centro per la Storia del Software. Nel presentarlo, il presidente del CHM ha detto:
<pre>
    No people, no code. The story of software is the story of the people
    who make it, who use it and who are shaped by it.
</pre>
Il CHM elegge ogni anno un certo numero di "CHM Fellows", cioè di persone che hanno contribuito a cambiare il mondo attraverso i computer. Tra gli attori e le attrici che sono presenti in questa mostra ci sono alcuni CHM Fellows: Grace <codeshow>Hopper</codeshow>, Margaret <codeshow>Hamilton</codeshow>, John <codeshow>Backus</codeshow>, Ken <codeshow>Thomson</codeshow>, Guido <codeshow>van_Rossum</codeshow>, John<codeshow>McCarthy</codeshow>.
</p>


