<h1 id="Musei">Musei</h1>
<p>
Questa mostra è un'introduzione al mondo del codice e della programmazione dedicata a chi non ne conosceva nemmeno l'esistenza. <br>
E per gli addetti ai lavori? Dove trovare tutti i codici catalogati, commentati, ricercabili?<br>    
Insomma esistono musei del codice sorgente?<br/>
Purtroppo no. O meglio, ce ne sono tanti dedicati ai computer e alla storia dell'informatica in generale. Per esempio:
<ul>
<li>il <codeshow>CHM</codeshow>, Museo della Storia dei Computer di Mountain View, California;</li>
<li>il <a href="https://www.hnf.de/en/home.html" target="_blank">Museo Heinz Nixdorf</a> a Padernborn, in Germania;</li>
<li>il <a href="https://www.tnmoc.org/" target="_blank">Museo Nazionale del Calcolo</a> a Bletchey Park (tra Oxford e Cambridg, dove lavorò Alan Turing);</li>
</ul>

In italia ci sono:
<ul>
<li>il <a href="https://www.msc.sma.unipi.it/" target="_blank">museo degli strumenti per il calcolo</a> a Pisa</li>
<li>il <a href="http://www.museotecnologicamente.it/" target="_blank">museo dedicato ai computer Olivetti</a> a Ivrea</li>
<li>il <a href="https://museum.freaknet.org/it/" target="_blank">museo dell'informatica funzionante</a> a Palazzolo Acreide</li>
</ul>
Ci sono musei dedicati a categorie particolari di software, come i videogiochi:
<ul>
<li>il <a href="https://www.computerspielemuseum.de/1210_Home.htm" target="_blank">museo dei videogiochi</a> a Berlino;</li>
<li>il <a href="https://vigamus.com/" target="_blank">museo dei videogiochi</a> a Roma;</li>
</ul>
C'è la raccolta di pacchetti software curata dal MuPIn in occasione di CodeFest2021: <a href="https://www.mupin.it/software-expo/" target="_blank">Software Expo</a>. <br>
C'è un'iniziativa speciale: <codeshow>Software_Heritage</codeshow>. Non è propriamente un museo, ma un ambizioso progetto di raccogliere, catalogare e conservare tutto il codice sorgente aperto prima che scompaia.
<br><br>
Non c'è ancora un vero museo del codice, ma ci sarà presto: il <codeshow>museumofcode</codeshow> è un progetto di Codexpo.org insieme all'Università di Torino, nato in occasione del CodeFest 2021. <br>
Basato sul software opensource <a href="https://www.omeka.org" target="_blank">Omeka</a> e su uno schema di catalogazione realizzato per l'occasione, lo abbiamo appena aperto: ci vorrà un po' prima che sia davvero pieno di oggetti. Anche in questo caso, non solo codici ma anche manuali, articoli, biografie.<br>
</p>


