<h1 id="Museumofcode">Museo del codice</h1>
<p>
Si tratta di un progetto appena nato, frutto della collaborazione tra Codexpo.org e il Dipartimento di Informatica dell'Università di Torino.<br>
Mentre questa mostra è dedicata anche e soprattutto a chi non conosce il codice sorgente, il Museo è nato per soddisfare un'esigenza più "scientifica": censire codici sorgenti significativi, catalogarli, renderli ricercabili e accessibili.<br>
Ma non solo i codici: tutto quello che può essere necessario per comprenderli.<br>
Il Museo ospita quattro collezioni diverse
<ul>
<li>Linguaggi</li>
<li>Persone</li>
<li>Manuali</li>
<li>Codici</li>
</ul>

Ogni scheda è catalogata secondo lo schema Dublin Core, con campi variabili a seconda del tipo. Ad esempio, per un codice sorgente:

<ul>
<li>Title</li>
<li>Subject</li>
<li>Description</li>
<li>Creator</li>
<li>Source</li>
<li>Right</li>
<li>Format</li>
<li>Language</li>
<li>Date</li>
<li>Type</li>
<li>Identifier</li>
<li>Collection</li>
<li>Tags</li>
<li>Citation</li>
</ul>
Il museo permette una visita manuale, per così dire, tramite un browser; ma permette anche ad un software di esplorare il museo ed estrarre informazioni, magari per costruire elenchi filtrati, o per realizzare una visualizzazione grafica. <br>
Questo è possibile utilizzando le API (Application Programming Interface), che sono in pratica degli indirizzi web che non sono pensati per essere visitati da umani ma da software, perché non restituiscono pagine HTML ma dati in altri formati standard, di solito in JSON. Ad esempio:
<ul>
<li><a href="https://www.museumofcode.net/api/items">https://www.museumofcode.net/api/items</a> restituisce l'elenco di tutti gli items</li>
<li><a href="https://www.museumofcode.net/api/tags">https://www.museumofcode.net/api/tags</a> restituisce l'elenco di tutte le etichette usate per catalogare gli items</li>
<li><a href="https://www.museumofcode.net/api/resources">https://www.museumofcode.net/api/resources</a> restituisce l'elenco dei tipi di richieste disponibili</li>
</ul>
Questo è il primo pezzo del risultato della chiamata a items:
<pre>
[
	{
		"id":1,
		"url":"https:\/\/www.museumofcode.net\/api\/items\/1",
		"public":true,
		"featured":false,
		"added":"2021-10-04T22:22:07+00:00",
		"modified":"2021-10-04T22:56:06+00:00",
		"item_type":{
			"id":1,
			"url":"https:\/\/www.museumofcode.net\/api\/item_types\/1",
			"name":"Text",
			"resource":"item_types"
		},
		"collection":{
			"id":2,
			"url":"https:\/\/www.museumofcode.net\/api\/collections\/2",
			"resource":"collections"
		},
		"owner":{
			"id":1,
			"url":"https:\/\/www.museumofcode.net\/api\/users\/1",
			"resource":"users"
		},
		"files":{
			"count":0,
			"url":"https:\/\/www.museumofcode.net\/api\/files?item=1",
			"resource":"files"
		},
		"tags":[
</pre>
<br>
Il Museo è realizzato con <a href="https://omeka.org" target="_blank">Omeka</a>, che è un'applicazione LAMP (che significa che è basata su questi quattro software: Linux Apache MySql Php) sviluppata presso il centro Roy Rosenzweig for History and New Media, che è una parte del Dipartimento di Storia e Storia dell'arte della George Mason University, nello stato della Virginia.<br>
Lo sviluppo del software è iniziato nel 2007 ed è stato finanziato con fondi pubblici e privati. <br>
Ci sono due versioni di Omeka: Classic, che è la versione più semplice ed è basata su un paradigma relazionale, e S (che sta per Semantic), che è basata sul paradigma dei Linked Open Data.<br>
La differenza sostanziale è che in Omeka S i concetti con cui si definiscono gli oggetti catalogati sono parti di ontologie pubbliche, e non semplice etichette. <br>
Ad esempio, nel Museo del Codice Sorgente (che è basato sulla versione Classic di Omeka) esiste un item dedicato a John McCarthy, inventore del linguaggio Lisp:<br>
<a href="https://museumofcode.net/items/show/5" target="_blank">https://museumofcode.net/items/show/5</a>.<br>
In Omeka S non è la stringa "John McCarthy" che viene usata (e che potrebbe dare origini ad ambiguità, perché potrebbero esistere altri John McCarthy nel mondo), ma l'elemento Q92739, che è unico nell'ontologia di wikidata e si indica con una URI: https://www.wikidata.org/wiki/Q92739 <br>
Purtroppo allo stato attuale non esiste un'ontologia dei linguaggi di programmazione, e questo è uno scoglio che andra prima o poi rimosso.<br>
<br>
<br>
P.S. Omeka in Swahili significa "mostrare, aprire, spacchettare". 
</p>


