<h1 id="Software_Heritage" data-lat="48.84177" data-lon="2.38445" data-time="2016">Software Heritage</h1>
<p>Il progetto SH nasce nel 2016 all'INRIA di Parigi dal lavoro di Roberto di Cosmo e Stefano Zacchiroli. <br>
Il punto di partenza di Software Heritage è il riconoscimento del codice sorgente come una parte importante del nostro patrimonio culturale; è importante quanto la letteratura o le testimonianze della cultura materiale. <br>
Per poterlo studiare occorre prima di tutto raccoglierlo, catalogarlo e conservarlo, in maniera replicata e distribuita.<br>
Dal sito del progetto:
<pre>
    Cultural heritage is the legacy of physical artifacts
    and intangible attributes of a group or society
    that are inherited from past generations, maintained
    in the present and bestowed for the benefit of future generations.

    Software in source code form is produced by humans
    and is understandable by them; as such it is an important part
    of our heritage that we should not lose.

</pre>
Naturalmente una questione fondamentale è quella della licenza: solo i codici sorgenti con una licenza aperta possono essere raccolti e pubblicati. Non è sufficiente che un codice sia semplicemente reso disponibile per uso privato, ma occorre che tutti gli utenti abbiano il diritto di studiarlo, commentarlo e ridistribuirlo.<br>
Questo assunto è anche al centro della <a href="https://en.unesco.org/foss/paris-call-software-source-code">Dichiarazione di Parigi</a> dal titolo "Il codice sorgente come patrimonio per lo sviluppo sostenibile",  una dichiarazione congiunta tra INRIA e UNESCO del 2019 a cui hanno aderito tanti esponenti del mondo della cultura digitale.
<img src="Paris.png" alt="Paris Declaration" title="https://unesdoc.unesco.org">
Tra le richieste della dichiarazione a tutti gli Stati membri dell'UNESCO ci sono queste due fondamentali:
<pre>
    13. Recognise software source code as a precious asset of humankind,
    intersecting with human creativity, development, society and culture;
    14. Recognise software source code as a fundamental enabler in all
    aspects of human endeavor
</pre>
Mentre la prima riconosce il codice sorgente come oggetto culturale, la seconda lo pone ad un livello di piattaforma abilitante per tutti gli aspetti della vita dell'umanità. Sono parole molto forti che dovrebbero essere ricordate più spesso.<br>
<br>
La missione di SH è non solo quella di raccogliere e preservare il codice sorgente a licenza aperta, ma anche di indicizzarlo e renderlo raggiungibile da ovunque con una URI unica. Ad esempio, questa URI <a href="https://archive.softwareheritage.org/browse/revision/0064fbd0ad69de205ea6ec6999f3d3895e9442c2/?snapshot=2ad4e6cab37cbb98f3063cd1928c837156c95438">https://archive.softwareheritage.org/browse/revision/0064fbd0ad69de205ea6ec6999f3d3895e9442c2/?snapshot=2ad4e6cab37cbb98f3063cd1928c837156c95438</a> punta ad una precisa versione di codice sorgente di un programma in OCAML.<br> Una volta individuato, il codice può essere letto online, oppure scaricato.<br>
Oltre ad effettuare una ricerca tramite il motore accessibile via web, SH permette di accedere ai suoi archivi tramite delle API  (disponibile alla URL https://archive.softwareheritage.org/api/1/) che richiedono un'autenticazione per essere consumate.<br>
Come viene riempito l'archivio di SH? Fondamentalmente in tre modi.<br>
Prima di tutto, vengono scandagliati i repository di codice sorgente pubblici, come Github o BitBucket:
<img src="SH_sources.png" alt="SH Sources" title="https://www.softwareheritage.org">
Poi si permette agli utenti di proporre il proprio codice, o meglio di segnalare l'indirizzo del proprio repository Git, Subversion o Mercurial. <br>
Ma oltre alla ricerca tramite repository una fonte importante è costituita dal codice "legacy", cioè dal vecchio codice che è presente nelle aziende, nelle banche, negli istituti di ricerca, nelle università, magari su supporti magnetici o ottici di difficile lettura o addirittura su carta. La storia del codice dell'<codeshow>Apollo</codeshow> Guidance Computer mostra quanto sforzo sia necessario per rendere disponibile a tutti un sorgente vecchio di cinquant'anni.<br>
Proprio per guidare questa attività di raccolta e cura del codice è nata in seno a SH una nuova iniziativa: <a href="https://unesdoc.unesco.org/ark:/48223/pf0000371017">SWHAP</a> (SoftWare Heritage Aquisition Process) in collaborazione con UNESCO e l'Università di Pisa. SWAP prevede 4 passi:
<ul>
    <li>Collect: raccogliere i sorgenti dalle varie sorgenti e nei vari formati</li>
    <li>Curate: pulire, standardizzare e metadatare </li>
    <li>Archive: archiviare in forma sicura e distribuita</li>
    <li>Present: rendere accessibile in forma chiara e completa</li>
</ul>
ognuno dei quali convolge figure professionali diverse, strumenti diversi e ambienti di archiviazione diversi.<br>
<img src="SWHAP.png" alt="SWHAP" title="https://www.softwareheritage.org">
</p>


