<h1 id='concetti'>Concetti</h1>
        <p>I computer sono parte integrante della nostra vita che ne siamo consapevoli o no.  
            Ci sono computer dentro molti  degli oggetti che usiamo, e molti altri sono
            controllati a distanza da computer. Ma dei computer vediamo solo la parte fisica
            Siamo tutti abituati a usarli in maniera pressoché automatica e non ci facciamo più
            tante domande: perché funzionano in quel   modo? Cos'è che li fa funzionare in quel
            modo?
            <br>
            Per chi non ci vive dentro, il mondo dei computer è misterioso e magico. I computer
            fanno cose incredibili: sanno quello che vogliamo prima di noi. Sanno
            tutto e vedono tutto, sono velocissimi e occupano pochissimo spazio. Senza i
            computer, saremmo completamente persi: non sapremmo come scrivere, come fare i
            calcoli, orientarci, trovare le informazioni,  guidare una macchina o un aereo, fare
            un’ecografia.
            <br><br>
            L’unico momento in cui ci fermiamo a pensare è quando c’è un problema, quando
            il computer non fa quello che volevamo. Allora qualcuno più esperto di noi ci dice:
            “non è il computer che si è rotto, è il  programma che non funziona”. <br>
            Insomma, i  programmi sono quella cosa di cui ci   accorgiamo solo quando non funzionano.
            Per chi vive fuori dal mondo dei computer, restano solo domande e dubbi.
            <br><br>
            Per gli altri (i pochi altri: i programmatori),    non c’è nessun mistero. Di solito tendono
            anzi a sottolineare che i computer sono  stupidi e fanno solo quello che gli si dice.
            Non è proprio vero, ma lo dicono per far notare che il merito di tutte le magie dei
            computer è tutto loro, dei programmatori, che li hanno creati e plasmati in quel
            modo.   Per un programmatore, ogni programma   è un videogioco, un universo di cui lui ( o
            lei) è il creatore e padrone assoluto: inventa la storia, la mappa dei luoghi,
            assegna i poteri ai personaggi, dissemina le trappole. Programmare è un modo per
            sentirsi infinitamente potenti.
            <br><br>
           <img src="developer.jpg" alt="Developer" title="Web">
			

