
<h1 id="Errori">Errori</h1>

<p>
    Quando un programma fa una cosa diversa da quello che ci aspettavamo che facesse diciamo che "non funziona, c'è un errore". Ma non è così semplice. <br>
    Intanto: un programma gira, prima o poi, su una macchina fisica. Cloud o non cloud, SaaS, macchine virtuali: alla fin fine sotto a tutto c'è dell'hardware. <br>
    Il quale hardware, essendo regolato dalle leggi delle fisica, non può "sbagliare": può solo avere un comportamento che è spiegabile con una certa regola (fisica) invece di un'altra.<br>
    Ovvero: quando un processore si surriscalda perché è stato caricato di troppi compiti contemporanamente, non si è perso, sta solo obbendendo ad una legge fisica precisa.<br>
    Naturalmente chi ha progettato quella macchina, o chi ha progettato il sistema operativo, avrebbe potuto e dovuto assicurarsi con un monitoraggio continuao che quella situazione non si verificasse mai.<br><br>
    Se saliamo di livello, cioè dall'hardware passiamo al software, troviamo una situazione simile: un programma non fa mai una cosa sbagliata: fa quello che le regole dell'informatica gli permettono di fare. Se il linguaggio prevede che una variabile possa assumere un valore diverso da quello iniziale, allora questo evento può accadere; se invece il linguaggio era di quelli in cui non si può riassegnare un valore ad una variabile, o in cui il tipo della variabile è definito una volta per tutto, allora il tentativo di cambiare valore produrrà un effetto diverso: il blocco di quell'istruzione, la notifica di violazione della regola, o addirittura l'interruzione di tutto il programma. Tutto questo secondo le regole del linguaggio e del suo interprete o compilatore. <br>
    Come per l'hardware, se il programma si comporta diversamente da come avevamo immaginato noi utenti (o noi programmatori) significa che il suo comportamente ha preso una strada diversa, ma che dal punto di vista informatico non può che essere corretta perché possibile.<br>
    <h2>Insomma, i programmi hanno sempre ragione e i programmatori torto?</h2>
    No. Ma trovare e correggere un errore non è affatto una cosa semplice, proprio perché si tratta di capire quale strada, tra tutte quelle possiibli, ha preso il flusso del programma. E' come un gigantesco flipper con una pallina che invece di seguire un certo percorso (quello immaginato e programmato) ne segue un altro, ugualmente possibile ma che non era stato previsto.<br>
    Si dice che in media nello sviluppo di un software si passi 30 % del tempo a scrivere il codice e il 70% a correggerlo.<br>
    E' anche per questo che è importante non solo quello che si scrive, ma anche <strong>come</strong> lo si scrive: ogni codice, non fosse altro che per essere corretto, verrà letto moltissime volte, non solo da chi l'ha scritto ma anche da altri.  <br>
    <img src="Flipper.jpg" alt="Flipper" title="https://www.turbosquid.com">
</p>


