<h1 id="Esecuzione_Codice">Esecuzione del codice sorgente </h1>
<p>
    I codici sorgenti, di solito, vengono scritti per essere eseguiti da un computer. Di solito, perché ci sono codici scritti come esempio, per insegnare, o per dimostrare qualcosa. Ma in generale, lo scopo di un codice è quello di essere eseguito.
    Cosa significa esattamente? Che, a seconda del tipo di linguaggio, il sorgente deve essere<br>
    <ul>
        <li>verificato per la correttezza lessicale </li>
        <li>verificato per la correttezza sintattica</li>
        <li>verificato per la correttezza semantica</li>
        <li>collegato a tutte le librerie di funzioni citate</li>
        <li>tradotto in un linguaggio binario per un determinato computer</li>
    </ul>
    Questi passi possono essere compiuti ad ogni esecuzione, oppure una volta per tutte. Può anche darsi che la versione finale non sia veramente un codice binario specifico di un certo computer, ma una versione intermedia che può essere eseguita da una macchina virtuale, come è il caso di Java.<br>
    Gli errori più semplici sono quelli che emergono nelle prime fasi del processo. Anzi, spesso oggi non serve nemmeno arrivare fino lì: è l'IDE con cui si scrive il codice che segnale gli errori sintattici o la presenza di termini sconosciuti, o ancora gli errori di tipo semantico: una funzione che viene chiamata con un numero di parametri minore di quelli previsti nella definizione, o di un tipo diverso.<br>
    I veri problemi nascono quando tutti questi controlli sono stati superati ma il risultato finale non è quello atteso, oppure chiaramente il programma si blocca. Sono gli errori "runtime", gli errori che dipendono dal contesto di esecuzione: ad esempio dati mancanti, o eccessivi, o di un tipo non previsto.<br>
    Al momento dell'esecuzione  vengono alla luce anche tutti i problemi di velocità: un codice può essere corretto, ma impiegare un tempo inaccettabile per la sua esecuzione. In questi casi si può ricorrere ad un approccio hardware (utilizzare un computer più potente o aumentare le risorse disponibili) oppure ripensare il codice tenendo conto dell'efficienza. <br>
    Ci sono alcuni linguaggi intrinsecamente più veloci di altri: si trovano spesso dei confronti sul tempo impiegato da algoritmi identici eseguiti dulla stessa macchina in linguaggi diversi.<br>
    Ci sono anche algoritmi più veloci di altri, a parità di tutto il resto. Il caso dell'ordinamento è uno dei più noti: a partire dall'algoritmo più naturale (l'inserimento), sono stati inventati algoritmi più veloci (l'ordinamento a bolle, l'ordinamento "quick"). Come fanno ad essere più veloci? perché raggiungono il risultato con meno operazione, certo, ma come fanno? In generale, il trucco è non perdere informazioni strada facendo: se una parte dell'insieme di elementi è già parzialmente ordinato, questa informazione viene conservata nel processo.<br>
    
    <br>
    <figure>
        <img src="Esecuzione.jpg" width="375" height="450" alt="Codice in esecuzione">
        <figcaption>https://commons.wikimedia.org/wiki/File:Gnat_programming_studio_6.png</figcaption>
    </figure>
</p>

<br>
<br>
<p><i>A cura di: Douma Zakaria</i></p>
