<h1 id='hackers'>Hackers</h1>
 Anche se non siamo programmatori, magari abbiamo visto qualche film in cui il protagonista un ragazzo con un
 cappuccio sulla testa, piegato su una   tastiera in una stanza buia piena di  schermi. <br />
 Questo personaggio misterioso, tra un sorso di caffè americano e una manciata  di patatine, batte furiosamente sui tasti e    produce una lunga sequenza di 0 e 1.<br />
<img src="Keyboard.png" alt="Keywboard" title="https://reddit.com">
 Ma i programmatori sono tutti hacker? Tutti personaggi inquietanti che agiscono di notte, entrano nelle case delle persone per bene e minacciano la sicurezza delle nonne?<br /> 
<p> Questa immagine del programmatore  solitario che cerca di entrare in un sistema   informatico è un po'   riduttiva, nel senso che non tutti i   programmatori sono hacker, e hacker non significa solo ladro.<br />
  La parola "hacker" è stata usata in senso   negativo, come sinonimo di pirata   informatico, ma non nasce cosi. <br>
  La cultura hacker nasce negli USA negli anni sessanta   come ribellione ad un modo di intendere  l'informatica che si stava affermando nelle   Università e nelle aziende. <br />
  Un hacker era   semplicemente un programmatore più  interessato a risolvere un problema che a  rispettare delle regole che considerava solo  vincoli assurdi. <br />
  Da questa cultura nasce il movimento del Free Software, che è quello che ha portato allo sviluppo di Linux, di Apache, e di decine di migliaia di software senza i quali oggi non potremmo vivere.
  </p>

   
