<h1 id='linguaggi'>Linguaggio o linguaggi?</h1>
<p>
Un luogo comune che va sfatato è che i programmatori passino il tempo a riempire lo schermo di 0 e 1 perché, si sa, i computer sono binari. Davvero?<br />
Intanto: se fosse così, perché avere una   tastiera con 80 tasti? Ne basterebbero due,no?<br />
<img src="Keyboard.png" alt="Keyboard" title="https://reddit.com">
In realtà, negli anni'40 i programmatori erano costretti a scrivere in codice binario, perché quello era l'unico linguaggio comprensibile dai computer.<br />
Quegli stessi programmatori, insieme agli altri studiosi delle nascente informatica, hanno inventato dei linguaggi più facili da >usare per gli umani, i cosiddetti linguaggi "di alto livello". <br />
Il trucco è stato quello di spostare il compito difficile dall'umano al computer (d'altra parte è stato inventato appunto per fare cose difficili, oltre che ripetitive) ovvero insegnare ai computer a leggere i programmi scritti con quei nuovi linguaggi.<br />
Insomma, programmare non è mettere in sequenza caratteri strani, ma costruire  una storia, inventare attori e scenari,   immaginare finali.<br />
Certo vanno usati strumenti formali, cioè i   linguaggi di programmazione, e anche degli strumenti tecnici, cioè gli ambienti di scrittura. <br />    
Ma ciò che davvero fa la differenza tra un  programmatore mediocre e un ottimo   programmatore è una <strong>visione</strong> che lega le parti con il tutto in una narrazione coerente e convincente.<br />
</p>
