<h1 id="Programmi">Programmi</h1>
<p>
Non tutti sanno cosa è il codice sorgente. Ma forse nemmeno sanno bene cosa è un programma. Perciò cominciamo da qui.<br />
Il computer è una macchina, su questo non ci sono discussioni. Infatti, come tutte le macchine, a volte si rompe. <br>
Ma è una macchina speciale. La differenza tra i computer e le altre macchine è che mentre le macchine fanno una sola cosa (quella per cui sono state costruite) i computer possono fare cose diverse in base ad un "programma", come quello delle lavatrici, che ne decide le azioni e i tempi.<br />
<img src="Lavatrice.jpg" alt="Lavatrice" title="https://pixnio.com">
Ma i programmi dei computer sono un po' più complicati di quelli delle lavatrici: sono delle ricette complesse che comprendono azioni che i computer sono in grado di eseguire in base al verificarsi di certe situazioni.<br />
Queste ricette non coincidono con la struttura dei computer (come per le altre macchine) ma possono essere inserite, cancellate, modificate, anche mentre vengono eseguite.<br />
Non solo: i programmi non sono per forza elenchi di azioni già fatti: i programmi possono crescere, possono imparare, possono differenziarsi e insomma evolvere. Questo non per magia, ma perché sono scritti con un linguaggio, e i linguaggi, si sa, sono lo strumento più potente che abbiamo mai inventato.<br />
Possiamo fissare alcuni punti, che sono quelli da cui siamo partiti per disegnare una Mostra del Codice Sorgente:<br />

<strong>Il codice sorgente è un patrimonio culturale</strong>
Il codice sorgente è una parte fondamentale della cultura della fine del secondo millennio - e presumibilmente di tutto quello appena iniziato.<br />
<i>Per questo va raccolto, conservato, selezionato ed esposto.</i><br />
<strong>Programmare è scrivere </strong><br>
Progettare e realizzare codice sorgente è un'attività umana piuttosto nuova, ma che assomiglia alle altre attività di scrittura di testi che pratichiamo da millenni.<br />
<i>Per questo va studiata, capita e insegnata.</i><br>
E' per queste stesse ragioni che è nato a PArigi un progetto altrettanto unico al mondo: <a href="https://softwareheritage.org">Software Heritage</a>.
</p>
